<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">
  <div class="panel panel-body">
    <header>
      <h4 class="text-center"><%= @year %>年
                                            <% if @month.count == 0 %>
                                            <% elsif @month.count == 1 %>
                                              <%= @month.first %>月
                                            <% else %>
                                              <%= @month %>月
                                            <% end %>
                                            工效挂钩明细表
      </h4>
    </header>

    <div class="content-body">
      <%= form_tag workshop_relative_salers_path,method: :get do %>
        <select class="" style="display:inline-block;" name="year">
          <% @years.each do |year| %>
            <% if @year == year %>
              <option value="<%= year %>" selected><%= year %></option>
            <% else %>
              <option value="<%= year %>"><%= year %></option>
            <% end %>
          <% end %>
        </select>年
        ~
        <span style="display:inline-block;width:200px;position:relative;top:5px;">
          <select class="form-control" name="month[]" multiple="multiple" id="month-multiple">
            <% @months.each do |month| %>
              <% if @month.include?(month) %>
                <option value="<%= month %>" selected><%= month %></option>
              <% else %>
                <option value="<%= month %>"><%= month %></option>
              <% end %>
            <% end %>
          </select>
        </span>月
        <%= submit_tag :筛选,:data => {:disable_with => "筛选中..."}%>
      <% end %>
      <% if (current_user.has_role? :organsadmin) || (current_user.has_role? :workshopadmin) %>
        <%= link_to("删除表格",delete_workshop_relative_salers_workshop_relative_salers_path(:year => @year,:month => @month),method: :delete,:data => {confirm: "您确定要删除#{@year}年#{@month}月工效挂钩明细表吗？"},class:"btn btn-primary-upload pull-right") %>
        <%= link_to("上传工挂明细表",show_modal_workshop_relative_salers_path, remote: true,class:"btn btn-primary-upload pull-right", "data-toggle" => "modal", "data-target" => "#myModal") %>
      <% end %>
      <%= link_to("导出表格",workshop_relative_salers_path(:year => @year,:month => @month,format: "xls"),class:"btn btn-primary-upload pull-right") %>
      <div class="content-table" style="clear:both;">
        <table>
          <thead>
            <tr>
              <th>序号</th>
              <th>科室车间</th>
              <th>姓名</th>
              <th>工资号</th>
              <th>挂钩工资</th>
              <th>安全质量</th>
              <th>工作质量</th>
              <th>行车</th>
              <th>整改返奖</th>
              <th>一体化</th>
              <th>兼职兼岗</th>
              <th>考核扣款</th>
              <th>其他</th>
              <th>应发</th>
              <th>小计</th>
              <% (["标准化","星级岗"] + @head_hash.keys).each do |key| %>
                <th><%= link_to(key,single_award_upload_workshop_relative_salers_path(:name => key), remote: true, "data-toggle" => "modal", "data-target" => "#myModal") %></th>
              <% end %>
              <th>备注</th>

            </tr>
          </thead>
          <tbody>
            <% n = 0 %>
            <% @workshop_relative_salers.each do |sal_number,items| %>
              <% workshop_single_awards = WorkshopSingleAward.where(:upload_year => @year ,:upload_month => @month,:工资号 => sal_number)%>
              <% n += 1 %>
              <tr>
                <th><%= n %></th>
                <th><%= items.first.科室车间 %></th>
                <th><%= items.first.姓名 %></th>
                <td><%= sal_number %></td>
                <td><%= items.map{|x| x.挂钩工资.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.安全质量.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.工作质量.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.行车.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.整改返奖.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.一体化.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.兼职兼岗.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.考核扣款.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.其他.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.应发.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.小计.to_f.round(2)}.sum %></td>
                <td></td>
                <td></td>
                <% @head_hash.values.each do |value| %>
                  <td><%= workshop_single_awards.map{|x| x.send(value).to_f.round(2)}.sum %></td>
                <% end %>
                <td><%= items.map{|x| x.备注}.join(";") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
    <div id="showModal"></div>
    <div id="single_award_upload"></div>
  </div>
</div>
<script>
  $("#month-multiple").select2( { theme: "bootstrap"} );
</script>
