<div class='col-md-12'>
  <div class="card">
    <div style="overflow: auto; width: 100%;">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>序号</th>
            <th>科室车间</th>
            <th>扣款合计</th>
            <th>挂钩考核扣款</th>
            <th>安全业绩扣分</th>
            <th>安全业绩扣款</th>
            <th>生产经营绩效扣款</th>
            <th>总重吨公里扣分</th>
            <th>总重吨公里扣款</th>
            <th>综合指标扣分</th>
            <th>综合指标扣款</th>
            <th>设备质量扣分</th>
            <th>设备质量扣款</th>
            <th>盈亏结果扣分</th>
            <th>盈亏结果扣款</th>
            <th>安全质量扣分</th>
            <th>安全质量扣款</th>
            <th>工作质量扣分</th>
            <th>工作质量扣款</th>
            <th><%= link_to "抽考扣款",examination_charges_path,:style => "color: #1976D2;" %></th>
            <th><%= link_to "红牌中层扣款",red_middle_charges_path,:style => "color: #1976D2;" %></th>
            <th>处分扣款</th>
            <th>其他扣款</th>
            <th>安全质量考核中牌卡扣分</th>
            <th>安全质量考核中牌卡扣款</th>
          </tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% @charge_details.each do |workshop,items| %>
            <% n += 1 %>
               <td><%= n %></td>
               <td><%= workshop %></td>
               <td><%= items.map{|item| item.扣款合计.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.挂钩考核扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.安全业绩扣分.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.安全业绩扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.生产经营绩效扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.总重吨公里扣分.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.总重吨公里扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.综合指标扣分.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.综合指标扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.设备质量扣分.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.设备质量扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.盈亏结果扣分.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.盈亏结果扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.安全质量扣分.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.安全质量扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.工作质量扣分.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.工作质量扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.抽考扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.红牌中层扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.处分扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.其他扣款.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.安全质量考核中牌卡扣分.to_f.round(2)}.sum  %></td>
               <td><%= items.map{|item| item.安全质量考核中牌卡扣款.to_f.round(2)}.sum  %></td>
            </tr>
          <% end %>
       </tbody>
      </table>
    </div>
  </div>


</div>
