<%= render 'relative_salers/saler_navbar'%>
<div class="back-btn" >
  <%= link_to "返回", charge_details_path %>
  <span class="btn-separator-item">|</span>
  <span class="upload-font">上传扣款明细表</span>
</div>

<%= form_tag import_charge_details_path, multipart: true, method: 'post' do %>

  <div class="container">
      <div class="col-sm-6" style="height: 120px; width: 300px">
          <div class="form-group">
              <div class='input-group date' id='datetimepicker10'>
                <input type='text' name="upload_time" id="upload_time" class="form-control" placeholder="点击右侧按钮选择日期" />
                  <span class="input-group-addon" style="margin-left: -20px">
                      <span class="glyphicon glyphicon-calendar">
                      </span>
                  </span>
              </div>
          </div>
      </div>
  </div>

  <%= file_field_tag :file %>
  <%= submit_tag "保存", :class => "btn btn-primary" %>

<% end %>

<script type="text/javascript">
  $(function () {
      $('#datetimepicker10').datetimepicker({
          viewMode: 'years',
          format: 'YYYY-MM',
          locale: moment.locale('zh-cn')
      });
  });
</script>
