<%= render 'relative_salers/saler_navbar'%>


<%= form_for @charge_detail do |f| %>

<div class="container">
    <div class="col-sm-6" style="height:130px; width: 300px">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker10'>
                <%= f.text_field :upload_time, :class => "form-control" %>
                <!-- <input type='text' class="form-control" /> -->
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

<%= f.submit "Save", :class => "btn btn-primary" %>

<% end %>


<%= form_tag import_red_middle_charges_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag  "上传"%>
<% end %>




<script type="text/javascript">
    $(function () {
        $('#datetimepicker10').datetimepicker({
            viewMode: 'years',
            format: 'YYYY-MM',
            locale: moment.locale('zh-cn')
        });
    });
</script>
