<%= render 'relative_salers/saler_navbar'%>


<%= form_tag import_charge_details_path, multipart: true, method: 'post' do %>

  <div class="container">
      <div class="col-sm-6" style="height:130px; width: 300px">
          <div class="form-group">
              <div class='input-group date' id='datetimepicker10'>
                  <%= text_field_tag :upload_time, :class => "form-control" %>
                  <!-- <input type='text' class="form-control" /> -->
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar">
                      </span>
                  </span>
              </div>
          </div>
      </div>
  </div>

  <%= file_field_tag :file %>
  <%= submit_tag "Save", :class => "btn btn-primary" %>

<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker10').datetimepicker({
            viewMode: 'years',
            format: 'YYYY-MM',
            locale: moment.locale('zh-cn')
        });
    });
</script>
