<div class="panel-heading">
  <div class="wage-navbar">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/score_weights/show_weight">分数比例设置</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">星级比例设置</a>
      </li>
    </ul>
  </div>
</div>

<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">
  <div class="panel panel-body">
    <header>
      <h4>当前各星级比例：</h4>
    </header>
    <div class="content-body"> 
      <div class="content-table" style="clear:both;">
        <table>
          <thead>
			<tr>
			  <th>星级</th>
			  <th>人员比例</th>
			  <th>奖励金额</th>
			</tr>
		  </thead>
		  <tbody>
			<% star = {5=>"五", 4=>"四", 3=>"三", 2=>"二", 1=>"一"} %>
			<% star.each do |i| %>
				<tr>
					<td><%= i[1] %>星：</td>
					<% if StarRange.find_by(name: i[0]).present? %>
						<td>
							<%= (StarRange.find_by(name: i[0]).f_type) %><%= ((StarRange.find_by(name: i[0]).value) * 100).to_i %>%
						</td>
						<td>
							<%= (StarRange.find_by(name: i[0]).money) %>元
						</td>
					<% else %>
					    <td colspan="2" style="color:red;">未设置</td>
					<% end %>
				</tr>
			<% end %>
		  </tbody>
        </table>
      </div>
      <header>
        <h4>编辑各星级比例：</h4>
      </header>
      <div class="content-table" style="clear:both;">
        <%= form_tag update_range_star_ranges_path(method: :post) do %>
	        <table>
	        	<thead>
	        		<tr>
						<th>星级</th>
						<th>人员比例</th>
						<th>奖励金额</th>
					</tr>
	        	</thead>
	        	<tbody>
	        		<% star = {5=>"五", 4=>"四", 3=>"三", 2=>"二", 1=>"一"} %>
					<% star.each do |i| %>
					<tr>
						<td><%= i[1] %>星：</td>
						<td>
							<% f_type = ("f_type") + i[0].to_s %>
							<% value = ("value") + i[0].to_s %>
							<% money = ("money") + i[0].to_s %>
							<% if StarRange.find_by(name: i[0]).present? %>
							  <select>
							  	<% ["大于等于", "小于等于"].each do |f_type| %>
								  	<% if StarRange.find_by(name: i[0]).f_type == f_type %>
								  	  <option value="<%= f_type %>" selected ><%= f_type %></option>
								  	<% else %>
								  	  <option value="<%= f_type %>"><%= f_type %></option>
								  	<% end %>
							  	<% end %>
							  </select>
							  <%= text_field_tag :"#{value}", StarRange.find_by(name: i[0]).value*100, required: "true" %>%
							<% else %>
							  <%= select_tag(:"#{f_type}", options_for_select(["大于等于", "小于等于"]), {:required => "true"}) %>
							  <%= text_field_tag :"#{value}", nil, required: "true" %>%
							<% end %>
						</td>
						<td>
							<% if StarRange.find_by(name: i[0]).present? %>
							  <%= text_field_tag :"#{money}",StarRange.find_by(name: i[0]).money,required: "true" %>元
							<% else %>
							  <%= text_field_tag :"#{money}",nil,required: "true" %>元
							<% end %>
						</td>
					</tr>
					<% end %>
	        	</tbody>
	        </table> 
	        <%= submit_tag :确定修改, class: "btn button-success" %>
	    <% end %> 
	  </div>    
    </div>
  </div>
</div>








	
