<h3>这是当前星级范围页面</h3>

<h4>当前各星级比例如下：</h4>
<table class="table table-bordered">
	<tr>
		<th>星级</th>
		<th>人员比例</th>
		<th>奖励金额</th>
	</tr>
	<% star = {5=>"五", 4=>"四", 3=>"三", 2=>"二", 1=>"一"} %>
	<% star.each do |i| %>
		<tr>
			<td><%= i[1] %>星：</td>
			<td><%= (StarRange.find_by(name: i[0]).range_type) %><%= ((StarRange.find_by(name: i[0]).value) * 100).to_i %>%</td>
			<td><%= (StarRange.find_by(name: i[0]).money) %>元</td>
		</tr>
	<% end %>
</table>

<h4>编辑星级比例：</h4>
<%= form_tag update_range_star_ranges_path(method: :post) do %>
	<table class="table table-bordered">
		<tr>
			<th>星级</th>
			<th>人员比例</th>
			<th>奖励金额</th>
		</tr>
		<% star = {5=>"五", 4=>"四", 3=>"三", 2=>"二", 1=>"一"} %>
		<% star.each do |i| %>
		<tr>
			<td><%= i[1] %>星：</td>
			<td>
				<% range_type = ("range_type") + i[0].to_s %>
				<% value = ("value") + i[0].to_s %>
				<% money = ("money") + i[0].to_s %>
				<%= select_tag(:"#{range_type}", options_for_select(["大于等于", "小于等于"]), {:required => "true", star: i[0]}) %>
				<%= text_field_tag :"#{value}", nil, required: "true", star: i[0] %>%
			</td>
			<td><%= text_field_tag :"#{money}"%>元</td>
		</tr>
		<% end %>
	</table>
	<%= submit_tag :确定修改 %>
<% end %>
