<div class="container">
  <div class="col-md-6 col-md-offset-2">
  <div class="back-btn" style="margin-bottom: 10px;">
    <%= link_to '返回首页', '/'%>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" style="font-size: 15px;">现员模块相关</div>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge" style="background: #fff; color: black"><%= link_to "点击下载", download_emp_table_template_announcements_path(format: "xls") %></span>
        现员表
      </li>
    </ul>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" style="font-size: 15px;">奖惩管理相关</div>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge" style="background: #fff; color: black"><%= link_to "点击下载", download_table_template_announcements_path(format: "xls")%></span>
        工挂工资明细表
      </li>
      <li class="list-group-item">
        <span class="badge" style="background: #fff; color: black"><%= link_to "点击下载", download_charge_details_table_template_announcements_path(format: "xls")%></span>
        考核扣款明细表
      </li>
      <li class="list-group-item">
        <span class="badge" style="background: #fff; color: black"><%= link_to "点击下载", download_rectification_awards_table_template_announcements_path(format: "xls")%></span>
        整改返奖明细表
      </li>
      <li class="list-group-item">
        <span class="badge" style="background: #fff; color: black"><%= link_to "点击下载", download_examination_awards_table_template_announcements_path(format: "xls")%></span>
        抽考返奖明细表
      </li>
      <li class="list-group-item">
        <span class="badge" style="background: #fff; color: black"><%= link_to "点击下载", download_middle_awards_table_template_announcements_path(format: "xls")%></span>
        中层返奖明细表
      </li>
      <li class="list-group-item">
        <span class="badge" style="background: #fff; color: black"><%= link_to "点击下载", download_teamleader_awards_table_template_announcements_path(format: "xls")%></span>
        班组长返奖明细表
      </li>
      <li class="list-group-item">
        <span class="badge" style="background: #fff; color: black"><%= link_to "点击下载", download_other_awards_table_template_announcements_path(format: "xls")%></span>
        其他返奖明细表
      </li>
      <li class="list-group-item">
        <span class="badge" style="background: #fff; color: black"><%= link_to "点击下载", download_people_change_table_template_announcements_path(format: "xls")%></span>
        人员变动情况表
      </li>

    </ul>
  </div>
  </div>
</div>
