<div class="modal fade" id="editWorkshopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">编辑车间</h4>
      </div>
      <div class="modal-body">
          <%= form_tag edit_workshop_employees_path, method: 'post' do %>
            <%= label_tag :修改前的车间名称：%>
            <%= Workshop.find(@workshop_id).name %>
            <br>
            <%= hidden_field_tag :workshop_id,@workshop_id %>
            <%= label_tag :请输入修改后的车间名称 %>
            <%= text_field_tag :workshop_name, nil, required: true %>
            <br>
            <%= submit_tag :确定, :data => {:disable_with => "提交中..."} %>
          <% end %>
      </div>
    </div>
  </div>
</div>
