<div class="modal fade" id="mergeGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">合并班组</h4>
      </div>
      <div class="modal-body">
          <%= form_tag merge_group_employees_path, method: 'post' do %>
            <% Workshop.all.each do |workshop| %>
              <h5><%= label_tag :q, "#{workshop.name}"%><br></h5>   
              <% workshop.groups.each do |group| %>   
                &nbsp; &nbsp;<%= check_box_tag "groups[]", group.id %>
                <%= label_tag :q, "#{group.name}"%><br>      
              <% end %>  
            <% end %>
            <%= label_tag :请输入合并后的班组名称 %>
            <%= text_field_tag :merge_group, nil, required: true %>
            <%= label_tag :请输入该班组所属的车间名称 %>
            <%= text_field_tag :workshop, nil, required: true %>
            <%= submit_tag :确定 %>
            <h6>注意：合并后，您选中班组下的人员会统一属于您填写的班组</h6>
          <% end %>
          
      </div>
    </div> 
  </div>
</div>