
<div class="contentpanel">

  <!-- 年龄分析饼图-开始  -->
  <!-- 给饼图准备一个合适大小的dom  -->

<%= form_tag age_statistical_analysis_employees_path, method: 'get' do %>
  <%= select_tag(:data_source, options_for_select(["全员", "干部", "工人"]), {:prompt => "请选择", :required => "true"}) %>
  <%= submit_tag :点击筛选 %>
<% end %>
<div id="sa-main">
 <div id="dashboard">
  <div class="dashboard-toolbar">
    <span contenteditable="false" class="dashboard-name" data-originname="年龄分析"><%= @data_source %>年龄分析</span>
    <span class="icon-edit not-match-authority" data-method="edit-focus" style="display: none;"></span>
  </div>


 <div class="bd" style="width: 98%;">
    <div class="widget-container" data-widgetid="1" data-size="normal">
      <div class="widget-content-container">
        <div class="mark-contend"></div>
           <div class="widget-topbar" style="cursor: auto;">
             <div class="widget-title">
               <div class="title" data-method="nav" style="padding-top: 10px;">
                  年龄分析饼图
               </div>
               <div class="range">
                 <%= Time.now.strftime(("%Y年%m月%d日") )%>
               </div>
             </div>
             <div class="pull-right widget-setting">
               <div class="customer-menu"></div>
             </div>
           </div>

           <div class="widget-chart-container container">
             <div class="col-md-12" data-container="side"></div>
             <div id="container1" style="height: 354px"></div>
           </div>
       </div>
     </div>


     <div class="widget-container" data-widgetid="1" data-size="normal">
       <div class="widget-content-container">
         <div class="mark-contend"></div>
            <div class="widget-topbar" style="cursor: auto;">
              <div class="widget-title">
                <div class="title" data-method="nav" style="margin-top: 10px;">
                   全段年龄分析表格
                </div>
                <div class="range">
                  <%= Time.now.strftime(("%Y年%m月%d日") )%>
                </div>
              </div>
              <div class="pull-right widget-setting">
                <div class="customer-menu"></div>
              </div>
            </div>

            <div class="widget-chart-container container">
              <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:20px ;overflow: auto">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="color: blue; font-size:17px;">年龄段</th>
                      <td style="color: blue; font-size:17px;">人数</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=25岁以下&data_source=<%= @data_source %>">
                      <th>25岁以下</th>
                      <td><%= @age_25_below %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=26-30岁&data_source=<%= @data_source %>">
                      <th>26-30岁</th>
                      <td><%= @age_26 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=31-35岁&data_source=<%= @data_source %>">
                      <th>31-35岁</th>
                      <td><%= @age_31 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=36-40岁&data_source=<%= @data_source %>">
                      <th>36-40岁</th>
                      <td><%= @age_36 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=41-45岁&data_source=<%= @data_source %>">
                      <th>41-45岁</th>
                      <td><%= @age_41 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=46-50岁&data_source=<%= @data_source %>">
                      <th>46-50岁</th>
                      <td><%= @age_46 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=51-55岁&data_source=<%= @data_source %>">
                      <th>51-55岁</th>
                      <td><%= @age_51 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=56岁以上&data_source=<%= @data_source %>">
                      <th>56岁以上</th>
                      <td><%= @age_56_up %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>


      <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 50px; margin-bottom: 50px; width:100%; height: 600px;">
        <div class="widget-content-container">
          <div class="mark-contend"></div>
             <div class="widget-topbar" style="cursor: auto;">
               <div class="widget-title">
                 <div class="title" data-method="nav" style="padding-top:10px">
                    年龄分析条形图
                 </div>
                 <div class="range">
                   <%= Time.now.strftime(("%Y年%m月%d日") )%>
                 </div>
               </div>
               <div class="pull-right widget-setting">
                 <div class="customer-menu"></div>
               </div>
             </div>

             <div class="widget-chart-container container">
               <div class="col-md-12" data-container="side"></div>
               <!-- 年龄分析条形图-开始  -->
               <!-- 给条形图准备一个合适大小的dom  -->
               <div id="container2" style="height: 600px"></div>
             </div>
         </div>
       </div>


       <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 10px; margin-bottom: 50px; width:100%; height: 400px;">
         <div class="widget-content-container">
           <div class="mark-contend"></div>
              <div class="widget-topbar" style="cursor: auto;">
                <div class="widget-title">
                  <div class="title" data-method="nav" style="margin-top: 10px;">
                     各车间年龄分析表格
                  </div>
                  <div class="range" style="margin-bottom: 0px;">
                    <%= Time.now.strftime(("%Y年%m月%d日") )%>
                  </div>
                </div>
                <div class="pull-right widget-setting">
                  <div class="customer-menu"></div>
                </div>
              </div>

              <div class="widget-chart-container container">
                <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
                  <table id="chart_table" class="table table-bordered">
                    <thead>
                      <tr>
                        <th></th>
                        <% @workshops.each do |workshop| %>
                            <th><%= Workshop.current.find(workshop.to_i).name %></th>
                        <% end %>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>25岁以下</td>
                        <% n = 0 %>
                        <% @age_25_below_bar.each do |i| %>
                          <td><%= link_to i, statistical_analysis_data_employees_path(:age => "25岁以下", workshop: @workshops[n], data_source: @data_source), style: "color: black" %></td>
                          <% n = n+ 1%>
                        <% end %>
                      </tr>
                      <tr>
                        <td>26-30岁</td>
                        <% n = 0 %>
                        <% @age_26_bar.each do |i| %>
                          <td><%= link_to i, statistical_analysis_data_employees_path(:age => "26-30岁", workshop: @workshops[n], data_source: @data_source), style: "color: black" %></td>
                          <% n = n+1 %>
                        <% end %>
                      </tr>
                      <tr>
                        <td>31-35岁</td>
                        <% n = 0 %>
                        <% @age_31_bar.each do |i| %>
                          <td><%= link_to i, statistical_analysis_data_employees_path(:age => "31-35岁", workshop: @workshops[n], data_source: @data_source), style: "color: black" %></td>
                          <% n = n+1 %>
                        <% end %>
                      </tr>
                      <tr>
                        <td>36-40岁</td>
                        <% n = 0 %>
                        <% @age_36_bar.each do |i| %>
                          <td><%= link_to i, statistical_analysis_data_employees_path(:age => "36-40岁", workshop: @workshops[n], data_source: @data_source), style: "color: black" %></td>
                          <% n = n+1 %>
                        <% end %>
                      </tr>
                      <tr>
                        <td>41-45岁</td>
                        <% n = 0 %>
                        <% @age_41_bar.each do |i| %>
                          <td><%= link_to i, statistical_analysis_data_employees_path(:age => "41-45岁", workshop: @workshops[n], data_source: @data_source), style: "color: black" %></td>
                          <% n = n+1 %>
                        <% end %>
                      </tr>
                      <tr>
                        <td>46-50岁</td>
                        <% n = 0 %>
                        <% @age_46_bar.each do |i| %>
                          <td><%= link_to i, statistical_analysis_data_employees_path(:age => "46-50岁", workshop: @workshops[n], data_source: @data_source), style: "color: black" %></td>
                          <% n = n+1 %>
                        <% end %>
                      </tr>
                      <tr>
                        <td>51-55岁</td>
                        <% n = 0 %>
                        <% @age_51_bar.each do |i| %>
                          <td><%= link_to i, statistical_analysis_data_employees_path(:age => "51-55岁", workshop: @workshops[n], data_source: @data_source), style: "color: black" %></td>
                          <% n = n+1 %>
                        <% end %>
                      </tr>
                      <tr>
                        <td>56岁以上</td>
                        <% n = 0 %>
                        <% @age_56_up_bar.each do |i| %>
                          <td><%= link_to i, statistical_analysis_data_employees_path(:age => "56岁以上", workshop: @workshops[n], data_source: @data_source), style: "color: black" %></td>
                          <% n = n+1 %>
                        <% end %>
                      </tr>
                    </tbody>
                   </table>
                </div>
              </div>
          </div>
        </div>


   </div>
  </div>
</div>
</div>

<!-- 引入highcharts库  -->
<script src="/assets/javascripts/highcharts.js"></script>
<script>
  $(function () {
    var chart1 = $('#container1').highcharts({
      credits:{
        enabled: false
      },
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: ''
      },
      // 数据提示框设置
      tooltip: {
        headerFormat: '',
        pointFormat: '{point.name}:<br> 百分比：<b>{point.percentage:.1f}%</b>, <br>数量：<b>{point.y}</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
            style: {
              color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
          },
          // 设置是否显示图例
          showInLegend: true
        }
      },
      // 饼图的数据来源
      series: [
        {
          colorByPoint: true,
          // 设置饼图各个扇区的数据，注意需要数组类型的数据
          data: [
            {
              name: '56岁以上',
              y: gon.fifty_six_up
            },{
              name: '51-55岁',
              y: gon.fifty_one
            }, {
              name: '46-50岁',
              y: gon.forty_six
            }, {
              name: '41-45岁',
              y: gon.forty_one
            }, {
              name: '26-30岁',
              y: gon.twenty_six
            }, {
              name: '31-35岁',
              y: gon.thirty_one
            }, {
              name: '36-40岁',
              y: gon.thirty_six
            }, {
              name: '25岁以下',
              y: gon.twenty_five_below
            }
          ]
        }
      ]
    });
  });
</script>


<!-- 引入highcharts库  -->
<!-- 年龄分析饼图-结束  -->
<script src="/assets/javascripts/highcharts.js"></script>
<script>
  var chart2 = $(function () {
    $('#container2').highcharts({
      credits:{
        enabled: false
      },
      chart: {
        type: 'bar'
      },
      title: {
        text: ''
      },
      xAxis: {
        lables: {
          step: 1
        },
        categories: gon.bar_workshop
      },
      yAxis: {
        min: 0,
        lables: {
          step: 1
        },
        title: {
          text: '员工数量'
        }
      },
      tooltip: {
        formatter: function () {
          var age_percentage = this.y * 100
          return "<b>" + this.series.name + "</b><br>百分比" + Math.round(age_percentage) + " %";
        }
      },
      legend: {
        reversed: true
      },
      plotOptions: {
        bar: {
          pointWidth: 10,
          pointPadding: 0
        },
        // 设置条形图的点击事件
        series: {
          stacking: 'normal'
        }
      },
      series: [
        {
          name: '25岁以下',
          data: gon.bar_twenty_five_below
        }, {
          name: '26-30岁',
          data: gon.bar_twenty_six
        }, {
          name: '31-35岁',
          data: gon.bar_thirty_one
        }, {
          name: '36-40岁',
          data: gon.bar_thirty_six
        }, {
          name: '41-45岁',
          data: gon.bar_forty_one
        }, {
          name: '46-50岁',
          data: gon.bar_forty_six
        }, {
          name: '51-55岁',
          data: gon.bar_fifty_one
        }, {
          name: '56岁以上',
          data: gon.bar_fifty_six_up
        }
      ]
    });
  })
</script>
  <!-- 年龄分析条形图-结束  -->
