<h4>年龄段：<%= params[:age]%> &nbsp; &nbsp; &nbsp;人数：<%= @age_employees.count %>人 </h4>
<div class="col-md-12" style="overflow: auto; width: 100%;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>工资号</th>
        <th>工号</th>
        <th>档案号</th>
        <th>车间</th>
        <th>班组</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>民族</th>
        <th>籍贯</th>
        <th>政治面目</th>
        <th>党团时间</th>
        <th>工作时间</th>
        <th>入路时间</th>
      </tr>
    </thead>
        <tbody>
          <% @age_employees.each do |employee| %>
            <tr>
              <td><%= employee.sal_number %></td>
              <td><%= employee.job_number %></td>
              <td><%= employee.record_number %></td>
              <td><%= employee.workshop %></td>
              <td><%= employee.group %></td>
              <td><%= employee.name %></td>
              <td><%= employee.sex %></td>
              <td><%= employee.age %></td>
              <td><%= employee.nation %></td>
              <td><%= employee.native_place %></td>
              <td><%= employee.political_role %></td>
              <td><%= employee.political_party_date %></td>
              <td><%= employee.working_time %></td>
              <td><%= employee.railway_time %></td>
            </tr>
          <% end %>
       </tbody>
  </table>
</div>

<div class="text-center">
  <%= paginate @age_employees%>
</div>
