<%= render 'employee_navbar'%>
  <!-- 年龄分析饼图-开始  -->
  <!-- 给饼图准备一个合适大小的dom  -->

<div id="sa-main">
 <div id="dashboard">
   <div class="bd" style="width: 98%;">
     <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 10px; width:100%; height: 110px;">

     <!--年龄分析-->
     <%= render 'emp_analysis/duan_age_analysis'%>
     <%= render 'emp_analysis/workshop_age_analysis'%>
     <%= render 'emp_analysis/group_age_analysis'%>

     <!--工种分析-->
     <%= render 'emp_analysis/duan_worktype_analysis'%>
     <%= render 'emp_analysis/workshop_worktype_analysis'%>
     <%= render 'emp_analysis/group_worktype_analysis'%>

     <!--文化程度分析-->
     <%= render 'emp_analysis/duan_edu_background_analysis'%>
     <%= render 'emp_analysis/workshop_edu_background_analysis'%>
     <%= render 'emp_analysis/group_edu_background_analysis'%>

     <!--技能鉴定分析-->
     <%= render 'emp_analysis/duan_skill_authenticate_analysis'%>
     <%= render 'emp_analysis/workshop_skill_authenticate_analysis'%>
     <%= render 'emp_analysis/group_skill_authenticate_analysis'%>
   </div>
   </div>
  </div>
</div>
