<%= render 'employee_navbar'%>
  <!-- 年龄分析饼图-开始  -->
  <!-- 给饼图准备一个合适大小的dom  -->

<div id="sa-main">
 <div id="dashboard">
  <div class="dashboard-toolbar">
    <span contenteditable="false" class="dashboard-name" data-originname="年龄分析">年龄分析</span>
    <span class="icon-edit not-match-authority" data-method="edit-focus" style="display: none;"></span>
  </div>


 <div class="bd" style="width: 98%;">
     <div class="widget-container" data-widgetid="1" data-size="normal">
       <div class="widget-content-container">
         <div class="mark-contend"></div>
            <div class="widget-topbar" style="cursor: auto;">
              <div class="widget-title">
                <div class="title" data-method="nav" style="margin-top: 10px;">
                   全段年龄分析表格
                </div>
                <div class="range">
                  <%= Time.now.strftime(("%Y年%m月%d日") )%>
                </div>
              </div>
              <div class="pull-right widget-setting">
                <div class="customer-menu"></div>
              </div>
            </div>

            <div class="widget-chart-container container">
              <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:20px ;overflow: auto">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="color: blue; font-size:17px;">年龄段</th>
                      <td style="color: blue; font-size:17px;">人数</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=25岁以下">
                      <th>25岁以下</th>
                      <td><%= @age_25_below %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=26-30岁">
                      <th>26-30岁</th>
                      <td><%= @age_26 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=31-35岁">
                      <th>31-35岁</th>
                      <td><%= @age_31 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=36-40岁">
                      <th>36-40岁</th>
                      <td><%= @age_36 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=41-45岁">
                      <th>41-45岁</th>
                      <td><%= @age_41 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=46-50岁">
                      <th>46-50岁</th>
                      <td><%= @age_46 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=51-55岁">
                      <th>51-55岁</th>
                      <td><%= @age_51 %></td>
                    </tr>
                    <tr class="row-click-able" data-url="/employees/statistical_analysis_data?age=56岁以上">
                      <th>56岁以上</th>
                      <td><%= @age_56_up %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>


      <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 80px; margin-bottom: 50px; width:100%; height: 400px;">
        <div class="widget-content-container">
          <div class="mark-contend"></div>
             <div class="widget-topbar" style="cursor: auto;">
               <div class="widget-title">
                 <div class="title" data-method="nav" style="margin-top: 10px;">
                    各车间年龄分析表格 (共<%= @workshops.count%>个-含机关)
                 </div>
                 <div class="range" style="margin-bottom: 0px;">
                   <%= Time.now.strftime(("%Y年%m月%d日") )%>
                 </div>
               </div>
               <div class="pull-right widget-setting">
                 <div class="customer-menu"></div>
               </div>
             </div>

             <div class="widget-chart-container container">
               <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
                 <table id="example" class="table table-bordered">
                   <thead>
                     <tr>
                       <th>车间</th>
                       <th>25岁以下</th>
                       <th>26-30岁</th>
                       <th>31-35岁</th>
                       <th>36-40岁</th>
                       <th>41-45岁</th>
                       <th>46-50岁</th>
                       <th>51-55岁</th>
                       <th>56岁以上</th>
                     </tr>
                   </thead>
                    <tbody>
                     <% @workshops.each do |workshop| %>
                       <tr>
                         <td><%= Workshop.find(workshop.to_i).name %></td>
                         <td><%= Employee.where(:workshop => workshop, age: 0..25).count %></td>
                         <td><%= Employee.where(:workshop => workshop, age: 26..30).count %></td>
                         <td><%= Employee.where(:workshop => workshop, age: 31..35).count %></td>
                         <td><%= Employee.where(:workshop => workshop, age: 36..40).count %></td>
                         <td><%= Employee.where(:workshop => workshop, age: 41..45).count %></td>
                         <td><%= Employee.where(:workshop => workshop, age: 46..50).count %></td>
                         <td><%= Employee.where(:workshop => workshop, age: 51..55).count %></td>
                         <td><%= Employee.where(:workshop => workshop, age: 56..1000).count %></td>
                       </tr>
                     <% end %>
                  </tbody>
                 </table>
               </div>
             </div>
           </div>
         </div>


         <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-bottom: 50px; width:100%; height: 400px;">
           <div class="widget-content-container">
             <div class="mark-contend"></div>
                <div class="widget-topbar" style="cursor: auto;">
                  <div class="widget-title">
                    <div class="title" data-method="nav" style="margin-top: 10px;">
                       各班组年龄分析表格 (共<%= @groups.count%>个)
                    </div>
                    <div class="range" style="margin-bottom: 0px;">
                      <%= Time.now.strftime(("%Y年%m月%d日") )%>
                    </div>
                  </div>
                  <div class="pull-right widget-setting">
                    <div class="customer-menu"></div>
                  </div>
                </div>

                <div class="widget-chart-container container">
                  <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
                    <table id="example" class="table table-bordered">
                      <thead>
                        <tr>
                          <th>科室/班组</th>
                          <th>25岁以下</th>
                          <th>26-30岁</th>
                          <th>31-35岁</th>
                          <th>36-40岁</th>
                          <th>41-45岁</th>
                          <th>46-50岁</th>
                          <th>51-55岁</th>
                          <th>56岁以上</th>
                        </tr>
                      </thead>
                       <tbody>
                        <% @groups.each do |group| %>
                          <tr>
                            <td><%= Group.find(group.to_i).name %></td>
                            <td><%= Employee.where(:group => group, age: 0..25).count %></td>
                            <td><%= Employee.where(:group => group, age: 26..30).count %></td>
                            <td><%= Employee.where(:group => group, age: 31..35).count %></td>
                            <td><%= Employee.where(:group => group, age: 36..40).count %></td>
                            <td><%= Employee.where(:group => group, age: 41..45).count %></td>
                            <td><%= Employee.where(:group => group, age: 46..50).count %></td>
                            <td><%= Employee.where(:group => group, age: 51..55).count %></td>
                            <td><%= Employee.where(:group => group, age: 56..1000).count %></td>
                          </tr>
                        <% end %>
                     </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>


   <!--工种分析-->
   <div class="dashboard-toolbar">
     <span contenteditable="false" class="dashboard-name" data-originname="年龄分析">工种分析</span>
     <span class="icon-edit not-match-authority" data-method="edit-focus" style="display: none;"></span>
   </div>

   <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 20px; margin-bottom: 50px; width:100%; height: 400px;">
     <div class="widget-content-container">
       <div class="mark-contend"></div>
          <div class="widget-topbar" style="cursor: auto;">
            <div class="widget-title">
              <div class="title" data-method="nav" style="margin-top: 10px;">
                 全段工种分析表格
              </div>
              <div class="range" style="margin-bottom: 0px;">
                <%= Time.now.strftime(("%Y年%m月%d日") )%>
              </div>
            </div>
            <div class="pull-right widget-setting">
              <div class="customer-menu"></div>
            </div>
          </div>

          <div class="widget-chart-container container">
            <div style="background-color: white; height: 104px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
              <table id="example" class="table table-bordered">
                <thead>
                  <tr>
                    <th>供电段</th>
                    <% @work_types.each do |worktype| %>
                     <% if worktype == nil%>
                       <th><%= "未填写" %></th>
                     <%else%>
                       <th><%= worktype%></th>
                      <% end %>
                    <% end %>
                  </tr>
                </thead>
                 <tbody>
                    <tr>
                      <td><%= "全段" %></td>
                      <% @work_types.each do |worktype| %>
                        <td>
                        <%= Employee.where(:work_type => worktype).count %>
                        </td>
                      <% end %>
                    </tr>
               </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>




   <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 20px; margin-bottom: 50px; width:100%; height: 400px;">
     <div class="widget-content-container">
       <div class="mark-contend"></div>
          <div class="widget-topbar" style="cursor: auto;">
            <div class="widget-title">
              <div class="title" data-method="nav" style="margin-top: 10px;">
                 各车间工种分析表格 (共<%= @workshops.count%>个-含机关)
              </div>
              <div class="range" style="margin-bottom: 0px;">
                <%= Time.now.strftime(("%Y年%m月%d日") )%>
              </div>
            </div>
            <div class="pull-right widget-setting">
              <div class="customer-menu"></div>
            </div>
          </div>

          <div class="widget-chart-container container">
            <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
              <table id="example" class="table table-bordered">
                <thead>
                  <tr>
                    <th>车间</th>
                    <% @work_types.each do |worktype| %>
                     <% if worktype == nil%>
                       <th><%= "未填写" %></th>
                     <%else%>
                       <th><%= worktype%></th>
                      <% end %>
                    <% end %>
                  </tr>
                </thead>
                 <tbody>
                  <% @workshops.each do |workshop| %>
                    <tr>
                      <td><%= Workshop.find(workshop.to_i).name%></td>
                      <% @work_types.each do |worktype| %>
                        <td><%= Employee.where(:workshop => workshop, :work_type => worktype).count %></td>
                      <% end %>
                    </tr>
                  <% end %>
               </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 20px; margin-bottom: 50px; width:100%; height: 400px;">
        <div class="widget-content-container">
          <div class="mark-contend"></div>
             <div class="widget-topbar" style="cursor: auto;">
               <div class="widget-title">
                 <div class="title" data-method="nav" style="margin-top: 10px;">
                    各科室/班组工种分析表格 (共<%= @groups.count%>个)
                 </div>
                 <div class="range" style="margin-bottom: 0px;">
                   <%= Time.now.strftime(("%Y年%m月%d日") )%>
                 </div>
               </div>
               <div class="pull-right widget-setting">
                 <div class="customer-menu"></div>
               </div>
             </div>

             <div class="widget-chart-container container">
               <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
                 <table id="example" class="table table-bordered">
                   <thead>
                     <tr>
                       <th>科室/班组</th>
                       <% @work_types.each do |worktype| %>
                        <% if worktype == nil%>
                          <th><%= "未填写" %></th>
                        <%else%>
                          <th><%= worktype%></th>
                         <% end %>
                       <% end %>
                     </tr>
                   </thead>
                    <tbody>
                     <% @groups.each do |group| %>
                       <tr>
                         <td><%= Group.find(group.to_i).name%></td>
                         <% @work_types.each do |worktype| %>
                           <td><%= Employee.where(:group => group, :work_type => worktype).count %></td>
                         <% end %>
                       </tr>
                     <% end %>
                  </tbody>
                 </table>
               </div>
             </div>
           </div>
         </div>



        <!--********************************学历分析*****************************-->
         <div class="dashboard-toolbar">
           <span contenteditable="false" class="dashboard-name" data-originname="年龄分析">学历分析</span>
           <span class="icon-edit not-match-authority" data-method="edit-focus" style="display: none;"></span>
         </div>

         <!--全段学历分析-->

         <div class="widget-chart-container container">
           <div style="background-color: white; height: 104px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
             <table id="example" class="table table-bordered">
               <thead>
                 <tr>
                   <th>供电段</th>
                   <% @education_background.each do |education_background| %>
                    <% if education_background == nil%>
                      <th><%= "未填写" %></th>
                    <%else%>
                      <th><%= education_background %></th>
                     <% end %>
                   <% end %>
                 </tr>
               </thead>
                <tbody>
                   <tr>
                     <td><%= "全段" %></td>
                     <% @education_background.each do |education_background| %>
                       <td>
                        <%= Employee.where(:education_background => education_background).count %>
                       </td>
                     <% end %>
                   </tr>
              </tbody>
             </table>
           </div>
         </div>
       </div>
     </div>


     <!--各车间的学历分析-->
     <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 20px; margin-bottom: 50px; width:100%; height: 400px;">
       <div class="widget-content-container">
         <div class="mark-contend"></div>
            <div class="widget-topbar" style="cursor: auto;">
              <div class="widget-title">
                <div class="title" data-method="nav" style="margin-top: 10px;">
                   各车间学历分析表格 (共<%= @workshops.count%>个-含机关)
                </div>
                <div class="range" style="margin-bottom: 0px;">
                  <%= Time.now.strftime(("%Y年%m月%d日") )%>
                </div>
              </div>
              <div class="pull-right widget-setting">
                <div class="customer-menu"></div>
              </div>
            </div>

            <div class="widget-chart-container container">
              <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
                <table id="example" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>车间</th>
                      <% @education_background.each do |education_background| %>
                       <% if education_background == nil%>
                         <th><%= "未填写" %></th>
                       <%else%>
                         <th><%= education_background %></th>
                        <% end %>
                      <% end %>
                    </tr>
                  </thead>
                   <tbody>
                    <% @workshops.each do |workshop| %>
                      <tr>
                        <td><%= Workshop.find(workshop.to_i).name%></td>
                        <% @education_background.each do |education_background| %>
                          <td><%= Employee.where(:workshop => workshop, :education_background => education_background).count %></td>
                        <% end %>
                      </tr>
                    <% end %>
                 </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!--科室/班组的文化程度统计分析 -->
        <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 20px; margin-bottom: 50px; width:100%; height: 400px;">
          <div class="widget-content-container">
            <div class="mark-contend"></div>
               <div class="widget-topbar" style="cursor: auto;">
                 <div class="widget-title">
                   <div class="title" data-method="nav" style="margin-top: 10px;">
                      各科室/班组学历分析表格 (共<%= @groups.count%>个)
                   </div>
                   <div class="range" style="margin-bottom: 0px;">
                     <%= Time.now.strftime(("%Y年%m月%d日") )%>
                   </div>
                 </div>
                 <div class="pull-right widget-setting">
                   <div class="customer-menu"></div>
                 </div>
               </div>

               <div class="widget-chart-container container">
                 <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
                   <table id="example" class="table table-bordered">
                     <thead>
                       <tr>
                         <th>科室/班组</th>
                         <% @education_background.each do |education_background| %>
                          <% if education_background == nil%>
                            <th><%= "未填写" %></th>
                          <%else%>
                            <th><%= education_background%></th>
                           <% end %>
                         <% end %>
                       </tr>
                     </thead>
                      <tbody>
                       <% @groups.each do |group| %>
                         <tr>
                           <td><%= Group.find(group.to_i).name%></td>
                           <% @education_background.each do |education_background| %>
                             <td><%= Employee.where(:group => group, :education_background => education_background).count %></td>
                           <% end %>
                         </tr>
                       <% end %>
                    </tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>
          <!--************************************学历分析结束*******************************-->

          <!--********************************技能鉴定分析*****************************-->
           <div class="dashboard-toolbar">
             <span contenteditable="false" class="dashboard-name" data-originname="年龄分析">技能鉴定分析</span>
             <span class="icon-edit not-match-authority" data-method="edit-focus" style="display: none;"></span>
           </div>

           <!--全段技能鉴定分析-->

           <div class="widget-chart-container container">
             <div style="background-color: white; height: 104px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
               <table id="example" class="table table-bordered">
                 <thead>
                   <tr>
                     <th>供电段</th>
                     <% @skilledness_authenticate.each do |skilledness_authenticate| %>
                      <% if skilledness_authenticate == nil%>
                        <th><%= "未填写" %></th>
                      <%else%>
                        <th><%= skilledness_authenticate %></th>
                       <% end %>
                     <% end %>
                   </tr>
                 </thead>
                  <tbody>
                     <tr>
                       <td><%= "全段" %></td>
                       <% @skilledness_authenticate.each do |skilledness_authenticate| %>
                         <td>
                          <%= Employee.where(:skilledness_authenticate => skilledness_authenticate).count %>
                         </td>
                       <% end %>
                     </tr>
                </tbody>
               </table>
             </div>
           </div>
         </div>
       </div>

       <!--各车间的技能鉴定分析-->
       <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 20px; margin-bottom: 50px; width:100%; height: 400px;">
         <div class="widget-content-container">
           <div class="mark-contend"></div>
              <div class="widget-topbar" style="cursor: auto;">
                <div class="widget-title">
                  <div class="title" data-method="nav" style="margin-top: 10px;">
                     各车间技能鉴定分析表格 (共<%= @workshops.count%>个-含机关)
                  </div>
                  <div class="range" style="margin-bottom: 0px;">
                    <%= Time.now.strftime(("%Y年%m月%d日") )%>
                  </div>
                </div>
                <div class="pull-right widget-setting">
                  <div class="customer-menu"></div>
                </div>
              </div>

              <div class="widget-chart-container container">
                <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
                  <table id="example" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>车间</th>
                        <% @skilledness_authenticate.each do |skilledness_authenticate| %>
                         <% if skilledness_authenticate == nil%>
                           <th><%= "未填写" %></th>
                         <%else%>
                           <th><%= skilledness_authenticate %></th>
                          <% end %>
                        <% end %>
                      </tr>
                    </thead>
                     <tbody>
                      <% @workshops.each do |workshop| %>
                        <tr>
                          <td><%= Workshop.find(workshop.to_i).name%></td>
                          <% @skilledness_authenticate.each do |skilledness_authenticate| %>
                            <td><%= Employee.where(:workshop => workshop, :skilledness_authenticate => skilledness_authenticate).count %></td>
                          <% end %>
                        </tr>
                      <% end %>
                   </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!--科室/班组的技能鉴定统计分析 -->
          <div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 20px; margin-bottom: 50px; width:100%; height: 400px;">
            <div class="widget-content-container">
              <div class="mark-contend"></div>
                 <div class="widget-topbar" style="cursor: auto;">
                   <div class="widget-title">
                     <div class="title" data-method="nav" style="margin-top: 10px;">
                        各科室/班组技能鉴定分析表格 (共<%= @groups.count%>个)
                     </div>
                     <div class="range" style="margin-bottom: 0px;">
                       <%= Time.now.strftime(("%Y年%m月%d日") )%>
                     </div>
                   </div>
                   <div class="pull-right widget-setting">
                     <div class="customer-menu"></div>
                   </div>
                 </div>

                 <div class="widget-chart-container container">
                   <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
                     <table id="example" class="table table-bordered">
                       <thead>
                         <tr>
                           <th>科室/班组</th>
                           <% @skilledness_authenticate.each do |skilledness_authenticate| %>
                            <% if skilledness_authenticate == nil%>
                              <th><%= "未填写" %></th>
                            <%else%>
                              <th><%= skilledness_authenticate%></th>
                             <% end %>
                           <% end %>
                         </tr>
                       </thead>
                        <tbody>
                         <% @groups.each do |group| %>
                           <tr>
                             <td><%= Group.find(group.to_i).name%></td>
                             <% @skilledness_authenticate.each do |skilledness_authenticate| %>
                               <td><%= Employee.where(:group => group, :skilledness_authenticate => skilledness_authenticate).count %></td>
                             <% end %>
                           </tr>
                         <% end %>
                      </tbody>
                     </table>
                   </div>
                 </div>



               </div>
             </div>



  </div>
</div>
