<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">

        <% if (current_user.has_role? :empadmin) || (current_user.has_role? :leaderadmin) || (current_user.has_role? :depudy_leaderadmin) || (current_user.has_role? :awardadmin) || (current_user.has_role? :incomeadmin) || (current_user.has_role? :attendance_admin) || (current_user.has_role? :superadmin) || (current_user.has_role? :saleradmin) || (current_user.has_role? :limitadmin) || (current_user.has_role? :staradmin) %>
          <ul class="employee-title">
            <li>
              <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= @employees_all.count%></span><br>
              <span>合计</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_1" style="color: #269EFF"><%= @employees_all.where(:sex => "男").count %></span>
              <br>
              <span>男</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_1" style="color: #269EFF"><%= @employees_all.where(:sex => "女").count %></span>
              <br>
              <span>女</span>
            </li>
            <li>
              <% if @employees_all.count == 0 %>
                <span class="highlight-1iKYJ_0" style="color: #269EFF">0</span>
              <% else %>
                <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= @employees_all.sum("age") / @employees_all.count %></span>
              <% end %>
              <br>
              <span>平均年龄</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_0"><%= link_to LeavingEmployee.where(:leaving_type => ["调离","退休"]).count, employee_detail_employees_path(type: "调离")%></span>
              <br>
              <span>调离</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_0"><%= link_to Employee.transfer(Time.now.beginning_of_month, Time.now.end_of_month).count, employee_detail_employees_path(type: "调动")%></span>
              <br>
              <span>最近一月调动</span>
            </li>
          </ul>
        <% else %>
          <ul class="employee-title">
            <li>
              <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= @employees_all.count %></span><br>
              <span>合计</span>
            </li>
          </ul>
        <% end %>
        <!-- 总数统计-结束 -->





        <div class="panel panel-default">
            <div class="panel-body">
              <div class="panel">
                <div class="panel-heading" style="background-color: #fff;">
        <!-- 导出与新增-开始 -->
                  <button  onclick="toggle_visibility('employee-btn');" type="button" name="button" class="btn btn-success-alt">
                    <span class="glyphicon glyphicon-filter"></span>搜索/筛选
                  </button>
                    <div class="margin-right-10" style="float: right;">
                      <% if (current_user.has_role? :empadmin) || (current_user.has_role? :workshopadmin)%>

                        <%= link_to employees_path(format: "xls", employees: "全部"),class:"btn btn-success-alt" do %>
                          导出表格
                        <% end %>

                        <% if current_user.has_role? :empadmin %>

                              <%= link_to new_employee_path,class:"btn btn-success-alt" do  %>
                                 新增人员
                              <% end %>
                              <a id="click-batch-open"  class="btn btn-success-alt">批量调动</a>
                              <a id="click-batch-close"  class="btn btn-success-alt">批量调动</a>
                              <%= link_to("上传表格","#", "data-toggle" => "modal", "data-target" => "#uploadEmployeeform",:class => "btn btn-success-alt") %>
                        <% end %>
                      <% end %>
                    </div>
                  <!-- 导出与新增-结束 -->
                </div>
                <div class="panel-body" id="employee-btn" style="display: none;">
                    <ul class="employee-search">
                      <div class="row">
                        <div class="col-md-6 mb15">
                          <li style="padding-top: 20px;">
                            <%= form_tag search_employees_path, :class => "posts-search-form", :method => :get do %>
                              <div class="input-group">
                                <input type="text" class="form-control search-bar-input" name="q" value="<%= params[:q] %>" placeholder="输入姓名或工资号或身份证号">
                                <span class="input-group-btn">
                                  <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search"></span>
                                  </button>
                                </span>
                              </div>
                            <% end %>
                          </li>
                        </div>
                      </div>


                      <li>
                        <%= form_tag filter_employees_path, method: 'get' do %>
                          <% if (current_user.has_role? :leaderadmin) || (current_user.has_role? :depudy_leaderadmin) ||(current_user.has_role? :superadmin) || (current_user.has_role? :empadmin) || (current_user.has_role? :attendance_admin) || (current_user.has_role? :limitadmin) || (current_user.has_role? :awardadmin) || (current_user.has_role? :saleradmin) || (current_user.has_role? :incomeadmin) || (current_user.has_role? :staradmin) %>
                            <li style="display: inline-block;margin-bottom: 5px;">车间：
                                <select name="workshop"  id="selid" onchange="selCity(this)">
                                  <option value="" selected >北京供电段</option>
                                  <% Workshop.current.each do |workshop| %>
                                    <% if workshop.id == params[:workshop].to_i %>
                                      <option value="<%= workshop.id%>" selected><%= workshop.name%></option>
                                    <% else %>
                                      <option value="<%= workshop.id%>"><%= workshop.name%></option>
                                    <% end %>
                                  <% end %>
                                </select>
                            </li>
                            <li>班组：
                              <span class="employee-group-input" style="display:inline-block;">
                                <select name="group[]"  id="subselid" multiple="multiple" class="form-control group-batch-select" style="width:400px;height:20px;">
                                </select>
                              </span>
                            </li>
                          <% elsif current_user.has_role? :workshopadmin %>
                            <li>班组：
                              <span class="employee-group-input" style="display:inline-block;">
                                <select name="group[]" multiple="multiple"  class="form-control group-batch-select" style="width:400px;height:20px;">
                                  <% Group.current.where(:workshop_id => current_user.workshop_id).each do |group| %>
                                    <option value="<%= group.id%>"><%= group.name%></option>
                                  <% end %>
                                </select>
                              </span>
                            </li>
                          <% end %>


                          <% if !current_user.has_role? :safe_productionadmin %>
                          <br>
                            <%= label_tag :按男女： %>
                            <select class="" name="sex">
                              <option value>请选择</option>
                              <% ["男","女"].each do |sex| %>
                                <% if params[:sex] == sex %>
                                  <option value="<%= sex %>" selected><%= sex %></option>
                                <% else %>
                                  <option value="<%= sex %>"><%= sex %></option>
                                <% end %>
                              <% end %>
                            </select>
                            <%= label_tag :按职务： %>
                            <select class="" name="duty">
                              <option value>请选择</option>
                              <% Employee.pluck("duty").uniq.compact.each do |duty| %>
                                <% if params[:duty] == duty %>
                                  <option value="<%= duty %>" selected><%= duty %></option>
                                <% else %>
                                  <option value="<%= duty %>"><%= duty %></option>
                                <% end %>
                              <% end %>
                            </select>
                          <% end %>
                          <%= label_tag :按技术职称： %>
                          <select class="" name="work_type">
                            <option value>请选择</option>
                            <% Employee.pluck("work_type").uniq.compact.each do |work_type| %>
                              <% if params[:work_type] == work_type %>
                                <option value="<%= work_type %>" selected><%= work_type %></option>
                              <% else %>
                                <option value="<%= work_type %>"><%= work_type %></option>
                              <% end %>
                            <% end %>
                          </select>
                          <div class="row">
                            <div class="col-md-12">
                              <% if !current_user.has_role? :safe_productionadmin %>
                                <%= label_tag :按时间段选择： %>
                                <select class="" name="filter_type">
                                  <option value>请选择</option>
                                  <% ["年龄","工龄","路龄"].each do |filter_type| %>
                                    <% if params[:filter_type] == filter_type %>
                                      <option value="<%= filter_type %>" selected><%= filter_type %></option>
                                    <% else %>
                                      <option value="<%= filter_type %>"><%= filter_type %></option>
                                    <% end %>
                                  <% end %>
                                </select>

                                <%= text_field_tag :start_time %> ~
                                <%= text_field_tag :end_time %>
                              <% end %>
                            </div>
                          </div>
                          <%= submit_tag :筛选,:data => {disable_with: "筛选中..."} %>
                        <% end %>
                      </li>
                    </ul>
                  </div>
              </div>


                <% if (current_user.has_role? :leaderadmin) || (current_user.has_role? :depudy_leaderadmin) ||(current_user.has_role? :superadmin) || (current_user.has_role? :empadmin) || (current_user.has_role? :attendance_admin) || (current_user.has_role? :limitadmin) || (current_user.has_role? :awardadmin) || (current_user.has_role? :saleradmin) || (current_user.has_role? :incomeadmin) || (current_user.has_role? :staradmin)%>
                  <%= render 'empshared/emp_table' %>
                <% elsif current_user.has_role? :safe_productionadmin %>
                  <%= render 'empshared/emp_safe_productionadmin' %>
                <% elsif (current_user.has_role? :workshopadmin) %>
                  <%= render 'empshared/workshop_table' %>
                <% elsif (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :wgadmin) %>
                  <%= render 'empshared/emp_table_not_empadmin'%>
                <% end %>


              </div>
          </div>

          <div style="text-align:center;display:none;" id="js-log">别扯了，已经到底啦～ </div>

</div>
<%= render "employees/upload_employees_form" %>
<script type="text/javascript">

  $(".group-batch-select").select2( { theme: "bootstrap"});
  $("#click-batch-close").hide();
  $(".batch-select").hide();
  $(".employee-batch-submit").hide();

  function selCity()
  {
      var arr = gon.group_name;

      var selNode = document.getElementById("selid");
      var subselNode = document.getElementById("subselid");
      var index = selNode.selectedIndex;
      var citys = arr[index];

      subselNode.options.length = 0;
      var firstoptionNode = document.createElement("option");
      // firstoptionNode.value = arr[0][0][1];
      // firstoptionNode.innerText = arr[0][0][0];
      // subselNode.appendChild(firstoptionNode);
      for(var i=0; i<citys.length; i++)
      {
          var optionNode = document.createElement("option");
          optionNode.value = citys[i][1];
          optionNode.innerText = citys[i][0];
          subselNode.appendChild(optionNode);
      }
  };

  function toggle_visibility(id) {
     var e = document.getElementById(id);
     if(e.style.display == 'block')
        e.style.display = 'none';
     else
        e.style.display = 'block';
  };

  $("#click-batch-open").click(function(){
    $("#click-batch-open").hide();
    $("#click-batch-close").show();
    $(".batch-select").show();
    $(".employee-batch-submit").show();
  });

  $("#click-batch-close").click(function(){
    $("#click-batch-close").hide();
    $(".batch-select").hide();
    $(".employee-batch-submit").hide();
    $("#click-batch-open").show();
  });

  $(".click-batch-close").click(function(){
    $("#click-batch-close").hide();
    $(".batch-select").hide();
    $(".employee-batch-submit").hide();
    $("#click-batch-open").show();
  });

  function selworkshop()
  {
      var arr = gon.batch_leaving_group_name;

      var selNode = document.getElementById("workshop");
      var subselNode = document.getElementById("group");
      var index = selNode.selectedIndex;
      var citys = arr[index];

      subselNode.options.length = 0;
      for(var i=0; i<citys.length; i++)
      {
          var optionNode = document.createElement("option");
          optionNode.value = citys[i][1];
          optionNode.innerText = citys[i][0];
          subselNode.appendChild(optionNode);
      }
  };

  <% if @employees.present? %>
    var current_post_id = <%= @employees.last.id %>;
  <% end %>
  // 当捲轴动的时候，会触发这个事件
  $(window).scroll(function(){
    // 当捲到最下面的时候
    if ((window.innerHeight + window.pageYOffset) >= (document.body.offsetHeight - 1)) {
      var url = "/employees/filter?max_id=" + current_post_id + "&" + gon.url_parameter;
      if (url) {
        $.ajax({
          method: "GET",
          url: url,
          dataType: "script"
        });

      } else {
        console.log("data ended")
      }
    }
  });
  $(function () {
        $('#datetimepicker6').datetimepicker({
          icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
          format: 'YYYY-MM',
          locale: moment.locale('zh-cn')
        });
        $('#datetimepicker7').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
            format: 'YYYY-MM',
            locale: moment.locale('zh-cn'),
            widgetPositioning: {
            horizontal: 'left',
            vertical: 'auto'
        }
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });

    });
</script>
