<!-- Preloader -->
<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">
      <!-- 通过@employees的总页数，找出所有的id-开始 -->
      <% pages = @employees.total_pages %>
      <% employee_ids = @employees.page(1).per(16).pluck("id") %>
      <% (2..pages).each do |i| %>
        <% employee_ids += @employees.page(i).per(16).pluck("id") %>
      <% end %>
      <!-- 通过@employees的总页数，找出所有的id-结束 -->

<div id="Employee" class="main-18rau_0 tabcontent">
    <!-- 总数统计-开始 -->
    <% if (can? :manage, Employee) || (can? :leader_read, Employee) || (current_user.has_role? :depudy_leaderadmin)%>
      <div class="switchTab-3pFw5_0">
        <div class="queryTop-26iSU_0">
          <div class="condition-19RSN_0">
            <li class="grow8">
              <div class="condition-19RSN_0 active-2SUrt_0">
                <div class="panel_main pannel-two change-type">
                  <div class="title">

                    <span>合计</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.where(id: employee_ids).count%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>其中：男</span>
                    <span class="highlight-1iKYJ_1" style="color: #269EFF"><%= link_to Employee.where(id: employee_ids).where(:sex => "男").count, employee_detail_employees_path(aa: request.query_parameters, default: "男") %></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>女</span>
                      <span class="highlight-1iKYJ_1" style="color: #269EFF"><%= link_to Employee.where(id: employee_ids).where(:sex => "女").count, employee_detail_employees_path(aa: request.query_parameters, default: "女") %></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>平均年龄</span>
                    <% if Employee.where(id: employee_ids).count == 0 %>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF">0</span>
                      <span>岁</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <% else %>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.where(id: employee_ids).sum("age") / Employee.where(id: employee_ids).count %></span>
                      <span>岁</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <% end %>

                    <span>调离</span>
                      <span class="highlight-1iKYJ_0"><%= link_to Employee.leaving.count, employee_detail_employees_path(type: "调离")%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>最近一月调动</span>
                      <span class="highlight-1iKYJ_0"><%= link_to Employee.transfer(Time.now.beginning_of_month, Time.now.end_of_month).count, employee_detail_employees_path(type: "调动")%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>退休</span>
                      <span class="highlight-1iKYJ_0"><%= link_to Employee.retire.count, employee_detail_employees_path(type: "退休")%></span>
                    <span>人</span>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    <% elsif current_user.has_role? :awardadmin%>
      <div class="switchTab-3pFw5_0">
        <div class="queryTop-26iSU_0">
          <div class="condition-19RSN_0">
            <li class="grow8">
              <div class="condition-19RSN_0 active-2SUrt_0">
                <div class="panel_main pannel-two change-type">
                  <div class="title">
                    <span>合计</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.count%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>其中：男</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.where(:sex => "男").count%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>女</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.where(:sex => "女").count%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>调离</span>
                      <span class="highlight-1iKYJ_0"><%= link_to Employee.leaving.count, employee_detail_employees_path(type: "调离")%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>最近一月调动</span>
                      <span class="highlight-1iKYJ_0"><%= link_to Employee.transfer(Time.now.beginning_of_month, Time.now.end_of_month).count, employee_detail_employees_path(type: "调动")%></span>
                    <span>人</span>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    <% else %>
      <div class="switchTab-3pFw5_0">
        <div class="queryTop-26iSU_0">
          <div class="condition-19RSN_0">
            <li class="grow8">
              <div class="condition-19RSN_0 active-2SUrt_0">
                <div class="panel_main pannel-two change-type">
                  <div class="title">
                    <span>合计</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.where(id: employee_ids).count %></span>
                    <span>人</span>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    <% end %>
    <!-- 总数统计-结束 -->
    <!-- 导出与新增-开始 -->
    <div class="btn_group_top-1sKKU_0">
      <div>
        <div class="btn_group-2MSRh_0">
          <div class="ivu-tooltip">
            <% if (current_user.has_role? :empadmin) || (current_user.has_role? :workshopadmin)%>
              <div class="ivu-tooltip-rel">
                <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
                  <% if @sex.present? or @duty.present? or @work_type.present? or @filter_type.present? or @workshop.present? or @group.present? %>
                    <%= link_to employees_path(format: "xls", employees: employee_ids) do %>
                       <span style="color: #269Eff;">导出表格</span>
                    <% end %>
                  <% else %>
                    <%= link_to employees_path(format: "xls", employees: "全部") do %>
                       <span style="color: #269Eff;">导出表格</span>
                    <% end %>
                  <% end %>
                </button>
              </div>
              <% if current_user.has_role? :empadmin %>
                <div class="ivu-tooltip-rel" style="text-align: right">
                  <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
                    <%= link_to new_employee_path do  %>
                       <span style="color: #269Eff;">新增人员</span>
                    <% end %>
                  </button>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- 导出与新增-结束 -->

  <div><br>




    <div class="row">
      <div class="col-sm-9 col-lg-8" style="margin-bottom: 10px; margin-top: 5px; width: 600px;">
        <%= form_tag search_employees_path, :class => "posts-search-form", :method => :get do %>
          <div class="input-group">
            <input type="text" class="form-control search-bar-input" name="q" value="<%= params[:q] %>" placeholder="输入姓名或工资号或身份证号">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default search-bar-submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        <% end %>
      </div>
    </div><br>

    <%= form_tag filter_employees_path, method: 'get' do %>
      <%= label_tag :按男女： %>
      <%= select_tag(:sex, options_for_select(["男","女"]), {:prompt => "请选择"}) %>
      <%= label_tag :按职务： %>
      <%= select_tag(:duty, options_for_select(Employee.pluck("duty").uniq.collect{ |u| u }), {:prompt => "请选择"}) %>
      <%= label_tag :按技术职称： %>
      <%= select_tag(:work_type, options_for_select(Employee.pluck("work_type").uniq.collect{ |u| u }), {:prompt => "请选择"}) %>
      <%= label_tag :按时间段： %>
      <%= select_tag(:filter_type, options_for_select(["年龄","工龄","路龄"]), {:prompt => "请选择"})%>
      <%= text_field_tag :start_time %> ~
      <%= text_field_tag :end_time %>
      <% if params[:workshop].present? %>
        <%= hidden_field_tag :workshop, params[:workshop] %>
      <% elsif params[:group].present? %>
        <%= hidden_field_tag :group, params[:group] %>
      <% end %>
      <%= submit_tag :筛选 %>
    <% end %>

    <!--- 搜索-开始  -->
    <div class="card">
      <div style="width: 100%;">
        <% if (can? :manage, Employee) || (can? :leader_read, Employee) || (current_user.has_role? :depudy_leaderadmin)  %>
          <%= render 'empshared/emp_table' %>
        <% elsif current_user.has_role? :attendance_admin %>
          <%= render 'empshared/other_duanadmin' %>
        <% elsif (current_user.has_role? :workshopadmin) %>
          <%= render 'empshared/workshop_table', :locals => {:@workshop => @workshop, :@group => @group} %>
        <% elsif (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :wgadmin) || (current_user.has_role? :attendance_admin) || (current_user.has_role? :awardadmin)%>
          <%= render 'empshared/emp_table_not_empadmin'%>
        <% end %>
      </div>
    </div>

    <div class="text-center">
      <%= paginate @employees %>
    </div>



   <!-- <% if can? :manage, Employee %>
      <h5>上传现员表</h5>

      <%= form_tag import_table_employees_path, multipart: true do %>
        <%= file_field_tag :file%>
        <%= submit_tag "上传"%>
      <% end %>
   <% end %> -->

  </div>
</div>
</div>

<!-- 树状图配套的js代码-开始 -->
<script type="text/javascript">
  (function(e) {
    for(var _obj=document.getElementById(e.id).getElementsByTagName(e.tag),i=-1,em;em=_obj[++i];){
      em.onclick = function(){ //onmouseover
        var ul = this.nextSibling;
        if(!ul){
          return false;
        }
        ul = ul.nextSibling;
        if(!ul) {
          return false;
        }
        if(e.tag != 'a') {
          ul = ul.nextSibling;
          if(!ul){
            return false;
          }
        } //a 标签控制 隐藏或删除该行
        for(var _li=this.parentNode.parentNode.childNodes,n=-1,li;li=_li[++n];) {
          if(li.tagName=="LI"){
            for(var _ul=li.childNodes,t=-1,$ul;$ul=_ul[++t];){
              switch($ul.tagName){
                case "UL": $ul.className = $ul!=ul?"" : ul.className?"":"off";
                break;
                case "EM": $ul.className = $ul!=this?"" : this.className?"":"off";
                break;
              }
            }
          }
        }
      }
    }
  })({id:'menu',tag:'i'});
</script>
<!-- 树状图配套的js代码-结束 -->
