<%= render 'employee_navbar' %>
<div class="col-md-12">
  <!--- 按工种分类筛选-开始  -->
  <li class="dropdown">
      <a class="js-selected-navigation-item HeaderNavlink px-2 dropdown-toggle" data-toggle="dropdown" style="margin-left: 80px; href="/" ">
        按职务筛选
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% @work_types = Employee.pluck("work_type").uniq %>
        <% @work_types.each do |work_type| %>
          <li><%= link_to work_type, employees_path(work_type: work_type) %></li>
        <% end %>
      </ul> 
  </li>
  <!--- 按工种分类筛选-结束  -->
  <!--- 按年龄段筛选-开始  -->
  <%= form_tag age_filter_employees_path, method: 'get' do %>
    <%= label_tag :请输入年龄段：%>
    <%= text_field_tag :age_start %> ~
    <%= text_field_tag :age_end %>
    <%= submit_tag :筛选 %>
  <% end %>
  <!--- 按年龄段筛选-结束  -->
  <!--- 按工龄段筛选-开始  -->
  <%= form_tag working_years_filter_employees_path, method: 'get' do %>
    <%= label_tag :请输入工龄段：%>
    <%= text_field_tag :working_years_start %> ~
    <%= text_field_tag :working_years_end %>
    <%= submit_tag :筛选 %>
  <% end %>  
  <!--- 按工龄段筛选-结束  -->
  <!--- 按路龄段筛选-开始  -->
  <%= form_tag rali_years_filter_employees_path, method: 'get' do %>
    <%= label_tag :请输入路龄段：%>
    <%= text_field_tag :rali_years_start %> ~
    <%= text_field_tag :rali_years_end %>
    <%= submit_tag :筛选 %>
  <% end %> 
  <!--- 按路龄段筛选-结束  -->
  <!--- 搜索-开始  -->
  <%= form_tag search_employees_path, method: 'get' do %>
    <%= label_tag :查询%>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag :search %>
  <% end %>
  <!--- 搜索-结束  -->
  <!--- 搜索-开始  -->
  <%= link_to "一键更新现员表", update_employee_info_employees_path, method: :post %>
  <%= link_to "导出表格", employees_path(format: "xls")%>
  <div class="card">
    <div class="col-md-12" style="overflow: auto; width: 100%;">
      <table id="example" class="table table-bordered">
        <thead>
          <tr>
            <th>工资号</th>
            <th>工号</th>
            <th>档案号</th>
            <th>车间</th>
            <th>班组</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>文化程度</th>
            <th>民族</th>
            <th>籍贯</th>
            <th>工作时间</th>
            <th>工龄</th>
            <th>入路时间</th>
            <th>路龄</th>
          </tr>
        </thead>
            <tbody data-behavior='sortable'>
              <% @employees.__send__ controller.action_name == 'search' ? :each_with_hit : :find_each do |employee, hit| %>
                <tr class="row-click-able" data-url="/employees/<%= employee.id%>">
                  <td><%= hit.try(:highlight).try(:sal_number)   ? hit.highlight.sal_number.join.html_safe : employee.sal_number %></td>
                  <td><%= employee.job_number %></td>
                  <td><%= employee.record_number %></td>
                  <td><%= employee.workshop %></td>
                  <td><%= employee.group %></td>
                  <td><%= hit.try(:highlight).try(:name)         ? hit.highlight.name.join('&hellip').html_safe : employee.name %></td>
                  <td><%= employee.sex %></td>
                  <td><%= employee.age %></td>
                  <td><%= employee.education_background %></td>
                  <td><%= employee.nation %></td>
                  <td><%= employee.native_place %></td>
                  <td><%= employee.working_time %></td>
                  <td><%= employee.working_years %></td>
                  <td><%= employee.railway_time %></td>
                  <td><%= employee.rali_years %></td>
                </tr>
              <% end %>
           </tbody>

      </table>
    </div>
  </div>




  <h4>上传现员表</h4>

  <%= form_tag import_table_employees_path, multipart: true do %>
    <%= file_field_tag :file%>
    <%= submit_tag "上传"%>
  <% end %>

</div>
