<%= render 'employee_navbar' %>
<!-- 通过@employees的总页数，找出所有的id-开始 -->
<% pages = @employees.total_pages %>
<% employee_ids = @employees.page(1).per(10).pluck("id") %>
<% (2..pages).each do |i| %>
  <% employee_ids += @employees.page(i).per(10).pluck("id") %>
<% end %>
<!-- 通过@employees的总页数，找出所有的id-结束 -->
<div id="Employee" class="main-18rau_0 tabcontent">
  <div>
    <div class="btn_group_top-1sKKU_0">
      <div>
        <div class="btn_group-2MSRh_0">
          <div class="ivu-tooltip">
            <% if can? :import, Employee%>
              <div class="ivu-tooltip-rel">
                <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
                  <% if @work_type.present? or @filter_type.present? %>
                    <%= link_to employees_path(format: "xls", employees: employee_ids) do %>
                       <span style="color: #269Eff;">导出表格</span>
                    <% end %>
                  <% else %>
                    <%= link_to employees_path(format: "xls", employees: "全部") do %>
                       <span style="color: #269Eff;">导出表格</span>
                    <% end %>
                  <% end %>
                </button>
              </div>
              <div class="ivu-tooltip-rel" style="text-align: right">
                <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
                  <%= link_to new_employee_path do  %>
                     <span style="color: #269Eff;">新增人员</span>
                  <% end %>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if (can? :manage, Employee) || (can? :leader_read, Employee) %>
      <div class="switchTab-3pFw5_0" style="margin-top: 50px;">
        <div class="queryTop-26iSU_0">
          <div class="condition-19RSN_0">
            <li class="grow8">
              <div class="condition-19RSN_0 active-2SUrt_0">
                <div class="panel_main pannel-two change-type">
                  <div class="title">
                    <span>合计</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.count%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>其中：男</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.where(:sex => "男").count%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>女</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.where(:sex => "女").count%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>调离</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= link_to Employee.leaving.count, employee_detail_employees_path(type: "调离")%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>最近一月调动</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= link_to Employee.transfer(Time.now.beginning_of_month, Time.now.end_of_month).count, employee_detail_employees_path(type: "调动")%></span>
                    <span>人</span>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    <% elsif current_user.has_role? :awardadmin%>
      <div class="switchTab-3pFw5_0" style="margin-top: -50px;">
        <div class="queryTop-26iSU_0">
          <div class="condition-19RSN_0">
            <li class="grow8">
              <div class="condition-19RSN_0 active-2SUrt_0">
                <div class="panel_main pannel-two change-type">
                  <div class="title">
                    <span>合计</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.count%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>其中：男</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.where(:sex => "男").count%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>女</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.where(:sex => "女").count%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>调离</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= link_to Employee.leaving.count, employee_detail_employees_path(type: "调离")%></span>
                    <span>人</span>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>最近一月调动</span>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= link_to Employee.transfer(Time.now.beginning_of_month, Time.now.end_of_month).count, employee_detail_employees_path(type: "调动")%></span>
                    <span>人</span>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    <% else %>
      <div class="switchTab-3pFw5_0" style="margin-top: -65px;">
        <div class="queryTop-26iSU_0">
          <div class="condition-19RSN_0">
            <li class="grow8">
              <div class="condition-19RSN_0 active-2SUrt_0">
                <div class="panel_main pannel-two change-type">
                  <div class="title">
                    <span>合计</span>
                    <% if (current_user.has_role? :attendance_admin) || (current_user.has_role? :limitadmin)%>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.count %></span>
                    <% elsif current_user.has_role? :workshopadmin %>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.where(:workshop => Workshop.find_by(:name => current_user.name).id).count%></span>
                    <% elsif current_user.has_role? :organsadmin%>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%=  Employee.current.where(:group => Group.find_by(:name => current_user.name).id).count %></span>
                    <% elsif current_user.has_role? :groupadmin%>
                      <% group_name = current_user.name.split("-")[1] %>
                      <% group = Group.find_by(:name => group_name, :workshop_id => Workshop.find_by(:name => current_user.name.split("-")[0]).id)%>
                      <span class="highlight-1iKYJ_0" style="color: #269EFF"><%=  Employee.current.where(:workshop => group.workshop_id,:group => group.id).count %></span>
                    <% end %>
                    <span>人</span>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    <% end %>

    <div class="toolbar-26gsx_0">
      <div>

      <!--- 按工种分类筛选-开始  -->
      <% if can? :manage, Employee %>
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#">
                    按工种筛选
                 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% @work_types = Employee.current.pluck("work_type").uniq %>
                  <% @work_types.each do |work_type| %>
                    <li><%= link_to work_type, employees_path(work_type: work_type) %></li>
                  <% end %>
                </ul>
              </li>
            </li>
          </ul>
        </div>
      <% end %>
      <!--- 按工种分类筛选-结束  -->
      </div>
    </div>
  </div>


 <div>
    <!--- 筛选-开始  -->
    <% if can? :manage, Employee %>
      <%= form_tag filter_employees_path, method: 'get' do %>
        <%= label_tag :请选择筛选类别，并输入时间段：%>
        <%= select_tag(:filter_type, options_for_select(["年龄","工龄","路龄"]), {:prompt => "请选择", :required => "true"})%>
        <%= text_field_tag :start_time, nil, required: true %> ~
        <%= text_field_tag :end_time, nil, required: true %>
        <%= submit_tag :筛选 %>
      <% end %>
    <% end %>
    <!--- 筛选-结束  -->

    <!--- 搜索-开始  -->
    <div class="card">
      <div style="overflow: auto; width: 100%;">
        <% if (can? :manage, Employee) || (current_user.has_role? :leaderadmin) %>
          <%= render 'empshared/emp_table'%>
        <% elsif (current_user.has_role? :workshopadmin) %>
          <%= render 'empshared/workshop_table'%>
        <% elsif (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :attendance_admin) || (current_user.has_role? :awardadmin) %>
          <%= render 'empshared/emp_table_not_empadmin'%>
        <% end %>
      </div>
    </div>

      <div class="text-center">
        <% if params[:filter_type].blank? && params[:q].blank? %>
          <%= paginate @employees %>
        <% end %>
      </div>



   <% if can? :manage, Employee %>
      <h5>上传现员表</h5>

      <%= form_tag import_table_employees_path, multipart: true do %>
        <%= file_field_tag :file%>
        <%= submit_tag "上传"%>
      <% end %>
    <% end %>

  </div>
</div>
