<!-- Preloader -->
<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">
      <!-- 通过@employees的总页数，找出所有的id-开始 -->
      <% pages = @employees.total_pages %>
      <% employee_ids = @employees.page(1).per(16).pluck("id") %>
      <% (2..pages).each do |i| %>
        <% employee_ids += @employees.page(i).per(16).pluck("id") %>
      <% end %>
      <!-- 通过@employees的总页数，找出所有的id-结束 -->

      <!-- 总数统计-开始 -->
        <% if (can? :manage, Employee) || (can? :leader_read, Employee) || (current_user.has_role? :depudy_leaderadmin)%>
          <ul class="employee-title">
            <li>
              <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.where(id: employee_ids).count%></span><br>
              <span>合计</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_1" style="color: #269EFF"><%= link_to Employee.where(id: employee_ids).where(:sex => "男").count, employee_detail_employees_path(aa: request.query_parameters, default: "男") %></span>
              <br>
              <span>男</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_1" style="color: #269EFF"><%= link_to Employee.where(id: employee_ids).where(:sex => "女").count, employee_detail_employees_path(aa: request.query_parameters, default: "女") %></span>
              <br>
              <span>女</span>
            </li>
            <li>
              <% if Employee.where(id: employee_ids).count == 0 %>
                <span class="highlight-1iKYJ_0" style="color: #269EFF">0</span>
              <% else %>
                <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.where(id: employee_ids).sum("age") / Employee.where(id: employee_ids).count %></span>
              <% end %>
              <br>
              <span>平均年龄</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_0"><%= link_to Employee.leaving.count, employee_detail_employees_path(type: "调离")%></span>
              <br>
              <span>调离</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_0"><%= link_to Employee.retire.count, employee_detail_employees_path(type: "退休")%></span>
              <br>
              <span>退休</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_0"><%= link_to Employee.transfer(Time.now.beginning_of_month, Time.now.end_of_month).count, employee_detail_employees_path(type: "调动")%></span>
              <br>
              <span>最近一月调动</span>
            </li>
          </ul>
        <% elsif current_user.has_role? :awardadmin%>
          <ul class="employee-title">
            <li>
              <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.count%></span><br>
              <span>合计</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.where(:sex => "男").count%></span><br>
              <span>男</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.current.where(:sex => "女").count%></span><br>
              <span>女</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_0"><%= link_to Employee.leaving.count, employee_detail_employees_path(type: "调离")%></span><br>
              <span>调离</span>
            </li>
            <li>
              <span class="highlight-1iKYJ_0"><%= link_to Employee.transfer(Time.now.beginning_of_month, Time.now.end_of_month).count, employee_detail_employees_path(type: "调动")%></span><br>
              <span>最近一月调动</span>
            </li>
        </ul>
        <% else %>
          <ul class="employee-title">
            <li>
              <span class="highlight-1iKYJ_0" style="color: #269EFF"><%= Employee.where(id: employee_ids).count %></span><br>
              <span>合计</span>
            </li>
          </ul>
        <% end %>
        <!-- 总数统计-结束 -->





        <div class="panel panel-default">
            <div class="panel-body">
              <div class="panel">
                <div class="panel-heading" style="background-color: #fff;">
        <!-- 导出与新增-开始 -->
                  <button  onclick="toggle_visibility('employee-btn');" type="button" name="button" class="btn btn-success-alt">
                    <span class="glyphicon glyphicon-filter"></span>搜索/筛选
                  </button>
                    <div class="btn margin-right-10" style="float: right;">
                      <% if (current_user.has_role? :empadmin) || (current_user.has_role? :workshopadmin)%>
                            <% if @sex.present? or @duty.present? or @work_type.present? or @filter_type.present? or @workshop.present? or @group.present? %>
                              <%= link_to employees_path(format: "xls", employees: employee_ids),class:"btn btn-success-alt" do %>
                                 导出表格
                              <% end %>
                            <% else %>
                              <%= link_to employees_path(format: "xls", employees: "全部"),class:"btn btn-success-alt" do %>
                                导出表格
                              <% end %>
                            <% end %>

                        <% if current_user.has_role? :empadmin %>

                              <%= link_to new_employee_path,class:"btn btn-success-alt" do  %>
                                 新增人员
                              <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  <!-- 导出与新增-结束 -->
                </div>
                <div class="panel-body" id="employee-btn" style="display: none;">
                    <ul class="employee-search">
                      <li style="padding-top: 20px;">
                        <%= form_tag search_employees_path, :class => "posts-search-form", :method => :get do %>
                          <div class="input-group" style="width: 80%;">
                            <input type="text" class="form-control search-bar-input" name="q" value="<%= params[:q] %>" placeholder="输入姓名或工资号或身份证号">
                            <span class="input-group-btn">
                              <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span>
                              </button>
                            </span>
                          </div>
                        <% end %>
                      </li>

                      <li>
                        <%= form_tag filter_employees_path, method: 'get' do %>

                          <li style="display: inline-block;">车间：
                              <select name="workshop"  id="selid" onchange="selCity(this)">
                                <% Workshop.current.each do |workshop| %>
                                  <% if workshop.id == params[:workshop].to_i %>
                                    <option value="<%= workshop.id%>" selected><%= workshop.name%></option>
                                  <% else %>
                                    <option value="<%= workshop.id%>"><%= workshop.name%></option>
                                  <% end %>
                                <% end %>
                              </select>
                          </li>
                          <li style="display: inline-block;">班组：
                              <select name="group"  id="subselid">
                                <% Group.current.each do |group| %>
                                  <% if group.id == params[:group].to_i %>
                                    <option value="<%= group.id%>" selected><%= group.name%></option>
                                  <% else %>
                                    <option value="<%= group.id%>"><%= group.name%></option>
                                  <% end %>
                                <% end %>
                              </select>
                          </li>
                          <br>

                          <%= label_tag :按男女： %>
                          <select class="" name="sex">
                            <option value>请选择</option>
                            <% ["男","女"].each do |sex| %>
                              <% if params[:sex] == sex %>
                                <option value="<%= sex %>" selected><%= sex %></option>
                              <% else %>
                                <option value="<%= sex %>"><%= sex %></option>
                              <% end %>
                            <% end %>
                          </select>
                          <%= label_tag :按职务： %>
                          <select class="" name="duty">
                            <option value>请选择</option>
                            <% Employee.pluck("duty").uniq.compact.each do |duty| %>
                              <% if params[:duty] == duty %>
                                <option value="<%= duty %>" selected><%= duty %></option>
                              <% else %>
                                <option value="<%= duty %>"><%= duty %></option>
                              <% end %>
                            <% end %>
                          </select>
                          <%= label_tag :按技术职称： %>
                          <select class="" name="work_type">
                            <option value>请选择</option>
                            <% Employee.pluck("work_type").uniq.compact.each do |work_type| %>
                              <% if params[:work_type] == work_type %>
                                <option value="<%= work_type %>" selected><%= work_type %></option>
                              <% else %>
                                <option value="<%= work_type %>"><%= work_type %></option>
                              <% end %>
                            <% end %>
                          </select>
                          <%= label_tag :按时间段： %>
                          <select class="" name="filter_type">
                            <option value>请选择</option>
                            <% ["年龄","工龄","路龄"].each do |filter_type| %>
                              <% if params[:filter_type] == filter_type %>
                                <option value="<%= filter_type %>" selected><%= filter_type %></option>
                              <% else %>
                                <option value="<%= filter_type %>"><%= filter_type %></option>
                              <% end %>
                            <% end %>
                          </select>
                          <% if params[:start_time].present? && params[:end_time].present? %>
                            <span class="employee-start-time"><%= text_field_tag :start_time,params[:start_time],{:class => "employee-start-time" }%></span> ~
                            <span class="employee-start-time"><%= text_field_tag :end_time,params[:end_time],{:class => "employee-start-time"} %></span>
                          <% else %>
                            <span class="employee-start-time"><%= text_field_tag :start_time,"",{:class => "employee-start-time" }%></span> ~
                            <span class="employee-start-time"><%= text_field_tag :end_time,"",{:class => "employee-start-time"} %></span>
                          <% end %>
                          <!-- <% if params[:workshop].present? %>
                            <%= hidden_field_tag :workshop, params[:workshop] %>
                          <% elsif params[:group].present? %>
                            <%= hidden_field_tag :group, params[:group] %>
                          <% end %> -->
                          <br>
                          <br>
                          <%= submit_tag :筛选 %>
                        <% end %>
                      </li>
                    </ul>
                  </div>
              </div><!--panel-->

              <!--- 搜索-开始  -->

                    <% if (can? :manage, Employee) || (can? :leader_read, Employee) || (current_user.has_role? :depudy_leaderadmin)  %>
                      <%= render 'empshared/emp_table' %>
                    <% elsif current_user.has_role? :attendance_admin %>
                      <%= render 'empshared/other_duanadmin' %>
                    <% elsif (current_user.has_role? :workshopadmin) %>
                      <%= render 'empshared/workshop_table', :locals => {:@workshop => @workshop, :@group => @group} %>
                    <% elsif (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :wgadmin) || (current_user.has_role? :attendance_admin) || (current_user.has_role? :awardadmin)%>
                      <%= render 'empshared/emp_table_not_empadmin'%>
                    <% end %>
                <div class="text-center">
                  <%= paginate @employees %>
                </div>

              </div><!--panel-body-->
          </div>

</div>
<script type="text/javascript">
    function selCity()
    {
        var arr = gon.group_name;

        var selNode = document.getElementById("selid");
        var subselNode = document.getElementById("subselid");
        var index = selNode.selectedIndex;
        var citys = arr[index];

        subselNode.options.length = 0;

        for(var i=0; i<citys.length; i++)
        {
            var optionNode = document.createElement("option");
            optionNode.value = citys[i][1];
            optionNode.innerText = citys[i][0];
            subselNode.appendChild(optionNode);
        }
    };

    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>
