<div class="contentpanel">
<%= form_for @employee do |f| %>

<% transfer_columns = {
                        "sal_number" => "工资号",
                        "job_number" =>  "工号",
                        "record_number" => "档案号",
                        "workshop" => "部门" ,
                        "group" => "班组名称",
                        "group_category" => "班组类别",
                        "name" =>  "姓名",
                        "sex" => "性别" ,
                        "birth_date" =>  "出生日期",
                        "birth_year" =>  "出生年份",
                        "age" =>  "年龄",
                        "nation" =>  "民族",
                        "native_place" =>  "籍贯",
                        "political_role" =>  "政治面目",
                        "political_party_date" =>  "党团时间",
                        "working_time" => "工作时间" ,
                        "railway_time" => "入路时间",
                        "entry_time" => "本单位日期",
                        "duty" => "职务",
                        "employment_period" => "任职时间",
                        "part_time" =>  "兼职" ,
                        "grade" => "级别",
                        "promotion_leader_time" =>  "转干时间",
                        "technique_duty" => "技术职务" ,
                        "hold_technique_time" =>  "任技时间",
                        "work_type" => "工种分类",
                        "job_foreman_category" => "班组长类别",
                        "job_foreman_duty" =>  "班组长职务",
                        "job_foreman" => "任班组长",
                        "contract_station" => "合同岗位",
                        "three_one" => "三员一长",
                        "people_source" => "人员来源",
                        "people_category" => "人员分类",
                        "education_background" =>  "文化程度",
                        "graduation_time" => "毕业时间",
                        "graduation_school" => "毕业学校",
                        "school_sort" => "学校类别",
                        "major" => "所学专业",
                        "where_place" => "现在何处",
                        "employment_form" => "用工形式",
                        "contract_period" => "合同期限",
                        "conclude_contract_time" => "签订时间",
                        "record_saler" => "档案工资",
                        "skilledness_saler" => "技能工资" ,
                        "station_saler" => "岗位工资",
                        "seniority_saler" =>  "工龄工资",
                        "skilledness_authenticate" =>  "技能鉴定",
                        "treatment" => "待遇" ,
                        "station_rank" => "岗位档序",
                        "skilledness_rank" => "技能档序",
                        "station_now" => "现岗位",
                        "station_now_time" =>   "现岗时间",
                        "retire_condition" => "退休条件",
                        "marriage_status" => "婚况" ,
                        "separate_status" => "分居情况",
                        "visit_family" => "享受探亲",
                        "registered_residence" =>  "户口所在",
                        "family_address" => "家庭住址",
                        "comment" => "备注" ,
                        "identity_card_number" =>  "身份证号",
                        "employee_card_number" => "工作证号",
                        "trade_code" =>  "行业代码",
                        "produce_group" => "生产组",
                        "saler_item" => "工资项目",
                        "other_saler" =>  "其他工资",
                        "comment_data" => "备用数据" ,
                        "TBZ" =>  "TBZ",
                        "PY" =>  "PY",
                        "company_name" =>  "单位名称",
                        "CJBZPX" => "CJBZPX",
                        "family" =>  "家属",
                        "J01BF" =>   "J01BF",
                        "duting" => "职务化"}%>

<div class="panel">
  <div class="panel-body">
    <%= link_to employees_path,class:"btn btn-success-alt" do%>
      <span>返回</span>
    <% end %>


    <!--下边-->
          <!--基本信息-->

<!--基本信息的头部字-->
<div class="head-3fDND_0">
  <div class="info-2zzSp_0" style="background: #F8F8F9">
    <%= "基本信息"%>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <ul class="employee-list">
      <li>
      <span class="glyphicon glyphicon-asterisk"></span>
      <span>工资号</span>

      <%= f.text_field :sal_number, required: true %>
      </li>
      <li><span class="glyphicon glyphicon-asterisk"></span><span>性别</span>
      <%= f.select :sex, options_for_select([["男", "1"], ["女", "2"]]), required: true%>
      </li>
      <li><span class="glyphicon glyphicon-asterisk"></span>车间
      <%= f.select(:workshop, options_for_select(Workshop.current.collect{ |u| [u.name, u.id] }), {required: true}, id: "selid",  :onchange => "selCity(this)") %>
      </li>
      <li><span class="glyphicon glyphicon-asterisk"></span>出生日期
      <%= f.text_field :birth_date, required: true,placeholder: "格式如：20180812" %>
      </li>
      <li><span class="glyphicon glyphicon-asterisk"></span>入路时间
      <%= f.text_field :railway_time, required: true,placeholder: "格式如：20180812" %>
      </li>
      <li><span class="glyphicon glyphicon-asterisk"></span>文化程度
      <%= f.select :education_background,options_for_select(Employee.pluck(:education_background).uniq.compact), required: true %>
      </li>
      <li>籍贯
      <%= f.select :native_place, options_for_select((Employee.pluck(:native_place).uniq.compact.take 25) + ["重庆","贵州","宁夏"]) %>
      </li>
      <li>党团时间
      <%= f.text_field :political_party_date  %>
      </li>
      <li>毕业院校
      <%= f.text_field :graduation_school %>
      </li>
      <li>所学专业
      <%= f.text_field :major %>
      </li>
      <li>分居情况
      <%= f.text_field :separate_status %>
      </li>
      <li>家庭住址
      <%= f.text_field :family_address %>
      </li>
      <li>联系电话
      <%= f.text_field :phone_number %>
      </li>
    </ul>
  </div>
  <div class="col-md-5">
    <ul class="employee-list">
      <li><span class="glyphicon glyphicon-asterisk"></span>姓名
      <%= f.text_field :name, required: true %>
      </li>
      <li><span class="glyphicon glyphicon-asterisk"></span>职务
      <%= f.select :duty,options_for_select(Employee.pluck(:duty).uniq.compact), required: true %>
      </li>
      <li><span class="glyphicon glyphicon-asterisk"></span>班组
      <%= f.select(:group, options_for_select(Group.current.where(:workshop_id => 1).collect{ |u| [u.name] }), {required: true}, id: "subselid") %>
      </li>
      <li><span class="glyphicon glyphicon-asterisk"></span>工作时间
      <%= f.text_field :working_time, required: true,placeholder: "格式如：20180812" %>
      </li>
      <li><span class="glyphicon glyphicon-asterisk"></span>工种分类
      <%= f.select :work_type,options_for_select(Employee.pluck(:work_type).uniq.compact), required: true %>
      </li>
      <li>民族
      <%= f.text_field :nation %>
      </li>
      <li>政治面目
      <%= f.select :political_role,options_for_select(Employee.pluck(:political_role).uniq.compact) %>
      </li>
      <li>毕业时间
      <%= f.text_field :graduation_time %>
      </li>
      <li>学校类别
      <%= f.text_field :school_sort %>
      </li>
      <li>婚况
      <%= f.text_field :marriage_status %>
      </li>
      <li>户口所在
      <%= f.text_field :registered_residence %>
      </li>
      <li>身份证号
      <%= f.text_field :identity_card_number %>
      </li>
    </ul>
  </div>
</div> <!--row-->
<!-- 结束 -->




<!--其他信息-->
<!--基本信息的头部字-->
<div class="head-3fDND_0">
  <div class="info-2zzSp_0" style="background: #F8F8F9">
    <%= "岗位信息"%>
  </div>
</div>
<% station_info_columns = ["job_number", "record_number", "station_rank", "skilledness_rank", "entry_time", "employment_period", "part_time", "grade", "promotion_leader_time", "technique_duty", "hold_technique_time", "job_foreman", "contract_station", "company_name"]%>
<% station_info_columns_other = ["three_one", "people_source" , "people_category" ,"where_place", "employment_form", "contract_period", "conclude_contract_time", "skilledness_authenticate", "station_now", "station_now_time", "retire_condition", "visit_family", "employee_card_number", "trade_code", "produce_group"]%>

<div class="row">
  <div class="col-md-5">
      <ul class="employee-list">
        <% station_info_columns.each do |emp| %>
        <li><%= transfer_columns[emp] %>
           <%= f.text_field emp %>
        </li>
        <% end %>
      </ul>
  </div>
  <div class="col-md-5">
    <ul class="employee-list">
      <% station_info_columns_other.each do |emp| %>
      <li>
        <%= transfer_columns[emp] %>
        <%= f.text_field emp %>
      </li>
      <% end %>
    </ul>
  </div>
</div>


<!--其他信息结束-->

<!--工资信息-->

<!--信息的头部字-->
<div class="head-3fDND_0">
  <div class="info-2zzSp_0" style="background: #F8F8F9">
    <%= "工资信息"%>
  </div>
</div>

  <% saler_info_columns = ["record_saler","skilledness_saler", "station_saler", "seniority_saler"]%>
    <div class="row">
      <div class="col-md-5">
        <ul class="employee-list">
            <% saler_info_columns.each do |emp| %>
              <li>
                <%= transfer_columns[emp] %>
                <%= f.text_field emp %>
              </li>
            <% end %>
          <li><%= f.label :上传照片 %>
          <%= f.file_field :avatar %>
          </li>
        </ul>
      </div>
    </div>



  <div class="center-uRe1b_0">
    <%= f.submit :确定新增, class:"btn button-success"%>
  </div>
<!-- 结束 -->


  </div><!--panel-body-->
</div><!--panel-->

  <% end %><!--form-for-->
</div>
<!-- 级联菜单JS代码-开始 -->
<script type="text/javascript">
  function selCity()
  {
      var arr = gon.group_name;

      var selNode = document.getElementById("selid");
      var subselNode = document.getElementById("subselid");
      var index = selNode.selectedIndex;
      var citys = arr[index];

      subselNode.options.length = 0;

      for(var i=0; i<citys.length; i++)
      {
          var optionNode = document.createElement("option");
          optionNode.value = citys[i][1];
          optionNode.innerText = citys[i][0];
          subselNode.appendChild(optionNode);
      }
  }
</script>
<!-- 级联菜单JS代码-结束 -->
