
<div class="contentpanel">
<!-- 通过@employees的总页数，找出所有的id-开始 -->
<% pages = @employees.total_pages %>
<% employee_ids = @employees.page(1).per(16).pluck("id") %>
<% (2..pages).each do |i| %>
  <% employee_ids += @employees.page(i).per(16).pluck("id") %>
<% end %>
<!-- 通过@employees的总页数，找出所有的id-结束 -->
<div class="panel panel-body">
  <% if can? :import, Employee%>

      <!-- <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
        <% if @workshop.present? or @group.present? %>
          <%= link_to organization_structure_employees_path(format: "xls", employees: employee_ids) do %>
            <span style="color: #269Eff;">导出表格</span>
          <% end %>
        <% else %>
          <%= link_to organization_structure_employees_path(format: "xls", employees: "全部") do %>
            <span style="color: #269Eff;">导出表格</span>
          <% end %>
        <% end %>

      </button> -->
    <div class="btn margin-right-10" >
        <%= link_to "#",class:"btn btn-success-alt", "data-toggle" => "modal", "data-target" => "#mergeWorkshopModal" do  %>
           合并车间
        <% end %>
        <%= link_to "#", class:"btn btn-success-alt","data-toggle" => "modal", "data-target" => "#mergeGroupModal" do  %>
           合并班组
        <% end %>
    </div>


    <!-- <div class="ivu-tooltip-rel" style="text-align: right">
      <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#deleteOrganizationModal" do  %>
           <span style="color: #269Eff;">删除车间/班组</span>
        <% end %>
      </button>
    </div>
    <div class="ivu-tooltip-rel" style="text-align: right">
      <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#editWorkshopModal" do  %>
           <span style="color: #269Eff;">修改车间</span>
        <% end %>
      </button>
    </div>
    <div class="ivu-tooltip-rel" style="text-align: right; margin-right: -20px; ">
      <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#editGroupModal" do  %>
           <span style="color: #269Eff;">修改班组</span>
        <% end %>
      </button>
    </div> -->
  <% end %>

<div class="table-organization">
  <ul class="table-title">
    <li>
      组织名称
    </li>
    <li class="filter-type">操作</li>
  </ul>
  <ul class="table-body">
    <li>北京供电段</li>
    <li class="filter-type">
        <%= link_to "#", class:"btn btn-success-alt","data-toggle" => "modal", "data-target" => "#createWorkshopModal" do  %>
           <i class="fa fa-pencil"></i> 新增车间
        <% end %>
    </li>
  </ul>
  <% @workshops.each do |workshop| %>
  <ul class="table-body">
    <li class="font">
        <span class="glyphicon glyphicon-play" style="margin: 0 5px;"></span>
        <%= workshop.name %>
    </li>
    <li class="filter-type">
      <div class="btn-group">
          <%= link_to "#", class:"btn btn-success-alt","data-toggle" => "modal", "data-target" => "#createGroupModal" do  %>
             新增班组
          <% end %>
        <button type="button" name="button" class="btn btn-success-alt"><i class="fa fa-pencil"></i>编辑</button>
        <button type="button" name="button" class="btn btn-success-alt"><i class="fa fa-trash-o"></i>删除</button>
      </div>
    </li>


    <% workshop.groups.each do |group| %>
      <ul class="children"  style="display: none;">
        <li>
          <%= form_tag merge_group_employees_path, method: 'post' do %>
          <%= check_box_tag "groups[]", group.id %>
          <%= label_tag :q, "#{group.name}"%>
          <%= submit_tag "确定"%>
          <% end %>
        </li>
        <li class="filter-type">
          <a href="" class="itemopt disabled"><i class="fa fa-pencil"></i> 编辑</a>
          <a href="" class="itemopt disabled"><i class="fa fa-trash-o"></i> 删除</a>
        </li>
      </ul>
    <% end %>
  </ul>
  <% end %>

</div>







<div class="modal fade" id="createWorkshopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">新增车间</h4>
      </div>
      <div class="modal-body">
        <%= form_tag create_workshop_employees_path, method: 'post' do %>
          <%= label_tag :请输入车间名称 %>
          <%= text_field_tag :name, nil, required: true %>
          <%= submit_tag :点击新增 %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">新增班组</h4>
      </div>
      <div class="modal-body">
        <%= form_tag create_group_employees_path, method: 'post' do %>
          <%= label_tag :请输入班组名称 %>
          <%= text_field_tag :name, nil, required: true %>
          <%= label_tag :请输入所属车间名称 %>
          <%= text_field_tag :workshop_name, nil, required: true %>
          <%= submit_tag :点击新增 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "show_merge_workshop" %>
<%= render "show_merge_group" %>
<%= render "show_delete_organization" %>
<%= render "show_edit_workshop" %>
<%= render "show_edit_group" %>
</div>
