
<div class="contentpanel">
  <div class="panel">
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="organization_structure" role="tablist">
        <% if can? :import, Employee%>
        <li class="btn btn-success-alt active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">组织结构</a></li>
        <li class="btn btn-success-alt"><a href="#workshop" aria-controls="workshop" role="tab" data-toggle="tab">合并车间</a></li>
        <li class="btn btn-success-alt"><a href="#group" aria-controls="group" role="tab" data-toggle="tab">合并班组</a></li>
        <% end %>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home"><%= render partial:"show_organization" %></div>
        <div role="tabpanel" class="tab-pane" id="workshop"><%= render partial:"show_merge_workshop" %></div>
        <div role="tabpanel" class="tab-pane" id="group"><%= render partial:"show_merge_group" %></div>
      </div>
    </div>
  </div>
</div>



<%= render "show_delete_organization" %>
<div id="show-edit-organization"></div>
<%= render "show_create_workshop" %>
<%= render "show_create_group" %>
</div>

<script type="text/javascript">
  $(document).ready(function () {
      $(function() {
        $('td.parent')
              .css("cursor","pointer")
              .attr("title","点击这里展开/关闭")
              .click(function(){
                $('.child-'+ this.id).toggle();
              });
            });
});
</script>
