<!DOCTYPE html>
  <html style="height: 100%">
    <head>
      <meta charset="utf-8" />
    </head>

  <body style="height: 100%">
    <%= render 'employee_navbar'%>
    <div class="col-md-12" style="height: 100%">
    <div class="col-md-2" id="menu" style="background-color: white;overflow: auto;height: 100%;">
     
      <div class="ivu-tooltip-rel" style="text-align: right">
        <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
          <%= link_to "#", "data-toggle" => "modal", "data-target" => "#createWorkshopModal" do  %>
             <span style="color: #269Eff;">新增车间</span>
          <% end %>
        </button>
      </div>
      <div class="ivu-tooltip-rel" style="text-align: right">
        <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
          <%= link_to "#", "data-toggle" => "modal", "data-target" => "#createGroupModal" do  %>
             <span style="color: #269Eff;">新增班组</span>
          <% end %>
        </button>
      </div>
      <div class="ivu-tooltip-rel" style="text-align: right">
        <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
          <%= link_to "#", "data-toggle" => "modal", "data-target" => "#mergeWorkshopModal" do  %>
             <span style="color: #269Eff;">合并车间</span>
          <% end %>
        </button>
      </div>
      <div class="ivu-tooltip-rel" style="text-align: right">
        <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
          <%= link_to "#", "data-toggle" => "modal", "data-target" => "#mergeGroupModal" do  %>
             <span style="color: #269Eff;">合并班组</span>
          <% end %>
        </button>
      </div>
      
      <h5><%= link_to "北京供电段", organization_structure_employees_path(duan: "北京供电段") %></h5>
      <ul>
        <% @workshops.each do |workshop| %>
        <li>
          <em></em><a href='/employees/organization_structure?workshop=<%= workshop.id %>'><%= workshop.name %></a>

          <ul>
            <% @groups = workshop.groups %>
            <% @groups.each do |group| %>
              <li><a href='/employees/organization_structure?group=<%= group.id %>'><%= group.name %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-10" style="overflow: auto;">
      <h2><%= $workshop_ids %></h2>
      <h2><%= $aaa %></h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>工资号</th>
            <th>工号</th>
            <th>档案号</th>
            <th>车间</th>
            <th>班组</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>文化程度</th>
            <th>民族</th>
            <th>籍贯</th>
            <th>工作时间</th>
            <th>工龄</th>
            <th>入路时间</th>
            <th>路龄</th>
          </tr>
        </thead>
        <tbody>

          <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.sal_number %></td>
              <td><%= employee.job_number %></td>
              <td><%= employee.record_number %></td>
              <td><%= Workshop.find(employee.workshop).name %></td>
              <td><%= Group.find(employee.group).name %></td>
              <td><%= employee.name %></td>
              <td><%= employee.sex %></td>
              <td><%= employee.age %></td>
              <td><%= employee.education_background %></td>
              <td><%= employee.nation %></td>
              <td><%= employee.native_place %></td>
              <td><%= employee.working_time %></td>
              <td><%= employee.working_years %></td>
              <td><%= employee.railway_time %></td>
              <td><%= employee.rali_years %></td>
            </tr>
          <% end %>
       </tbody>
      </table>
     </div>
     <div class="text-center">
       <%= paginate @employees %>
     </div>
    </div>


<div class="modal fade" id="createWorkshopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">新增车间</h4>
      </div>
      <div class="modal-body">
        <%= form_tag create_workshop_employees_path, method: 'post' do %>
          <%= label_tag :请输入车间名称 %>
          <%= text_field_tag :name %>
          <%= submit_tag :点击新增 %>
        <% end %>
      </div>
    </div> 
  </div>
</div>

<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">新增车间</h4>
      </div>
      <div class="modal-body">
        <%= form_tag create_group_employees_path, method: 'post' do %>
          <%= label_tag :请输入班组名称 %>
          <%= text_field_tag :name %>
          <%= label_tag :请输入所属车间名称 %>
          <%= text_field_tag :workshop_name %>
          <%= submit_tag :点击新增 %>
        <% end %>
      </div>
    </div> 
  </div>
</div>
<%= render "show_merge_workshop" %>
<%= render "show_merge_group" %>

    <script type="text/javascript">
      (function(e) {
        for(var _obj=document.getElementById(e.id).getElementsByTagName(e.tag),i=-1,em;em=_obj[++i];){
          em.onclick = function(){ //onmouseover
            var ul = this.nextSibling;
            if(!ul){
              return false;
            }
            ul = ul.nextSibling;
            if(!ul) {
              return false;
            }
            if(e.tag != 'a') {
              ul = ul.nextSibling;
              if(!ul){
                return false;
              }
            } //a 标签控制 隐藏或删除该行
            for(var _li=this.parentNode.parentNode.childNodes,n=-1,li;li=_li[++n];) {
              if(li.tagName=="LI"){
                for(var _ul=li.childNodes,t=-1,$ul;$ul=_ul[++t];){
                  switch($ul.tagName){
                    case "UL": $ul.className = $ul!=ul?"" : ul.className?"":"off";
                    break;
                    case "EM": $ul.className = $ul!=this?"" : this.className?"":"off";
                    break;
                  }
                }
              }
            }
          }
        }
      })({id:'menu',tag:'em'});
    </script>
  </body>
</html>
