
<div class="widget-container" data-widgetid="1" data-size="normal">
  <div class="widget-content-container">
    <div class="mark-contend"></div>
     <div class="widget-topbar" style="cursor: auto;">
       <div class="widget-title">
         <div class="title" data-method="nav" style="margin-top: 10px;">
            全段年龄分析表格
         </div>
         <div class="range">
           <%= Time.now.strftime(("%Y年%m月%d日") )%>
         </div>
       </div>
       <div class="pull-right widget-setting">
         <div class="customer-menu"></div>
       </div>
     </div>

     <div class="widget-chart-container container">
       <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:20px ;overflow: auto">
         <table class="table table-bordered">
           <thead>
             <tr>
               <th>供电段</th>
               <th>25岁以下</th>
               <th>26-30岁</th>
               <th>31-35岁</th>
               <th>36-40岁</th>
               <th>41-45岁</th>
               <th>46-50岁</th>
               <th>51-55岁</th>
               <th>56岁以上</th>
             </tr>
           </thead>
           <tbody>
              <tr>
                <td><%= "全段"%></td>
                <td><%= @age_25_below%></td>
                <td><%= @age_26 %></td>
                <td><%= @age_31 %></td>
                <td><%= @age_36 %></td>
                <td><%= @age_41 %></td>
                <td><%= @age_46 %></td>
                <td><%= @age_51 %></td>
                <td><%= @age_56_up %></td>
              </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>
 </div>
