<%= render "employee_navbar"%>
<p><%= @employee.sal_number %></p>
<p><%= @employee.job_number %></p>
<p><%= @employee.record_number %></p>
<p><%= @employee.workshop%></p>
<p><%= @employee.group %></p>
<p><%= @employee.group_category %></p>
<p><%= @employee.name %></p>
<p><%= @employee.sex %></p>
<p><%= @employee.birth_date %></p>
<p><%= @employee.birth_year %></p>
<p><%= @employee.age %></p>
<p><%= @employee.nation %></p>
<p><%= @employee.native_place %></p>
<p><%= @employee.political_role %></p>
<p><%= @employee.political_party_date %></p>
<p><%= @employee.working_time %></p>
<p><%= @employee.railway_time %></p>
<p><%= @employee.working_years %></p>
<p><%= @employee.rali_years %></p>
<p><%= @employee.entry_time %></p>
<p><%= @employee.duty %></p>
<p><%= @employee.employment_period %></p>
<p><%= @employee.part_time %></p>
<p><%= @employee.grade %></p>
<p><%= @employee.promotion_leader_time %></p>
<p><%= @employee.technique_duty %></p>
<p><%= @employee.hold_technique_time %></p>
<p><%= @employee.work_type %></p>
<p><%= @employee.job_foreman_category%></p>
<p><%= @employee.job_foreman_duty %></p>
<p><%= @employee.job_foreman %></p>
<p><%= @employee.contract_station %></p>
<p><%= @employee.three_one %></p>
<p><%= @employee.people_source %></p>
<p><%= @employee.people_category %></p>
<p><%= @employee.education_background %></p>
<p><%= @employee.graduation_time %></p>
<p><%= @employee.graduation_school %></p>
<p><%= @employee.school_sort %></p>
<p><%= @employee.major %></p>
<p><%= @employee.where_place %></p>
<p><%= @employee.employment_form %></p>
<p><%= @employee.contract_period %></p>
<p><%= @employee.conclude_contract_time %></p>
<p><%= @employee.record_saler %></p>
<p><%= @employee.skilledness_saler %></p>
<p><%= @employee.station_saler %></p>
<p><%= @employee.seniority_saler %></p>
<p><%= @employee.skilledness_authenticate %></p>
<p><%= @employee.treatment %></p>
<p><%= @employee.station_rank %></p>
<p><%= @employee.skilledness_rank %></p>
<p><%= @employee.station_now %></p>
<p><%= @employee.station_now_time %></p>
<p><%= @employee.retire_condition %></p>
<p><%= @employee.marriage_status %></p>
<p><%= @employee.separate_status %></p>
<p><%= @employee.visit_family %></p>
<p><%= @employee.registered_residence %></p>
<p><%= @employee.family_address %></p>
<p><%= @employee.comment %></p>
<p><%= @employee.identity_card_number %></p>
<p><%= @employee.employee_card_number %></p>
<p><%= @employee.trade_code %></p>
<p><%= @employee.produce_group %></p>
<p><%= @employee.saler_item %></p>
<p><%= @employee.other_saler %></p>
<p><%= @employee.comment_data %></p>
<p><%= @employee.TBZ %></p>
<p><%= @employee.PY %></p>
<p><%= @employee.company_name %></p>
<p><%= @employee.CJBZPX %></p>
<p><%= @employee.family %></p>
<p><%= @employee.J01BF %></p>
<p><%= @employee.duting %></p>
