<%= render 'employee_navbar'%>
<% if params[:age].present? %>
  <%= link_to "返回", age_statistical_analysis_employees_path %>
<% elsif params[:education].present? %>
  <%= link_to "返回", education_statistical_analysis_employees_path %>
<% elsif params[:working_years].present? %>
  <%= link_to "返回", working_years_statistical_analysis_employees_path %>
<% elsif params[:rali_years].present? %>
  <%= link_to "返回", rali_years_statistical_analysis_employees_path %>
<% end %>
<br><br>
<h4> 
  <% if params[:workshop].present? %>
    车间：<%= params[:workshop] %> &nbsp &nbsp &nbsp
    <% if params[:age].present? %>
      年龄段：<%= params[:age] %>&nbsp &nbsp &nbsp
    <% elsif params[:education].present? %>
      文化程度：<%= params[:education] %>&nbsp &nbsp &nbsp
    <% elsif params[:working_years] %>
      工龄：<%= params[:working_years] %>&nbsp &nbsp &nbsp
    <% elsif params[:rali_years] %>
      路龄：<%= params[:rali_years] %>&nbsp &nbsp &nbsp
    <% end %>
  <% else %>
    <% if params[:age].present? %>
      年龄段：<%= params[:age] %>&nbsp &nbsp &nbsp
    <% elsif params[:education].present? %>
      文化程度：<%= params[:education] %>&nbsp &nbsp &nbsp
    <% elsif params[:working_years] %>
      工龄：<%= params[:working_years] %>&nbsp &nbsp &nbsp
    <% elsif params[:rali_years] %>
      路龄：<%= params[:rali_years] %>&nbsp &nbsp &nbsp
    <% end %>
  <% end %>
  人数： <%= @employees.count %>人
</h4>
<div class="col-md-12" style="overflow: auto; width: 100%;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>工资号</th>
        <th>工号</th>
        <th>档案号</th>
        <th>车间</th>
        <th>班组</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>文化程度</th>
        <th>民族</th>
        <th>籍贯</th>
        <th>工作时间</th>
        <th>工龄</th>
        <th>入路时间</th>
        <th>路龄</th>
      </tr>
    </thead>
        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.sal_number %></td>
              <td><%= employee.job_number %></td>
              <td><%= employee.record_number %></td>
              <td><%= employee.workshop %></td>
              <td><%= employee.group %></td>
              <td><%= employee.name %></td>
              <td><%= employee.sex %></td>
              <td><%= employee.age %></td>
              <td><%= employee.education_background %></td>
              <td><%= employee.nation %></td>
              <td><%= employee.native_place %></td>
              <td><%= employee.working_time %></td>
              <td><%= employee.working_years %></td>
              <td><%= employee.railway_time %></td>
              <td><%= employee.rali_years %></td>
            </tr>
          <% end %>
       </tbody>
  </table>
</div>





