
    def holiday_fulfill_detail
       workshop = Workshop.pluck("name")
      @group = [["--选择省份--"]]
      workshop.each do |name|
        @group << Group.where(:workshop_id => Workshop.find_by(:name => name).id).pluck("name","id")
      end
      gon.group_name = @group
    end



<%= form_tag filter_annual_holidays_path, method: 'get' do %>
       <script type="text/javascript">
            function selCity()
            {
                var arr = gon.group_name;

                var selNode = document.getElementById("selid");
                var subselNode = document.getElementById("subselid");
                var index = selNode.selectedIndex;
                var citys = arr[index];

                subselNode.options.length = 0;

                for(var i=0; i<citys.length; i++)
                {
                    var optionNode = document.createElement("option");
                    optionNode.value = citys[i][1];
                    optionNode.innerText = citys[i][0];
                    subselNode.appendChild(optionNode);
                }
            }
            </script>

            <select name="workshop" id="selid" onchange="selCity(this)">
                <option>--选择车间--</option>
                <% Workshop.pluck("name","id").each do |name| %>
                    <option value="<%=name[1]%>"><%= name[0]%></option>
                <% end %>

            </select>
            <select name="group" id="subselid">
                <option>--选择班组--</option>
            </select>

                <%= select_tag :year, options_for_select(@years.collect{ |u| u }), {:prompt => "请选择年份"} %>
                <%= submit_tag :点击筛选 %>
            <% end %>