<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Description">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1" ss:ShrinkToFit="1"/>
      <Borders>
      <Border ss:Position="Top" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Bottom" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Left" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Right" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="Description"><Data ss:Type="String">序号</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">姓名</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">工资号</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">部门</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">核减金额</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">备注</Data></Cell>
      </Row>
      <% n = 0 %>
    <% @export_red_middle_charges.each do |sal_number,items| %>
      <% n += 1 %>
      <Row>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= n %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= items.first.姓名 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= sal_number %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= items.first.部门 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= items.map{|item| item.核减金额.to_f.round(2)}.sum %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= items.map{|item| item.备注}.join(";") %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
