<%= render 'relative_salers/saler_navbar'%>

<div class="head-btn col-md-12">
  <div class="back-btn">
    <%= link_to "返回", charge_details_path %>
  </div>

  <div class="col-md-6">
    <h4 style="text-align: left; margin-left: -15px;">2018年7月 红牌中层扣款明细表</h4>
  </div>
  <%= link_to "上传红牌中层扣款明细表", new_red_middle_charge_path, class: 'btn btn-primary-upload'%>
</div>


<div class="col-md-12">

  <div class="card">
    <div style="overflow: auto; width: 100%;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>工资号</th>
            <th>部门</th>
            <th>核减金额</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <% @charges.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.姓名 %></td>
              <td><%= item.工资号 %></td>
              <td><%= item.部门 %></td>
              <td><%= item.核减金额 %></td>
              <td><%= item.备注 %></td>
            </tr>
          <% end %>
       </tbody>
      </table>
    </div>
  </div>

</div>
