<div class="col-md-12" style="margin-top: -50px;">
  <a href="/wages/import_wage" ><< 返回 </a>
  <div class="pull-right">
    <a href="wages/kuaizhao_index?category=high">高铁岗位人员情况统计表<span style="color:red;">(累计) </a>
  </div>

  <h5 style="text-align: center;"><%=@year%>年<%=@month%>月高铁岗位人员情况统计表</h5>
  <div class="col-md-12 col-lg-12 col-ms-12" style = "padding-left: 20px;">
    <%= form_tag high_speed_rail_stuffs_path,method: :get  do %>
      <%= label_tag :请输入时间段搜索 %>
      <select class="" name="year">
        <% Wage.pluck(:year).uniq.each do |year| %>
          <% if year == @year %>
            <option value="<%= year %>" selected><%= year %></option>
          <% else %>
            <option value="<%= year %>"><%= year %></option>
          <% end %>
        <% end %>
      </select>
      <select class="" name="month">
        <% Wage.pluck(:month).uniq.each do |month| %>
          <% if month == @month %>
            <option value="<%= month %>" selected><%= month %></option>
          <% else %>
            <option value="<%= month %>"><%= month %></option>
          <% end %>
        <% end %>
      </select>
      <%= submit_tag :筛选 %>
    <% end %>
  </div>
  <div class="card">
    <div style="overflow: auto;" class="col-md-12">
      <table id="example" class="table table-bordered">
        <thead>
        	<tr>
            <th>序号</th>
            <th>项目</th>
            <% HighSpeedRailStuffHead.all.each do |head| %>


              <th><%= link_to(head.head_name,edit_head_high_speed_rail_stuffs_path(:id => head.id),style: "color: black;") %></th>

            <% end %>
            <th><%= link_to("+",new_head_high_speed_rail_stuffs_path,style: "color: blue;") %></th>
        	</tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% HighSpeedRailStuff.all.each do |level| %>
            <% n = n+1%>
            <% level_formula = level.formula %>
            <% if level_formula.keys.include?("age") %>
              <% level_age_range = []%>
              <%  level_formula["age"].each do |value| %>
                <% level_age_range<< value.to_i %>
              <% end %>
              <% level_formula["age"] = (level_age_range.min..level_age_range.max)%>
            <% end %>
            <% employee_people = Employee.current.where(level_formula)%>
            <% wage_people = Wage.where(Wage.head_transfer.index("工资号") => employee_people.pluck("sal_number"),:year => @year,:month => @month) %>
            <tr>
              <td><%= n %></td>
              <td>
                <%= link_to edit_line_high_speed_rail_stuffs_path(:id => level.id),style: "color: black;" do %>
                  <%= level.name %>
                <% end %>
                <!-- <%= link_to("",edit_line_divide_level_wages_path(:id => level.id),class: "fa fa-pencil-square-o",style: "color: blue;") %>&nbsp|&nbsp
                <%= link_to("",delete_line_divide_level_wages_path(:id => level.id),method: :delete,confirm: "确认删除？",class: "fa fa-trash",style: "color: blue;") %> -->
              </td>

              <% HighSpeedRailStuffHead.all.each do |head| %>
                <% head_formula = head.formula %>
                <% if !head_formula.values.include?("1") && !head_formula.values.include?("2")%>
                  <% if head_formula.keys.include?("age") %>
                    <% age_range = []%>
                    <%  head_formula["age"].each do |value| %>
                      <% age_range<< value.to_i %>
                    <% end %>
                    <% head_formula["age"] = (age_range.min..age_range.max)%>
                  <% end %>
                  <% form_cel_value= employee_people.where(head_formula).count %>

                <% else %>
                  <% form_cel_value = 0 %>
                  <% head_formula.keys.each do |key| %>
                    <% if head_formula[key] == "1" %>
                       <% form_cel_value += wage_people.sum(key).to_i %>
                    <% elsif head_formula[key] == "2" %>
                       <% form_cel_value -= wage_people.sum(key).to_i %>
                    <% end %>
                  <% end %>
                <% end %>
                <td>
                  <%= form_cel_value %>
                </td>
              <% end %>
            </tr>

          <% end %>
          <tr>
            <td><%= link_to("+",new_line_high_speed_rail_stuffs_path,style: "color: blue;") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-12">
    <%= link_to("生成快照", create_kuaizhao_wages_path(request.query_parameters,:category => "high"),method: :post,:data => {disable_with: "正在生成快照..."})%>
  </div>
</div>
