<div class="modal fade" id="deleteWageform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">删除表格</h4>
      </div>
      <div class="modal-body">
        <%= form_tag delete_bonus_bonus_path,method: :delete  do %>
        <%= label_tag :请输入时间段搜索 %>
        <select class="" name="year">
        <% Bonu.pluck(:year).uniq.each do |year| %>
        <% if year == @year %>
        <option value="<%= year %>" selected><%= year %></option>
        <% else %>
        <option value="<%= year %>"><%= year %></option>
        <% end %>
        <% end %>
        </select>
        <select class="" name="month">
        <% Bonu.pluck(:month).uniq.each do |month| %>
        <% if month == @month %>
        <option value="<%= month %>" selected><%= month %></option>
        <% else %>
        <option value="<%= month %>"><%= month %></option>
        <% end %>
        <% end %>
        </select>
        <%= submit_tag :删除, data: { confirm: "您确定要删除#{@year}年#{@month}月奖金表吗？" }%>
        <% end %>
      </div>
    </div>
  </div>
</div>
