<div class="contentpanel">
  <div class="panel">
    <% if (current_user.has_role? :incomeadmin) %>
    <div class="panel-heading" style="background-color: rgba(247, 249, 250, 1)">
      <div class="wage-navbar">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="/wages/import_wage"> 主业工资</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/bonus/import_bonus"> 主业奖金</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/djwages/import_djwage"> 多经工资 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/djbonus/import_djbonus"> 多经奖金</a>
          </li>
        </ul>
      </div>
    </div>
    <% end %>

    <div class="panel-body">
      <% if (current_user.has_role? :incomeadmin) %>
      <h3 class="col-md-12 col-lg-12 col-ms-12" style="text-align:center;"><%= @year %>年<%= @month %>月主业奖金表</h3>
      <% elsif %>
      <h3 class="col-md-12 col-lg-12 col-ms-12" style="text-align:center;"><%= @year %>年<%= @month %>月奖金表</h3>
      <% end %>
      <% if (current_user.has_role? :saleradmin) %>
      <div class="wage-btn-group">
        <div class="nav nav-pills">
          <li class="nav-item">
            <%= link_to "#", "data-toggle" => "modal", "data-target" => "#uploadWageform" do  %>
              <span>上传表格</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to import_bonus_bonus_path(format: "xls") do %>
              <span>导出表格</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", "data-toggle" => "modal", "data-target" => "#deleteWageform" do %>
              <span>删除表格</span>
            <% end %>
          </li>
          <li class="nav-item">
          <%= link_to "#", "data-toggle" => "modal", "data-target" => "#createBonusHeader" do  %>
              <span>新增表头</span>
            <% end %>
          <li class="nav-item">
            <%= link_to "#", "data-toggle" => "modal", "data-target" => "#editBonusHeader" do  %>
              <span>修改表头</span>
            <% end %>
          </li>
        </div>
      </div>
        <%= render "show_create_header" %>
        <%= render "show_edit_header" %>
        <%= render "show_upload_file" %>
        <%= render "delete_wage_file"%>
      <% end %>


      <div class="col-md-6 col-lg-6 col-ms-6" style = "padding-left: 20px;">
        <%= form_tag import_bonus_bonus_path,method: :get  do %>
        <%= label_tag :请输入时间段搜索 %>
        <select class="" name="year">
          <% Bonu.pluck(:year).uniq.each do |year| %>
            <% if year == @year %>
          <option value="<%= year %>" selected><%= year %></option>
            <% else %>
          <option value="<%= year %>"><%= year %></option>
            <% end %>
          <% end %>
        </select>
        <select class="" name="month">
          <% Bonu.pluck(:month).uniq.sort.each do |month| %>
            <% if month == @month %>
          <option value="<%= month %>" selected><%= month %></option>
            <% else %>
          <option value="<%= month %>"><%= month %></option>
            <% end %>
          <% end %>
        </select>
        <%= submit_tag :筛选 %>
        <% end %>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <% BonusHeader.pluck("header").each do |i| %>
              <% if (i == "主业奖金") && (current_user.has_role? :incomeadmin) %>
            <th><%= link_to(i,edit_header_formula_bonus_path(:header_name => i,:year => @year,:month => @month),class: "btn btn-primary wage-header-button") %></th>
              <% else %>
            <th><%= i %></th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @bonus.each do |bonus| %>
          <tr>
            <% (1..BonusHeader.count).each do |i| %>
            <td><%= bonus.send("col" + i.to_s) %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>


      <div class="col-md-12 col-lg-12 col-ms-12 text-center">
        <% if params[:filter_type].blank? && params[:q].blank? %>
        <%= paginate @bonus %>
        <% end %>
      </div>

    </div><!--panel-body-->
  </div><!--panel-->
</div>
