<div class="ivu-tooltip-rel">
    <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
        <%= link_to import_bonus_bonus_path(format: "xls") do %>
           <span style="color: #269Eff;">导出表格</span>
        <% end %>
    </button>
    <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#createBonusHeader" do  %>
          <span style="color: #269Eff;">新增表头</span>
        <% end %>
    </button>
    <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#editBonusHeader" do  %>
          <span style="color: #269Eff;">修改表头</span>
        <% end %>
    </button>
</div>

<div class="col-md-12">
  <div class="card">
    <div style="overflow: auto;" class="col-md-12">
      <table id="example" class="table table-bordered">
        <thead>
        	<tr>
        		<% BonusHeader.pluck("header").each do |i| %>
        			<th><%= i %></th>
        		<% end %>
        	</tr>
        </thead>
        <tbody>
        	<% @bonus.each do |bonus| %>
	        	<tr>
	        		<% (1..BonusHeader.count).each do |i| %>
	        			<td><%= bonus.send("col" + i.to_s) %></td>
	        		<% end %>
	        	</tr>
        	<% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h5>上传奖金表</h5>

<%= form_tag import_table_bonus_path, multipart: true do %>
<select class="" name="year">
  <option value="<%= (Time.now.year)-1 %>"><%= (Time.now.year)-1 %></option>
  <option value="<%= Time.now.year%>" selected><%= Time.now.year %></option>
  <option value="<%= (Time.now.year)+1 %>"> <%= (Time.now.year)+1 %></option>
</select>
<select class="" name="month">
  <option value="<%= (Time.now.month)-1 %>"><%= (Time.now.month)-1 %></option>
  <option value="<%= Time.now.month %>" selected><%= Time.now.month %></option>
  <option value="<%= (Time.now.month) +1 %>"><%= (Time.now.month) +1 %></option>
</select>
<%= file_field_tag :file%>
<%= submit_tag "上传"%>
<% end %>

<div class="text-center">
	<% if params[:filter_type].blank? && params[:q].blank? %>
	  <%= paginate @bonus %>
	<% end %>
</div>

<%= render "show_create_header" %>
<%= render "show_edit_header" %>
