
  <%= hidden_field_tag :category, params[:category] %>
  <%= label_tag :请输入时间段搜索 %>
  <select name="year"  required = "true">
    <option disabled selected value>选择年份</option>
    <% @years.each do |year| %>
      <% if year == params[:year].to_i %>
        <option value="<%= year%>" selected><%= year%></option>
      <% else %>
        <option value="<%= year%>"><%= year%></option>
      <% end %>
    <% end %>
  </select> 年
  <span style="width: 200px;display: inline-block;position: relative;top:5px;">
    <select class= "form-control"  multiple="multiple" name="month[]" id="month_select">
      <option disabled value>选择月份</option>
      <% @months.each do |month|%>
        <% if [month.to_s] == params[:month] %>
          <option selected value="<%= month%>"><%= month%></option>
        <% else %>
          <option  value="<%= month%>"><%= month%></option>
        <% end %>
      <% end %>
    </select>
  </span> 月

  <%= submit_tag :筛选 %>
  <script>
    $("#month_select").select2( { theme: "bootstrap"} );
  </script>
