<div class="col-md-10" style="overflow: auto;">
  <table id="example" class="table table-bordered">
    <thead>
      <tr>
        <th>工资号</th>
        <th>工号</th>
        <th>档案号</th>
        <th>车间</th>
        <th>班组</th>
        <th>工种</th>
        <th>姓名</th>
        <th>职务</th>
        <th>电话号</th>
        <th>性别</th>
        <th>年龄</th>
        <th>文化程度</th>
        <th>民族</th>
        <th>籍贯</th>
        <th>工作时间</th>
        <th>工龄</th>
        <th>入路时间</th>
        <th>路龄</th>
        <th>联系电话</th>
      </tr>
    </thead>
     <tbody data-behavior='sortable'>
      <% @employees.each do |employee| %>
        <tr class="row-click-able" data-url="/employees/<%= employee.id%>">
          <td><%= employee.sal_number.to_i %></td>
          <td><%= employee.job_number %></td>
          <td><%= employee.record_number %></td>
          <td><%= Workshop.current.find(employee.workshop).name %></td>
          <td><%= Group.current.find(employee.group).name %></td>
          <td><%= employee.work_type %></td>
          <td>
            <%=  employee.name %>
            <% if LeavingEmployee.find_by(:employee_id => employee.id, :leaving_type => "调离").present? %>
              <span class="label label-danger">已调离</span>
            <% end %>

            <% if Employee.transfer(Time.now.beginning_of_month, Time.now.end_of_month).pluck("id").include?(employee.id) %>
                <span class="label label-warning">一月内有调动</span>
            <% end %>
          </td>
          <td><%= employee.duty %></td>
          <td><%= employee.phone_number %></td>
          <td><%= employee.sex %></td>
          <td><%= employee.age %></td>
          <td><%= employee.education_background %></td>
          <td><%= employee.nation %></td>
          <td><%= employee.native_place %></td>
          <td><%= employee.working_time %></td>
          <td><%= employee.working_years %></td>
          <td><%= employee.railway_time.to_i %></td>
          <td><%= employee.rali_years %></td>
          <td><%= employee.phone_number %></td>
        </tr>
      <% end %>
   </tbody>
  </table>
</div>
