<div class="contentpanel">
  <div class="panel">
    <% if (current_user.has_role? :incomeadmin ) %>
    <div class="panel-heading" style="background-color: rgba(247, 249, 250, 1)">
      <div class="wage-navbar">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="/wages/import_wage"> 主业工资</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bonus/import_bonus"> 主业奖金</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/djwages/import_djwage"> 多经工资 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/djbonus/import_djbonus"> 多经奖金</a>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  <div class="panel-body">
    <% if (current_user.has_role? :saleradmin) %>
      <h3 class="col-md-12 col-lg-12 col-ms-12" style="text-align:center;"><%= @year %>年<%= @month %>月工资表</h3>
    <% elsif (current_user.has_role? :incomeadmin ) %>
      <h3 class="col-md-12 col-lg-12 col-ms-12" style="text-align:center;"><%= @year %>年<%= @month %>月主业工资表</h3>
    <% end %>

    <% if (current_user.has_role? :saleradmin) %>
      <div class="wage-btn-group">
        <div class="nav nav-pills">
          <li class="nav-item">
            <%= link_to "#", "data-toggle" => "modal", "data-target" => "#uploadWageform" do  %>
              <span>上传表格</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to import_wage_wages_path(format: "xls") do %>
              <span>导出表格</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", "data-toggle" => "modal", "data-target" => "#deleteWageform" do %>
              <span>删除表格</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", "data-toggle" => "modal", "data-target" => "#createWageHeader" do  %>
              <span>新增表头</span>
            <% end %>
          <li class="nav-item">
            <%= link_to "#", "data-toggle" => "modal", "data-target" => "#editWageHeader" do  %>
              <span>修改表头</span>
            <% end %>
          </li>
        </div>
      </div>
      <%= render "show_create_header" %>
      <%= render "show_edit_header" %>
      <%= render "show_upload_file" %>
      <%= render "delete_wage_file"%>
    <% end %>

    <div class="col-md-6 col-lg-6 col-ms-6" style = "padding-left: 20px;">
      <%= form_tag import_wage_wages_path,method: :get  do %>

        <li style="display: inline-block;">车间：
            <select name="workshop"  id="selid" onchange="selCity(this)">
              <option value="" selected >北京供电段</option>
              <% @workshops.each do |workshop| %>
                <% if workshop == params[:workshop] %>
                  <option value="<%= workshop %>" selected><%= workshop %></option>
                <% else %>
                  <option value="<%= workshop %>"><%= workshop %></option>
                <% end %>
              <% end %>
            </select>
        </li>
        <li style="display: inline-block;">班组：
            <select name="group"  id="subselid">
              <option value="">全部</option>
            </select>
        </li><br>

        <%= label_tag :请输入时间段搜索 %>

        <select class="" style="display:inline-block;" name="year">
          <% @years.each do |year| %>
            <% if @year == year %>
              <option value="<%= year %>" selected><%= year %></option>
            <% else %>
              <option value="<%= year %>"><%= year %></option>
            <% end %>
          <% end %>
        </select>年
        ~
        <span style="display:inline-block;width:200px;position:relative;top:5px;">
          <select class="form-control" name="month[]" multiple="multiple" id="month-multiple">
            <% @months.each do |month| %>
              <% if @month.include?(month) %>
                <option value="<%= month %>" selected><%= month %></option>
              <% else %>
                <option value="<%= month %>"><%= month %></option>
              <% end %>
            <% end %>
          </select>
        </span>
      <%= submit_tag :筛选,:data => {:disable_with => "筛选中..."}%>
      <% end %>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <% WageHeader.pluck("header").each do |i| %>
            <% if ["奖金二","工资总额","基本工资","绩效工资","津贴补贴","岗位工资","技能工资","加班工资"].include?(i) && (current_user.has_role? :saleradmin) %>
            <th>
              <%= link_to(i,edit_header_formula_wages_path(:header_name => i,:year => @year,:month => @month),class: "btn btn-primary wage-header-button") %>
            </th>
            <% elsif (i == "主业工资") && (current_user.has_role? :incomeadmin) %>
            <th>
              <%= link_to(i,edit_header_formula_wages_path(:header_name => i,:year => @year,:month => @month),class: "btn btn-primary wage-header-button") %>
            </th>
            <% else %>
            <th>
              <%= i %>
            </th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody id = "sal-number-list">
        <% @sal_numbers.each do |sal_number| %>
          <%= render :partial => "import_wage_partial",:locals => {:sal_number => sal_number,:year => @year,:month => @month,:wage_head_hash => @wage_head_hash} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div><!--panel-->
</div>

<script>

  function selCity()
  {
      var arr = gon.group_name;

      var selNode = document.getElementById("selid");
      var subselNode = document.getElementById("subselid");
      var index = selNode.selectedIndex;
      var citys = arr[index];

      subselNode.options.length = 0;
      var firstoptionNode = document.createElement("option");
      firstoptionNode.value = arr[0];
      firstoptionNode.innerText = arr[0];
      subselNode.appendChild(firstoptionNode);
      for(var i=0; i<citys.length; i++)
      {
          var optionNode = document.createElement("option");
          optionNode.value = citys[i];
          optionNode.innerText = citys[i];
          subselNode.appendChild(optionNode);
      }
  };
  $("#month-multiple").select2( { theme: "bootstrap"} );
// 记下目前画面最小的贴文 ID
  // var s_count = <%= request.original_url.split("?").count %>;
  // if (s_count == 2){
  //   var parameter = <%= request.original_url.split("?").last.sub("max_id=","") %>
  // } else {
  //   var parameter = ""
  // };
  var current_post_id = <%= @sal_numbers.last %>;
  // 当捲轴动的时候，会触发这个事件
  $(window).scroll(function(){
    // 当捲到最下面的时候
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      var url = "/wages/import_wage?max_id=" + current_post_id + "&" + gon.url_parameter;
      if (url) {
        $.ajax({
          method: "GET",
          url: url,
          dataType: "script"
        })
      } else {
        console.log("data ended")
      }
    }
  });
</script>
