<div class="contentpanel">
  <div class="panel">
    <% if (current_user.has_role? :incomeadmin ) %>
    <div class="panel-heading" style="background-color: rgba(247, 249, 250, 1)">
      <div class="wage-navbar">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="/wages/import_wage"> 主业工资</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bonus/import_bonus"> 主业奖金</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/djwages/import_djwage"> 多经工资 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/djbonus/import_djbonus"> 多经奖金</a>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  <div class="panel-body">
    <% if (current_user.has_role? :saleradmin) %>
      <h3 class="col-md-12 col-lg-12 col-ms-12" style="text-align:center;"><%= @year %>年<%= @month %>月工资表</h3>
    <% elsif (current_user.has_role? :incomeadmin ) %>
      <h3 class="col-md-12 col-lg-12 col-ms-12" style="text-align:center;"><%= @year %>年<%= @month %>月主业工资表</h3>
    <% end %>

    <% if (current_user.has_role? :saleradmin) %>
      <div class="wage-btn-group">
        <div class="nav nav-pills">
          <li class="nav-item">
            <%= link_to "#", "data-toggle" => "modal", "data-target" => "#uploadWageform" do  %>
              <span>上传表格</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to import_wage_wages_path(format: "xls") do %>
              <span>导出表格</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", "data-toggle" => "modal", "data-target" => "#deleteWageform" do %>
              <span>删除表格</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", "data-toggle" => "modal", "data-target" => "#createWageHeader" do  %>
              <span>新增表头</span>
            <% end %>
          <li class="nav-item">
            <%= link_to "#", "data-toggle" => "modal", "data-target" => "#editWageHeader" do  %>
              <span>修改表头</span>
            <% end %>
          </li>
        </div>
      </div>
      <%= render "show_create_header" %>
      <%= render "show_edit_header" %>
      <%= render "show_upload_file" %>
      <%= render "delete_wage_file"%>
    <% end %>

    <div class="col-md-6 col-lg-6 col-ms-6" style = "padding-left: 20px;">
      <%= form_tag import_wage_wages_path,method: :get  do %>
      <%= label_tag :请输入时间段搜索 %>
      <select class="" name="year">
        <% Wage.pluck(:year).uniq.each do |year| %>
          <% if year == @year %>
          <option value="<%= year %>" selected><%= year %></option>
          <% else %>
          <option value="<%= year %>"><%= year %></option>
          <% end %>
        <% end %>
      </select>

      <select class="" name="month">
        <% Wage.pluck(:month).uniq.each do |month| %>
          <% if month == @month %>
          <option value="<%= month %>" selected><%= month %></option>
          <% else %>
          <option value="<%= month %>"><%= month %></option>
          <% end %>
        <% end %>
      </select>

      <%= submit_tag :筛选 %>
      <% end %>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <% WageHeader.pluck("header").each do |i| %>
            <% if ["奖金二","工资总额","基本工资","绩效工资","津贴补贴","岗位工资","技能工资","加班工资"].include?(i) && (current_user.has_role? :saleradmin) %>
            <th>
              <%= link_to(i,edit_header_formula_wages_path(:header_name => i,:year => @year,:month => @month),class: "btn btn-primary wage-header-button") %>
            </th>
            <% elsif (i == "主业工资") && (current_user.has_role? :incomeadmin) %>
            <th>
              <%= link_to(i,edit_header_formula_wages_path(:header_name => i,:year => @year,:month => @month),class: "btn btn-primary wage-header-button") %>
            </th>
            <% else %>
            <th>
              <%= i %>
            </th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @wages.each do |wage| %>
        <tr>
          <% (1..WageHeader.count).each do |i| %>
            <td><%= wage.send("col" + i.to_s) %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="col-md-12 col-lg-12 col-ms-12 text-center">
      <% if params[:filter_type].blank? && params[:q].blank? %>
      <%= paginate @wages %>
      <% end %>
    </div>
  </div>
</div><!--panel-->
</div>
