<div class="contentpanel">
  <div class="panel">
    <div class="panel-heading" style="background-color: #fff;">
  <!-- 导出与新增-开始 -->
      <button  onclick="toggle_visibility('employee-btn');" type="button" name="button" class="btn btn-success-alt">
        <span class="glyphicon glyphicon-filter"></span>搜索/筛选
      </button>

      <!-- 导出与新增-结束 -->
    </div>
    <div class="panel-body" id="employee-btn" style="display: none;">

            <%= form_tag income_wages_path, method: 'get' do %>
            <%= hidden_field_tag :year,@year %>
            <span hidden="hidden">
              <select multiple="multiple" name="month[]">
               <% @month.each do |month| %>
                 <option value="<%= month.to_i %>" selected><%= month.to_i %></option>
               <% end %>
              </select>
            </span>
            <div class="input-group mb15">
              <%= label_tag :姓名： %>
                <select class= "form-control input-lg" multiple name="name[]" id="name_select" style="width:75%">
                  <% (Bonu.pluck(@bonus_hash["姓名"]) + Wage.pluck(@wage_hash["姓名"]) + Djbonu.pluck(@djbonus_hash["人员名称"]) + Djwage.pluck(@djwage_hash["人员名称"])).uniq.each do |name| %>
                    <% if params[:name].present? && params[:name].include?(name) %>
                      <option selected value="<%= name%>"><%= name%></option>
                    <% else %>
                      <option  value="<%= name%>"><%= name%></option>
                    <% end %>
                  <% end %>
                </select>
            </div>

            <div class="input-group mb15">
              <%= label_tag :工资号： %>
                <select class= "form-control input-lg" multiple name="sal_number[]" id="sal_number_select" style="width:75%">
                  <% (Bonu.pluck(@bonus_hash["工资号"]) + Wage.pluck(@wage_hash["工资号"]) + Djbonu.pluck(@djbonus_hash["工资号"]) + Djwage.pluck(@djwage_hash["工资号"])).uniq.each do |sal_number| %>
                    <% if params[:sal_number].present? && params[:sal_number].include?(sal_number) %>
                      <option selected value="<%= sal_number%>"><%= sal_number%></option>
                    <% else %>
                      <option  value="<%= sal_number%>"><%= sal_number%></option>
                    <% end %>
                  <% end %>
                </select>
            </div>

            <div class="input-group mb15">
              <%= label_tag :部门： %>
                <select class= "form-control input-lg" multiple name="department[]" id="department_select" style="width:75%">
                  <% Bonu.pluck(@bonus_hash["部门名称"]).uniq.each do |department| %>
                    <% if params[:department].present? && params[:department].include?(department) %>
                      <option selected value="<%= department%>"><%= department%></option>
                    <% else %>
                      <option  value="<%= department%>"><%= department%></option>
                    <% end %>
                  <% end %>
                </select>
            </div>



              <%= label_tag :男女： %>
              <select class= "form-control" name="sex">
                <option value>请选择</option>
                <% ["男","女"].each do |sex| %>
                  <% if params[:sex] == sex %>
                    <option value="<%= sex %>" selected><%= sex %></option>
                  <% else %>
                    <option value="<%= sex %>"><%= sex %></option>
                  <% end %>
                <% end %>
              </select>
              <%= label_tag :按职务： %>
              <select class= "form-control" name="duty">
                <option value>请选择</option>
                <% Employee.pluck("duty").uniq.compact.each do |duty| %>
                  <% if params[:duty] == duty %>
                    <option value="<%= duty %>" selected><%= duty %></option>
                  <% else %>
                    <option value="<%= duty %>"><%= duty %></option>
                  <% end %>
                <% end %>
              </select>
              <%= label_tag :工种： %>
              <select class= "form-control" name="work_type">
                <option value>请选择</option>
                <% Employee.pluck("work_type").uniq.compact.each do |work_type| %>
                  <% if params[:work_type] == work_type %>
                    <option value="<%= work_type %>" selected><%= work_type %></option>
                  <% else %>
                    <option value="<%= work_type %>"><%= work_type %></option>
                  <% end %>
                <% end %>
              </select>
              <%= label_tag :按时间段： %>
              <select class= "form-control" name="filter_type">
                <option value>请选择</option>
                <% ["年龄","工龄","路龄"].each do |filter_type| %>
                  <% if params[:filter_type] == filter_type %>
                    <option value="<%= filter_type %>" selected><%= filter_type %></option>
                  <% else %>
                    <option value="<%= filter_type %>"><%= filter_type %></option>
                  <% end %>
                <% end %>
              </select>


              <% if params[:start_time].present? && params[:end_time].present? %>
                <span class="employee-start-time"><%= text_field_tag :start_time,params[:start_time],{:class => "employee-start-time" }%></span> ~
                <span class="employee-start-time"><%= text_field_tag :end_time,params[:end_time],{:class => "employee-start-time"} %></span>
              <% else %>
                <span class="employee-start-time"><%= text_field_tag :start_time,"",{:class => "employee-start-time" }%></span> ~
                <span class="employee-start-time"><%= text_field_tag :end_time,"",{:class => "employee-start-time"} %></span>
              <% end %>


              <%= submit_tag :筛选 %>
            <% end %>
      </div>

  </div>
  <div class="panel">
    <div class="panel-body">
      <h3 class="col-md-12 col-lg-12 col-ms-12" style="text-align:center;"><%= @year %>年
        <% if @month.count > 1 %>
          <% @month.each do |month| %>
            <%= month.to_i %>、
          <% end %>
        <% else %>
          <%= @month.first%>
        <% end %>
        月收入情况</h3>
      <div class="col-md-12" style="margin-top: 15px;margin-bottom: 15px;">
        <%= form_tag income_wages_path, method: 'get' do %>
          <%= render "wages/customize_form_partial"%>
        <% end %>
      </div>

            <table class="table table-bordered overflow-y table-striped">
              <thead>
              	<tr>
              		<th>姓名</th>
                  <th>工资号</th>
                  <th>性别</th>
                  <th>部门</th>
                  <th>工种</th>
                  <th>职务</th>
                  <th>年龄</th>
                  <th>工龄</th>
                  <th>路龄</th>
                  <th>去年
                    <% if @month.count > 1 %>
                      <% @month.each do |month| %>
                        <%= month.to_i %>
                      <% end %>
                    <% else %>
                      <%= @month.first%>
                    <% end %>
                    月收入</th>
                  <th>今年
                    <% if @month.count > 1 %>
                      <% @month.each do |month| %>
                        <%= month.to_i %>
                      <% end %>
                    <% else %>
                      <%= @month.first%>
                    <% end %>
                    月收入</th>
                  <th>收入增幅</th>
                  <th>实发数</th>
                  <th>税</th>
              	</tr>
              </thead>
              <tbody id = "sal-number-list">
              	<% @sal_numbers.each do |sal_number| %>
                  <%= render :partial => "income_salnumber", :locals => {:sal_number => sal_number,:year => @year,:month => @month,:wage_hash => @wage_hash,:bonus_hash => @bonus_hash,:djwage_hash => @djwage_hash,:djbonus_hash => @djbonus_hash }%>
              	<% end %>
              </tbody>
            </table>

    </div>
  </div>





</div>


<script type="text/javascript">

    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    };

    $("#department_select").select2({
      placeholder: "输入或点击选择",
      allowClear: true
    });
    $("#name_select").select2({
      placeholder: "输入或点击选择",
      allowClear: true,
      width: 'resolve'
    });
    $("#sal_number_select").select2({
      placeholder: "输入或点击选择",
      allowClear: true
    });


    // 记下目前画面最小的贴文 ID
      // var s_count = <%= request.original_url.split("?").count %>;
      // if (s_count == 2){
      //   var parameter = <%= request.original_url.split("?").last.sub("max_id=","") %>
      // } else {
      //   var parameter = ""
      // };
      var current_post_id = <%= @sal_numbers.last %>;
      // 当捲轴动的时候，会触发这个事件
      $(window).scroll(function(){
        // 当捲到最下面的时候
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
          var url = "/wages/income?max_id=" + current_post_id + "&" + gon.url_parameter;
          if (url) {
            $.ajax({
              method: "GET",
              url: url,
              dataType: "script"
            })
          } else {
            console.log("data ended")
          }
        }
      });
</script>
