<div class="col-md-12" style="margin-top: -50px;">
  <% if params[:category] == "divide" %>
    <a href="/divide_level_wages" ><< 返回 </a>
  <% elsif params[:category] == "production" %>
    <a href="/production_stuff_wages" ><< 返回 </a>
  <% elsif params[:category] == "main" %>
    <a href="/main_driving_stuffs" ><< 返回 </a>
  <% elsif params[:category] == "high" %>
    <a href="/high_speed_rail_stuffs" ><< 返回 </a>
  <% end %>
  <div class="col-md-12" style="margin-top: 15px;margin-bottom: 15px;">
    <%= form_tag kuaizhao_index_wages_path, method: 'get' do %>
      <%= render "wages/customize_form_partial"%>
    <% end %>
  </div>

  <% if params[:category] == "divide" %>
    <h5 style="text-align: center;"><%=@year%>年<%=@month%>月铁路企业分层次人员工资情况统计表</h5>
  <% elsif params[:category] == "production" %>
    <h5 style="text-align: center;"><%=@year%>年<%=@month%>月运输站段生产人员人数和报酬统计表</h5>
  <% elsif params[:category] == "main" %>
    <h5 style="text-align: center;"><%=@year%>年<%=@month%>月主要行车工种情况统计表</h5>
  <% elsif params[:category] == "high" %>
    <h5 style="text-align: center;"><%=@year%>年<%=@month%>月高铁岗位人员情况统计表</h5>
  <% end %>

  <div class="card">
    <div style="overflow: auto;" class="col-md-12">
      <table id="example" class="table table-bordered">
        <thead>
        	<tr>
            <th>序号</th>
            <th>项目</th>
            <% @column_array.each do |head| %>
              <th><%= link_to(head,edit_head_divide_level_wages_path(:header_name => head),style: "color: black;") %></th>
            <% end %>
        	</tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% line_content_hash = Hash.new %>
          <% @line_name_array.each do |content_name| %>
            <% n = n+1 %>
            <tr>
              <td><%= n %></td>
              <td>
                <%= link_to edit_line_divide_level_wages_path(:name => content_name),style: "color: black;" do %>
                  <%= content_name %>
                <% end %>
              </td>
              <% contents = @kuaizhao_contents.where(:name => content_name)%>
              <% months = contents.pluck(:month) %>
              <% @column_array.each do |head| %>
                <% form_cel_value = 0 %>
                <% last_month = months.max%>
                <% last_month_header = @kuaizhao_headers.find_by(:header_name => head,:month =>last_month) %>

                <% if last_month_header.formula.keys.include?("final_period")%>
                  <% form_cel_value = contents.find_by(:month => month).attributes[last_month_header.content_name]%>
                <% else %>

                    <!-- <% months.each do |month| %>
                      <% column = @kuaizhao_headers.find_by(:header_name => last_month_header.formula["per_capita"],:month => month).content_name %>
                      <% form_cel_value += contents.find_by(:month => month).attributes[column] %>
                    <% end %> -->
                    <% months.each do |month| %>
                      <% column = @kuaizhao_headers.find_by(:header_name => head,:month => month).content_name %>
                      <% form_cel_value += contents.find_by(:month => month).attributes[column] %>
                    <% end %>
                    <% if last_month_header.formula.keys.include?("per_capita") %>
                      <% form_cel_value =  form_cel_value/(line_content_hash[last_month_header.formula["per_capita"]]) %>
                    <% end %>
                    <% if last_month_header.formula.keys.include?("average")%>
                      <% form_cel_value = form_cel_value/(months.count)%>
                    <% end %>

                <% end %>
                <td>
                  <%= form_cel_value %>
                  <% line_content_hash[head] = form_cel_value %>
                </td>
              <% end %>
            </tr>
            <% line_content_hash.clear %>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>



</div>
