<div class="contentpanel">
  <div class="panel">
    <div class="panel-heading">
      <h4>工资对比</h4>
      <%= form_tag wage_analyses_wages_path,method: :get do%>
          <div class="row">
            <div class="col-md-5 mb15">
                  <div class='input-group date' id='datetimepicker6'>
                    <input type='text' name="start_time" class="form-control" placeholder="点击右侧按钮选择日期" required />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar">
                          </span>
                      </span>
                  </div>
            </div>
          </div>

            <div class="row">
              <div class="col-md-5 mb15">
                  <div class='input-group date' id='datetimepicker7'>
                    <input type='text' name="end_time" class="form-control" placeholder="点击右侧按钮选择日期" required />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar">
                          </span>
                      </span>
                  </div>
              </div>
            </div>

            <ul style="padding:0;">
              <li>
                <%= label_tag :时间区间： %>
                <select name="timeselect">
                  <% ["月","季度","年"].each do |time| %>
                    <% if params[:time] == time %>
                      <option value="<%= time %>" selected><%= time %></option>
                    <% else %>
                      <option value="<%= time %>"><%= time %></option>
                    <% end %>
                  <% end %>
                </select>
              </li>
              <li>
                  <%= check_box_tag(:phase_contrast,1)%>
                  <%= label_tag "与上一年同期相比" %>
              </li>
            </ul>
            <div class="row">
              <ul class="nav nav-tabs" id="click-prop">
                <li class="nav-item active">
                  <a class="nav-link" data-toggle="tab" href="#home" >车间部门</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">级别</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">职务</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="group-tab" data-toggle="tab" role="tab" aria-controls="group" aria-selected="false" href="#group" >工种</a>
                </li>
              </ul>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane active" id="home">
                  <div class="col-md-12">
                    <input id="check_all" type="checkbox" />
                    <label for="check_all">全选</label>
                  </div>

                  <% Workshop.current.each do |workshop| %>
                    <div class="col-md-3 col-sm-4">
                      <%= check_box_tag("workshop[]",workshop.id,false)%>
                      <%= label_tag workshop.name%>
                    </div>
                  <% end %>
                </div>
                <div class="tab-pane fade" id="profile">
                  <div class="col-md-12">
                    <input id="check_grade" type="checkbox" name="grade_compare" value="1"/>
                    <label>比较干部和工人</label>
                  </div>
                  <% Employee.pluck(:grade).uniq.compact.delete_if{|x| x==""}.each do |grade| %>
                  <div class="col-md-3 col-sm-4">
                    <%= check_box_tag("grade[]",grade,false,class:"grade_checked")%>
                    <%= label_tag grade%>
                  </div>
                  <% end %>
                </div>
                <div class="tab-pane fade" id="contact">
                  <div class="col-md-12">
                    <input id="check_duty" type="checkbox" />
                    <label for="check_duty">全选</label>
                  </div>
                  <% Employee.pluck(:duty).uniq.each do |duty| %>
                  <div class="col-md-3 col-sm-4">
                    <% if duty == nil %>
                    <%= check_box_tag("duty[]","未填写",false)%>
                    <%= label_tag "未填写"%>
                    <% else %>
                    <%= check_box_tag("duty[]",duty,false)%>
                    <%= label_tag duty %>
                    <% end %>
                  </div>
                  <% end %>
                </div>
                <div class="tab-pane fade" id="group">
                  <div class="col-md-12">
                    <input id="check_worktype" type="checkbox" />
                    <label for="check_worktype">全选</label>
                  </div>
                  <% Employee.pluck(:work_type).uniq.each do |work_type| %>
                  <div class="col-md-3 col-sm-4">
                    <% if work_type == nil %>
                      <%= check_box_tag("work_type[]","未填写",false)%>
                      <%= label_tag "未填写"%>
                    <% else %>
                      <%= check_box_tag("work_type[]",work_type,false)%>
                      <%= label_tag work_type%>
                    <% end %>
                  </div>
                  <% end %>
                </div>
              </div>
          </div>
          <div class="toolbar" style="margin-top:10px;">
              <%= submit_tag "提交",:data => {:disable_with => "计算中..."}%>
          </div>
        <% end%>
    </div><!--panel-heading-->
  </div>

  <div class="panel">
    <div class="panel-heading">
      <span>在类别中选择两项，可点击此计算差额和百分比</span>
      <%= link_to wage_analyses_wages_path(request.query_parameters.delete_if{|x| ["utf8","commit"].include?(x) }.merge({:format => "xls"})) do  %>
      <span style="float:right;position:relative;">
          导出表格
      </span>
      <% end %>
    </div>
    <div class="panel-body">
      <table class="table overflow-y">
        <thead>
          <tr>
            <% if params[:timeselect].blank? %>
            <th>请选择筛选条件</th>
            <% else %>
            <th>类别</th>
            <% end %>
            <% @time_form_header.each do |head_time|  %>
            <th>
              <%= head_time %>
            </th>
              <% if params[:phase_contrast].present? %>
            <th>
              <% a = head_time.split("-")[0] %>
              <% b = a.to_i - 1 %>
              <% c = head_time.gsub(a,b.to_s) %>
              <%= c %>
            </th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @category_income_compare.each do |date| %>
          <tr>
            <td rowspan="2" style="text-align: center;vertical-align:middle;">
              <%= date[0] %>
            </td>
            <% date[1].each do |table_value| %>
              <% n = date[1].index(table_value)%>
              <td>
                <%= link_to(table_value,wage_analyses_detail_wages_path(request.query_parameters.delete_if{|x| ["utf8","commit","start_time","end_time"].include?(x) }.merge({:year => @time_hash[@time_form_header[n]][0],:month=> @time_hash[@time_form_header[n]][1],:category => date[0]})))%>
              </td>
              <% if date.length == 3%>
                <td><%= link_to(date[2][n],wage_analyses_detail_wages_path(request.query_parameters.delete_if{|x| ["utf8","commit","start_time","end_time"].include?(x) }.merge({:year => (@time_hash[@time_form_header[n]][0]-1),:month=> @time_hash[@time_form_header[n]][1]})))%></td>
              <% end %>
            <% end %>
            <% if params[:phase_contrast].present?%>
            <tr>

              <% data_max = [] %>
              <% data_max << date[2] %>
              <% data_max << date[1] %>

              <% data_max.transpose.each do |max| %>
                  <% max.each_cons(2).map{|n,m| ((m/n-1)*100).round(2)}.each do |phase_compare_data|%>
                    <% if phase_compare_data.nan? || phase_compare_data.infinite? || phase_compare_data == -100 %>
                      <td colspan="2">无法对比</td>
                    <% else %>
                      <td colspan="2">
                      <% if phase_compare_data > 0 %>
                        <span class="badge badge-success"><%= phase_compare_data %>%</span>
                      <% else %>
                        <span class="badge badge-danger"><%= phase_compare_data %>%</span>
                      <% end %>
                      </td>
                    <% end %>
                  <% end %>
              <% end %>
            </tr>
            <% else %>
            <tr>
              <td><%= 0.0 %></td>
              <% date[1].each_cons(2).map{|n,m| ((m/n-1)*100).round(2)}.each do |compare_data|%>
                <% if compare_data.nan? || compare_data.infinite? || compare_data == -100 %>
                  <td>无法对比</td>
                <% else %>
                  <td>
                    <% if compare_data > 0 %>
                    <span class="badge badge-success"><%= compare_data %>%</span>
                    <% else %>
                    <span class="badge badge-danger"><%= compare_data %>%</span>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            </tr>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



<script type="text/javascript">
  function GetCheckData(){
    return $("#myTabContent input[type='checkbox']");
  }
  $("#click-prop").click(function(){
    GetCheckData().prop("checked",false);
  })
  $("#check_all").click(function(){
    if($(this).is(":checked")){
      $("#home input[type='checkbox']").prop("checked",true);
    }else {
      $("#home input[type='checkbox']").prop("checked",false);
    }
  })
  $("#check_duty").click(function(){
    if($(this).is(":checked")){
      $("#contact input[type='checkbox']").prop("checked",true);
    }else {
      $("#contact input[type='checkbox']").prop("checked",false);
    }
  })
  $("#check_worktype").click(function(){
    if($(this).is(":checked")){
      $("#group input[type='checkbox']").prop("checked",true);
    }else {
      $("#group input[type='checkbox']").prop("checked",false);
    }
  })
  $("#check_grade").click(function(){
    if($(this).is(":checked")){
      $("input.grade_checked").attr("disabled", true);
    }else {
      $("#profile input[type='checkbox']").removeAttr("disabled");
    }
  });
  $(function () {
        $('#datetimepicker6').datetimepicker({
          icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
          format: 'YYYY-MM',
          locale: moment.locale('zh-cn')
        });
        $('#datetimepicker7').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
            format: 'YYYY-MM',
            locale: moment.locale('zh-cn'),
            widgetPositioning: {
            horizontal: 'left',
            vertical: 'auto'
        }
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });

    });
</script>
