<div class="pageheader">
  <h2>当前页面<span>标准化汇总表</span></h2>
</div>

<div class="contentpanel">
  <div class="panel panel-default">
    <%= render 'relative_salers/saler_navbar'%>
  </div>
<div class="head-btn col-md-12">
  <div class="col-md-6">
    <h4 style="text-align: left; margin-left: -15px;">2018年7月 标准化汇总表</h4>
  </div>
  <%= link_to "上传标准化汇总表", new_standard_award_total_path, class: 'btn btn-primary-upload'%>
</div>


<div class="col-md-12">
  <div class="card">
    <div style="overflow: auto; width: 100%;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>序号</th>
            <th>科室车间</th>
            <th>标准化合计</th>
            <th>标准化科室车间</th>
            <th><%= link_to "标准化班组", standard_groups_path %></th>
            <th>标杆优秀达标车间奖励</th>
            <th>科室车间备份</th>
          </tr>
        </thead>
        <tbody>
          <% @totals.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.科室车间 %></td>
              <td><%= item.标准化合计.to_i %></td>
              <td><%= item.标准化科室车间.to_i %></td>
              <td><%= item.标准化班组.to_i %></td>
              <td><%= item.标杆优秀达标车间奖励.to_i %></td>
              <td><%= item.科室车间备份 %></td>
            </tr>
          <% end %>
       </tbody>
      </table>
    </div>
  </div>

  <div class="text-center">
    <%= paginate @totals %>
  </div>
</div>
</div>
