<table id="example" class="table table-bordered">
  <thead>
    <tr>
      <th>车间</th>
      <th>班组</th>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>文化程度</th>
      <th>民族</th>
      <th>籍贯</th>
    </tr>
  </thead>
   <tbody data-behavior='sortable'>
    <% if @employees.present? %>
      <% @employees.each do |employee| %>
        <tr class="row-click-able" data-url="/employees/<%= employee.id%>">
          <td><%= employee.info.workshop.name %></td>
          <td><%= employee.info.group.name %></td>
          <td><%= employee.name %></td>
          <td><%= employee.sex %></td>
          <td><%= employee.age %></td>
          <td><%= employee.education_background %></td>
          <td><%= employee.nation %></td>
          <td><%= employee.native_place %></td>
        </tr>
      <% end %>
    <% end %>
 </tbody>
</table>
