<table id="example" class="table table-bordered">
  <thead>
    <tr>
      <th>车间</th>
      <th>班组</th>
      <th>姓名</th>
      <% if (!current_user.has_role? :groupadmin) && (!current_user.has_role? :organsadmin) && (!current_user.has_role? :wgadmin)%>
        <th>电话号</th>
      <% end %>
      <th>性别</th>
      <th>年龄</th>
      <th>文化程度</th>
      <th>民族</th>
      <th>籍贯</th>
      <th>户口所在地</th>
      <!-- <th>家庭住址</th> -->
      <th>联系电话</th>
    </tr>
  </thead>
   <tbody data-behavior='sortable'>
    <% if @employees.present? %>
      <% @employees.each do |employee| %>
        <tr class="row-click-able" data-url="/employees/<%= employee.id%>">
          <td><%= Workshop.current.find(employee.workshop).name %></td>
          <td><%= Group.current.find(employee.group).name %></td>
          <td><%= employee.name %></td>
          <% if (!current_user.has_role? :groupadmin) && (!current_user.has_role? :organsadmin) && (!current_user.has_role? :wgadmin)%>
            <td><%= employee.phone_number %></td>
          <% end %>
          <td><%= employee.sex %></td>
          <td><%= employee.age %></td>
          <td><%= employee.education_background %></td>
          <td><%= employee.nation %></td>
          <td><%= employee.native_place %></td>
          <td><%= employee.registered_residence %></td>
          <!-- <td><%= employee.family_address%></td> -->
          <td><%= employee.phone_number %></td>
        </tr>
      <% end %>
    <% end %>
 </tbody>
</table>
