<div  style="height: 100%; margin-top: 20px;">
  <div class="col-md-2" id="menu" style="background-color: white;overflow: auto;height: 100%;">

    <h5><%= link_to "北京供电段", filter_employees_path(duan: "北京供电段") %></h5>
    <ul>
      <% Workshop.current.each do |workshop| %>
      <li>
        <em></em><a href='/employees/filter?workshop=<%= workshop.id %>'><%= workshop.name %></a>

        <ul>
          <% @groups = workshop.groups %>
          <% @groups.each do |group| %>
            <li><a href='/employees/filter?group=<%= group.id %>'><%= group.name %></a></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-10" style="overflow: auto;">
    <table id="example" class="table table-bordered">
      <thead>
        <tr>
          <th>车间</th>
          <th>班组</th>
          <th>姓名</th>
          <% if (!current_user.has_role? :groupadmin) && (!current_user.has_role? :organsadmin) %>
            <th>电话号</th>
          <% end %>
          <th>性别</th>
          <th>年龄</th>
          <th>文化程度</th>
          <th>民族</th>
          <th>籍贯</th>
          <th>户口所在地</th>
          <th>家庭住址</th>
          <th>联系电话</th>
        </tr>
      </thead>
       <tbody data-behavior='sortable'>
        <% if @employees.present? %>
          <% @employees.each do |employee| %>
            <tr class="row-click-able" data-url="/employees/<%= employee.id%>">
              <td><%= Workshop.current.find(employee.workshop).name %></td>
              <td><%= Group.find(employee.group).name %></td>
              <td><%= employee.name %></td>
              <% if (!current_user.has_role? :groupadmin) && (!current_user.has_role? :organsadmin) %>
                <td><%= employee.phone_number %></td>
              <% end %>
              <td><%= employee.sex %></td>
              <td><%= employee.age %></td>
              <td><%= employee.education_background %></td>
              <td><%= employee.nation %></td>
              <td><%= employee.native_place %></td>
              <td><%= employee.registered_residence %></td>
              <td><%= employee.family_address%></td>
              <td><%= employee.phone_number %></td>
            </tr>
          <% end %>
        <% end %>
     </tbody>
    </table>
  </div>
</div>
