<div class="panel-heading">
  <div class="wage-navbar">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="/star_infos/five_star_info">五星岗位</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">全部岗位</a>
      </li>
    </ul>
  </div>
</div>
<%= form_tag all_star_info_star_infos_path, method: :get do%>
	<%= label_tag :"请选择年份和季度：" %>
	<%= select_tag(:year, options_for_select(BasicScore.pluck(:year).uniq), {:required => "true"}) %>
	<%= select_tag(:quarter, options_for_select(BasicScore.pluck(:quarter).uniq), {:required => "true"}) %>
	<%= submit_tag :筛选 %>
<% end %>
<% if @type == "passed" %>
	<%= link_to "查看全部五星",all_star_info_star_infos_path(type: "all"), class:"btn btn-success-alt pull-right" %>
<% else %>
	<%= link_to "查看通过五星",all_star_info_star_infos_path(type: "passed"), class:"btn btn-success-alt pull-right" %>
<% end %>
<% if (current_user.has_role? :workshopadmin) %>
	<%= link_to "发起申请",new_star_application_path, class:"btn btn-success-alt pull-right" %>
	<%= link_to "查看申请",star_applications_path(type: 0), class:"btn btn-success-alt pull-right" %>
<% elsif (current_user.has_role? :staradmin) || (current_user.has_role? :superadmin) %>
	<%= link_to "查看申请(#{StarApplication.where(status: 0).count})",star_applications_path(type: 0), class:"btn btn-success-alt pull-right" %>
<% end %>
<%= link_to "导出表格",all_star_info_star_infos_path(format: "xls", type: @type), class:"btn btn-success-alt pull-right" %>
<h4 class="text-center">全部星级岗位表</h4>
<table class="table overflow-y table-bordered table-striped">
	<thead>
		<tr>
			<th>序号</th>
			<th>姓名</th>
			<th>车间</th>
			<th>班组</th>
			<th>职名</th>
			<th>分数</th>
			<th>星级</th>
			<% if (current_user.has_role? :staradmin) || (current_user.has_role? :superadmin) %>
				<th>操作</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% i = 1 %>
		<% @scores.each do |score| %>
			<tr>
				<td><%= i %></td>
				<% i += 1 %>
				<td><%= score.name %></td>
				<td><%= score.workshop %></td>
				<td><%= score.group %></td>
				<td><%= score.duty %></td>
				<td><%= score.final_score %></td>
				<td><%= StarInfo.find_by(basic_score_id: score.id).star %>星</td>
				<% if (current_user.has_role? :staradmin) || (current_user.has_role? :superadmin) %>
					<td><%= link_to "升/降星", show_star_modal_star_infos_path(star_info: StarInfo.find_by(basic_score_id: score.id).id), remote: true, "data-toggle" => "modal", "data-target" => "#starModal", class: "btn btn-primary" %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<div id="showStarModal">
	<%= render 'show_star_modal' %>
</div>

