<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">序号</Data></Cell>
        <Cell><Data ss:Type="String">姓名</Data></Cell>
        <Cell><Data ss:Type="String">车间</Data></Cell> 
        <Cell><Data ss:Type="String">班组</Data></Cell>
        <Cell><Data ss:Type="String">职名</Data></Cell>
        <Cell><Data ss:Type="String">分数</Data></Cell>
        <Cell><Data ss:Type="String">星级</Data></Cell>
      </Row>
      <% i = 1 %>
      <% @export_scores.each do |score| %>
          <Row>
            <Cell><Data ss:Type="String"><%= i %></Data></Cell>
            <% i += 1 %>
            <Cell><Data ss:Type="String"><%= score.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= score.workshop %></Data></Cell>
            <Cell><Data ss:Type="String"><%= score.group %></Data></Cell>
            <Cell><Data ss:Type="String"><%= score.duty %></Data></Cell>
            <Cell><Data ss:Type="String"><%= score.final_score %></Data></Cell>
            <Cell><Data ss:Type="String"><%= StarInfo.find_by(basic_score_id: score.id).star %>星</Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>