<div class="contentpanel">
  <%= render "edit_headbar"%>
  <%= form_tag update_head_production_stuff_wages_path(:id => @production_wage_head.id),method: :patch do %>
  <div class="panel">
    <div class="panel-heading">
      <h4>修改表头(人员公式)</h4>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= label_tag "表头名称：" %>
        <%= text_field_tag "head_name"  %>
      </div>

      <div class="form-group">
        <%= label_tag "人数计算公式："%>
        <span>
        <%= label_tag "期末人数" %>
        <%= check_box_tag "final_period","yes" %>
        </span>
        <span>
        <%= label_tag "平均人数" %>
        <%= check_box_tag "average","yes" %>
        </span>
      </div>
        <%= render "common/new_head"%>
    </div>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $("#selid").select2();
</script>
