<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">
  <div class="back-btn">
    <%= link_to "返回", standard_award_totals_path(:year => @year,:month => @month) %>
  </div>
  <div class="panel panel-body">
    <header>
      <h4 class="text-center"><%= @year %>年
                                            <% if @month.count == 0 %>
                                            <% elsif @month.count == 1 %>
                                              <%= @month.first %>月
                                            <% else %>
                                              <%= @month %>月
                                            <% end %>
                                            标准化班组表
      </h4>
    </header>
    <div class="content-body">
      <%= form_tag standard_groups_path,method: :get do %>
        <select class="" style="display:inline-block;" name="year">
          <% @years.each do |year| %>
            <% if @year == year %>
              <option value="<%= year %>" selected><%= year %></option>
            <% else %>
              <option value="<%= year %>"><%= year %></option>
            <% end %>
          <% end %>
        </select>年
        ~
        <span style="display:inline-block;width:200px;position:relative;top:5px;">
          <select class="form-control" name="month[]" multiple="multiple" id="month-multiple">
            <% @months.each do |month| %>
              <% if @month.include?(month) %>
                <option value="<%= month %>" selected><%= month %></option>
              <% else %>
                <option value="<%= month %>"><%= month %></option>
              <% end %>
            <% end %>
          </select>
        </span>月
        <%= submit_tag :筛选,:data => {:disable_with => "筛选中..."}%>
      <% end %>
      <% if (current_user.has_role? :awardadmin) %>
        <%= link_to("删除表格",delete_standard_groups_standard_groups_path(:year => @year,:month => @month),method: :delete,:data => {confirm: "您确定要删除#{@year}年#{@month}月标准化班组表吗？"},class:"btn btn-primary-upload pull-right") %>
        <%= link_to("上传标准化班组表",show_modal_standard_groups_path, remote: true,class:"btn btn-primary-upload pull-right", "data-toggle" => "modal", "data-target" => "#myModal") %>
      <% end %>
      <%= link_to("导出表格",standard_groups_path(:year => @year,:month => @month,format: "xls"),class:"btn btn-primary-upload pull-right") %>


    <div  class="content-table" style="clear:both;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>序号</th>
            <th>科室车间</th>
            <th>班组名称 </th>
            <th>评定等级</th>
            <th>奖励标准</th>
            <th>人数</th>
            <th>奖励金额</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% @standard_groups.each do |group,items| %>
            <% n += 1 %>
            <tr>
              <td><%= n %></td>
              <td><%= items.first.科室车间 %></td>
              <td><%= group %></td>
              <td><%= items.map{|item| item.评定等级}.join(";") %></td>
              <td><%= items.map{|item| item.奖励标准}.join(";") %></td>
              <td><%= items.map{|item| item.人数}.join(";") %></td>
              <td><%= items.map{|item| item.奖励金额.to_f.round(2)}.sum %></td>
              <td><%= items.map{|item| item.备注}.join(";") %></td>
            </tr>
          <% end %>
       </tbody>
      </table>
    </div>

  </div>
  <div id="showModal"></div>
</div>
</div>

<script>
$("#month-multiple").select2( { theme: "bootstrap"} );
</script>
