<%= form_tag create_line_divide_level_wages_path,method: :post do |f| %>
  <%= label_tag "项目名称：" %>
  <%= text_field_tag "name"  %>
  <br>
  <%= label_tag "筛选条件："%>
  <br>

  <% (Employee.attribute_names - ["id","created_at","updated_at","avatar","group_id","workshop_id","name"]).each do |key| %>
    <span style = "margin-left:20px;display:inline-block;width:200px">
      &nbsp;&nbsp;<%= label_tag Employee.head_transfer[key] %>
      <span >
        <% if key == "workshop" %>
          <select multiple="multiple" class="form-control" name="<%= key + "[]"%>" id="<%= key%>">
            <% Workshop.all.each do |workshop| %>
              <option value="<%= workshop.id %>"><%= workshop.name %></option>
            <% end %>
          </select>
        <% elsif key == "group"%>
          <select multiple="multiple" class="form-control" name="<%= key + "[]"%>" id="<%= key%>">
            <% Group.all.each do |group| %>
              <option value="<%= group.id %>"><%= group.name %></option>
            <% end %>
          </select>
        <% else %>
          <%=  select_tag key,options_for_select(Employee.pluck(key).uniq),multiple: true,class: "form-control" %>
        <% end %>
        <!-- <%= check_box_tag key,"yes",false %> -->
      </span>

    </span>
    <script>
      $("#<%= key%>").select2( { theme: "bootstrap"} );
    </script>
  <% end %>
  <br>
  <br>
  <%= submit_tag :筛选 %>
<% end %>
