<div class="contentpanel">
  <%= render "edit_headbar"%>
  <div class="panel">
    <div class="panel-heading">
      <h4>修改表头(金额公式)</h4>
    </div>

    <div class="panel-body">
      <%= form_tag update_head_divide_level_wages_path(:id => @divide_head.id),method: :patch do%>
      <div class="form-group">
        <%= label_tag "表头名称：" %>
        <%= text_field_tag "head_name"  %>
      </div>
      <div class="form-group">
        <span>
        <%= label_tag "除以人数：" %>
        <select name= "per_capita">
          <option disabled selected value>--请选择--</option>
          <% DivideLevelWageHead.pluck(:head_name).each do |head_name| %>
            <option value="<%= head_name %>"><%= head_name %></option>
          <% end %>
        </select>
        </span>
      </div>
      <%= render "common/new_head_wage"%>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $("#wage").select2({
    width: "resolve"
  });
  function selWage()
  {
    var arr = gon.wage_arry;
    var wage = document.getElementById("wage");
    var index = wage.selectedIndex;
    var keys = arr[index];
    var wageArry = gon.wages;
    var subWage = document.getElementById("subwage");

    var subChild = document.createElement("select");
        subWage.appendChild(subChild);
        subChild.name = wageArry[index];
        subChild.id = wageArry[index];

    var subseleNode = document.getElementById(wageArry[index]);
    var plusArry = [["1","加"],["2","减"]];

        for(var i=0; i< plusArry.length; i++)
        {
          var subOption = document.createElement("option");
              subOption.value = plusArry[i][0];
              subOption.innerText = plusArry[i][1];

          subseleNode.appendChild(subOption);
        };

        var wageCreate = document.createElement("div");
        var wageKey = document.createTextNode(keys);
            wageCreate.appendChild(wageKey);
        $("#"+wageArry[index]).before(wageCreate);

        wageCreate.setAttribute("style", "margin: 10px 0;")

        $("#"+wageArry[index]).select2({
          width: "element"
        });
  }
</script>
