<div class="contentpanel">
  <%= link_to("返回",divide_level_wages_path,class:"btn btn-success-alt") %>
  <div class="panel">
    <div class="panel-heading">
      <label>当前项目名称：</label><span> <%= @dividelevelwage.name %> </span>
      <br>
      <label>当前筛选条件：</label>
      <span>
        <% @dividelevelwage.formula.keys.each do |key| %>
          <% if key == "workshop"%>
            <%= Employee.head_transfer[key] %>: <%= Workshop.current.where(:id => @dividelevelwage.formula[key]).pluck("name") %><br>
          <% elsif key == "group" %>
            <%= Employee.head_transfer[key] %>: <%= Group.current.where(:id => @dividelevelwage.formula[key]).pluck("name") %><br>
          <% elsif key == "add_people" %>
            手动增加人员: <%= @dividelevelwage.formula[key] %><br>
          <% elsif key == "reduce_people" %>
            手动删除人员: <%= @dividelevelwage.formula[key] %><br>
          <% else %>
          <%= Employee.head_transfer[key] %>: <%= @dividelevelwage.formula[key] %><br>
          <% end %>
        <% end %>
      </span>
      <%= link_to("删除本项目",delete_line_divide_level_wages_path(:id => @dividelevelwage.id),method: :delete,confirm: "确认删除？",class: "fa fa-trash") %>
      <%= link_to "查看人员详情",employees_wage_show_wages_path(:category => "divide",content_name: @dividelevelwage.name, content_id: @dividelevelwage.id)%>
    </div>
  </div>


  <div class="panel">
    <div class="panel-heading">
      <h4>项目编辑</h4>
    </div>
    <div class="panel-body">
      <%= form_tag update_line_divide_level_wages_path(:id => @dividelevelwage.id),method: :patch do %>
      <div class="form-group">
        <%= label_tag "项目名称：" %>
        <%= text_field_tag "name"  %>
      </div>
      <%= label_tag "筛选条件："%>
      <div class="form-group">
        <%= label_tag "手动增加人员" %>
        <select multiple="multiple" class="form-control" name="add_people[]" id="add_people">
          <% Employee.current.pluck(:sal_number).each do |sal_number| %>
            <% if @dividelevelwage.formula["add_people"].present? && @dividelevelwage.formula["add_people"].include?(sal_number) %>
              <option value="<%= sal_number %>" selected><%= sal_number %></option>
            <% else %>
              <option value="<%= sal_number %>"><%= sal_number %></option>
            <% end %>
          <% end %>
        </select>
      </div>

        <div class="form-group">
          <%= label_tag "手动删除人员" %>
          <select multiple="multiple" class="form-control" name="reduce_people[]" id="reduce_people">
            <% Employee.current.pluck(:sal_number).each do |sal_number| %>
              <% if @dividelevelwage.formula["reduce_people"].present? && @dividelevelwage.formula["reduce_people"].include?(sal_number) %>
                <option value="<%= sal_number %>" selected><%= sal_number %></option>
              <% else %>
                <option value="<%= sal_number %>"><%= sal_number %></option>
              <% end %>
            <% end %>
          </select>
        </div>
          <%= render "common/new_head"%>
      <% end %>
    </div>
  </div>

  <script>
    $("#add_people").select2( {width: "resolve"} );
    $("#reduce_people").select2( {width: "resolve"} );
    $("#selid").select2();
  </script>
