

<div  class="content-table" style="clear:both;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>序号</th>
        <th>科室车间</th>
        <th>部门班组</th>
        <th>工资号</th>
        <th>姓名</th>
        <th>系数</th>
        <th>挂钩工资</th>
        <th>安全质量</th>
        <th>工作质量</th>
        <th>一体化</th>
        <th>兼职兼岗</th>
        <th>其他</th>
        <th>应发</th>
        <th>考核扣款</th>
        <th>合计</th>
        <th>备注</th>
        <!-- <th>上传者</th> -->
      </tr>
    </thead>
    <tbody>
      <% n = 0 %>
      <% @relative_salers.each do |sal_number,items| %>
        <% n += 1 %>
        <tr>
          <td><%= n %></td>
          <td><%= items.first.科室车间 %></td>
          <td><%= items.first.部门班组 %></td>
          <td><%= sal_number %></td>
          <td><%= items.first.姓名 %></td>
          <td><%= items.map{|x| x.系数}.join(",") %></td>
          <td><%= items.map{|x| x.挂钩工资.to_f.round(2)}.sum  %></td>
          <td><%= items.map{|x| x.安全质量.to_f.round(2)}.sum  %></td>
          <td><%= items.map{|x| x.工作质量.to_f.round(2)}.sum  %></td>
          <td><%= items.map{|x| x.一体化.to_f.round(2)}.sum  %></td>
          <td><%= items.map{|x| x.兼职兼岗.to_f.round(2)}.sum  %></td>
          <td><%= items.map{|x| x.其他.to_f.round(2)}.sum  %></td>
          <td><%= items.map{|x| x.应发.to_f.round(2)}.sum  %></td>
          <td><%= items.map{|x| x.考核扣款.to_f.round(2)}.sum  %></td>
          <td><%= items.map{|x| x.合计.to_f.round(2)}.sum  %></td>
          <td><%= items.map{|x| x.备注}.join(";")  %></td>
        </tr>
      <% end %>
   </tbody>
  </table>
</div>
