<div class="panel-heading">
  <!-- Example split danger button -->
      <a class="btn btn-primary" href="/relative_salers">
        工效挂钩明细表
      </a>
      <a class="btn btn-primary" href="/people_changes">
        人员变动情况
      </a>
    <div class="btn-group">
      <button type="button" class="btn btn btn-primary dropdown-toggle" data-toggle="dropdown">
        汇总统计 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "工效挂钩汇总表", relative_salers_totals_path %></li>
        <li><%= link_to "标准化汇总表", standard_award_totals_path %></li>
        <li><%= link_to "星级岗总明细表", star_awards_path %></li>
        <li><%= link_to "考核扣款总明细表", charge_details_path %></li>
        <li><%= link_to "其他单项总明细表", other_award_totals_path %></li>
      </ul>
    </div><!-- btn-group -->
</div>
