<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Description">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1" ss:ShrinkToFit="1"/>
      <Borders>
      <Border ss:Position="Top" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Bottom" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Left" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Right" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="Description"><Data ss:Type="String">序号</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">科室车间</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">部门班组</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">工资号</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">姓名</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">系数</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">挂钩工资</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">安全质量</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">工作质量</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">一体化</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">兼职兼岗</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">其他</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">应发</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">考核扣款</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">合计</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">备注</Data></Cell>
      </Row>
      <% n = 0 %>
    <% @export_relative_salers.each do |saler| %>
      <% n += 1 %>
      <Row>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= n %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= items.first.科室车间 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= items.first.部门班组 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= sal_number %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= items.first.姓名 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= items.map{|x| x.系数}.join(",") %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= items.map{|x| x.挂钩工资.to_f.round(2)}.sum  %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= items.map{|x| x.安全质量.to_f.round(2)}.sum  %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= items.map{|x| x.工作质量.to_f.round(2)}.sum  %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= items.map{|x| x.一体化.to_f.round(2)}.sum  %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= items.map{|x| x.兼职兼岗.to_f.round(2)}.sum  %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= items.map{|x| x.其他.to_f.round(2)}.sum  %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= items.map{|x| x.应发.to_f.round(2)}.sum  %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= items.map{|x| x.考核扣款.to_f.round(2)}.sum  %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= items.map{|x| x.合计.to_f.round(2)}.sum  %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= items.map{|x| x.备注}.join(";")  %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
