<?xml version="1.0" encoding='UTF-8'?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Description">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1" ss:ShrinkToFit="1"/>
      <Borders>
      <Border ss:Position="Top" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Bottom" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Left" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Right" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="班组考勤汇总表">
    <Table x:ExpandedColumnCount="3" x:ExpandedRowCount="3" x:FullColumns="1" x:FullRows="1">
        <Row>
          <Cell ss:StyleID="Description"><Data ss:Type="String">序号</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">科室车间</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">挂钩工资</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">安全质量</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">工作质量</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">行车</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">整改返奖</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">一体化</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">兼职兼岗</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">考核扣款</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">其他</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">应发</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">小计</Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String">备注</Data></Cell>
        </Row>
        <% @export_totals.each do |f| %>
          <Row>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.序号 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.科室车间 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.挂钩工资 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.安全质量 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.工作质量 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.行车 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.整改返奖 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.一体化 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.兼职兼岗 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.考核扣款 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.其他 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.应发 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.小计 %></Data></Cell>
            <Cell ss:StyleID="Description"><Data ss:Type="String"><%= f.备注 %></Data></Cell>
          </Row>
        <% end %>
    </Table>

  </Worksheet>
</Workbook>
