<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">
  <div class="" >
    <% if url_for == "/relative_salers_totals"%>
      <%= link_to("工效挂钩汇总",relative_salers_totals_path(:year => @year,:month => @month),class:"btn btn-tab-selected") %>
      <%= link_to("功效挂钩明细",relative_salers_path(:year => @year,:month => @month),class:"btn btn-tab") %>
    <% elsif url_for == "/relative_salers" %>
      <%= link_to("工效挂钩汇总",relative_salers_totals_path(:year => @year,:month => @month),class:"btn btn-tab") %>
      <%= link_to("功效挂钩明细",relative_salers_path(:year => @year,:month => @month),class:"btn btn-tab-selected") %>
    <% end %>
  </div>
  <div class="panel panel-body">
    <header>
      <h4 class="text-center"><%= @year %>年
                                            <% if @month.count == 0 %>
                                            <% elsif @month.count == 1 %>
                                              <%= @month.first %>月
                                            <% else %>
                                              <%= @month %>月
                                            <% end %>
                                            工挂工资汇总表
      </h4>
    </header>
    <div class="content-body">
      <%= form_tag relative_salers_totals_path,method: :get do %>
        <select class="" style="display:inline-block;" name="year">
          <% @years.each do |year| %>
            <% if @year == year %>
              <option value="<%= year %>" selected><%= year %></option>
            <% else %>
              <option value="<%= year %>"><%= year %></option>
            <% end %>
          <% end %>
        </select>年
        ~
        <span style="display:inline-block;width:200px;position:relative;top:5px;">
          <select class="form-control" name="month[]" multiple="multiple" id="month-multiple">
            <% @months.each do |month| %>
              <% if @month.include?(month) %>
                <option value="<%= month %>" selected><%= month %></option>
              <% else %>
                <option value="<%= month %>"><%= month %></option>
              <% end %>
            <% end %>
          </select>
        </span>月
        <%= submit_tag :筛选,:data => {:disable_with => "筛选中..."}%>
      <% end %>
      <%= link_to("删除表格",delete_relative_salers_totals_relative_salers_totals_path(:year => @year,:month => @month),method: :delete,:data => {confirm: "您确定要删除#{@year}年#{@month}月工效挂钩汇总表吗？"},class:"btn btn-primary-upload pull-right") %>
      <%= link_to("导出表格",relative_salers_totals_path(:year => @year,:month => @month,format: "xls"),class:"btn btn-primary-upload pull-right") %>
      <%= link_to("上传工挂汇总表",show_modal_relative_salers_totals_path, remote: true,class:"btn btn-primary-upload pull-right", "data-toggle" => "modal", "data-target" => "#myModal") %>
      <div  class="content-table" style="clear:both;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>序号</th>
              <th>科室车间</th>
              <th>挂钩工资</th>
              <th>安全质量</th>
              <th>工作质量</th>
              <th>行车</th>
              <th><%= link_to '整改返奖', rectification_awards_path%></th>
              <th>一体化</th>
              <th>兼职兼岗</th>
              <th>其他</th>
              <th>应发</th>
              <th>考核扣款</th>
              <th>小计</th>
              <th>备注</th>
            </tr>
          </thead>
          <tbody>
            <% n = 0 %>
            <% @totals.each do |workshop,items| %>
              <% n += 1 %>
              <tr>
                <td><%= n %></td>
                <td><%= workshop %></td>
                <td><%= items.map{|x| x.挂钩工资.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.安全质量.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.工作质量.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.行车.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.整改返奖.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.一体化.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.兼职兼岗.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.其他.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.应发.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.考核扣款.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.小计.to_f.round(2)}.sum %></td>
                <td><%= items.map{|x| x.备注}.join(";") %></td>
              </tr>
            <% end %>
         </tbody>
        </table>
      </div>

    </div>
    <div id="showModal"></div>
  </div>
</div>

<script>
  $("#month-multiple").select2( { theme: "bootstrap"} );
</script>
