<div class="widget-container" data-widgetid="1" data-size="normal" style="margin-top: 10px; width:100%; height: 400px;">
  <div class="widget-content-container">
    <div class="mark-contend"></div>
     <div class="widget-topbar" style="cursor: auto;">
       <div class="widget-title">
         <div class="title" data-method="nav" style="margin-top: 10px;">
            全段工种分析表格
         </div>
         <div class="range" style="margin-bottom: 0px;">
           <%= Time.now.strftime(("%Y年%m月%d日") )%>
         </div>
       </div>
       <div class="pull-right widget-setting">
         <div class="customer-menu"></div>
       </div>
     </div>

     <div class="widget-chart-container container">
       <div style="background-color: white; height: 104px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
         <table id="example" class="table table-bordered">
           <thead>
             <tr>
               <th>供电段</th>
               <% @work_types.each do |worktype| %>
                <% if worktype == nil%>
                  <th><%= "未填写" %></th>
                <%else%>
                  <th><%= worktype%></th>
                 <% end %>
               <% end %>
             </tr>
           </thead>
            <tbody>
               <tr>
                 <td><%= "全段" %></td>
                 <% @work_types.each do |worktype| %>
                   <td>
                   <%= Employee.where(:work_type => worktype).count %>
                   </td>
                 <% end %>
               </tr>
          </tbody>
         </table>
       </div>
     </div>
  </div>
</div>
