<div class="widget-content-container" style="margin-bottom: 10px;">
  <div class="mark-contend"></div>
   <div class="widget-topbar" style="cursor: auto;">
     <div class="widget-title">
       <div class="title" data-method="nav" style="margin-top: 10px;">
          各车间工种分析表格 (共<%= @workshops.count%>个-含机关)
       </div>
       <div class="range" style="margin-bottom: 0px;">
         <%= Time.now.strftime(("%Y年%m月%d日") )%>
       </div>
     </div>
     <div class="pull-right widget-setting">
       <div class="customer-menu"></div>
     </div>
   </div>

   <div class="widget-chart-container container">
     <div style="background-color: white; height: 354px;padding-left:10px; padding-right: 10px; padding-top:30px ;overflow: auto">
       <table id="example" class="table table-bordered">
         <thead>
           <tr>
             <th>车间</th>
             <% @work_types.each do |worktype| %>
              <% if worktype == nil%>
                <th><%= "未填写" %></th>
              <%else%>
                <th><%= worktype%></th>
               <% end %>
             <% end %>
           </tr>
         </thead>
          <tbody>
           <% @workshops.each do |workshop| %>
             <tr>
               <td><%= Workshop.find(workshop.to_i).name%></td>
               <% @work_types.each do |worktype| %>
                 <td><%= Employee.current.where(:workshop => workshop, :work_type => worktype).count %></td>
               <% end %>
             </tr>
           <% end %>
        </tbody>
       </table>
     </div>
   </div>
</div>
