<div class="contentpanel">
  <%= link_to("返回",main_driving_stuffs_path,class:"btn btn-success-alt") %>
  <div class="panel">
    <div class="panel-heading">
      <h4>新增项目</h4>
    </div>
    <div class="panel-body">
      <%= form_tag create_line_main_driving_stuffs_path,method: :post do %>
      <div class="form-group">
        <%= label_tag "项目名称：" %>
        <%= text_field_tag "name"  %>
      </div>
      <%= render "common/new_head"%>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#selid").select2();
</script>
