<div class="contentpanel">
  <div class="wage-navbar">
    <%= link_to "返回",main_driving_stuffs_path,class:"nav-item" %>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/main_driving_stuffs/new_head">人员公式</a>
      </li>
      <li class="nav-item">
        <a href="/main_driving_stuffs/new_head_wage">金额公式</a>
      </li>
    </ul>
  </div>

  <div class="panel">
    <div class="panel-heading">
      <h4>新增表头(人员公式)</h4>
    </div>
    <div class="panel-body">
      <%= form_tag create_head_main_driving_stuffs_path,method: :post do |f| %>
      <div class="form-group">
        <%= label_tag "表头名称：" %>
        <%= hidden_field_tag "main_head_name",@main_stuff_head %>
        <%= text_field_tag "head_name"  %>
      </div>

      <div class="form-group">
        <span>
          <%= label_tag "期末人数" %>
          <%= check_box_tag "final_period","yes" %>
        </span>
        <span>
          <%= label_tag "平均人数" %>
          <%= check_box_tag "average","yes" %>
        </span>
      </div>
      <%= render "common/new_head"%>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#selid").select2();
</script>
