<div class="contentpanel">
  <div class="wage-navbar">
    <%= link_to "返回",main_driving_stuffs_path,class:"nav-item" %>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/main_driving_stuffs/new_head">人员公式</a>
      </li>
      <li class="nav-item">
        <a href="/high_speed_rail_stuffs/new_head_wage">金额公式</a>
      </li>
    </ul>
  </div>


    <div class="panel-body">
      <%= form_tag create_head_main_driving_stuffs_path,method: :post do |f| %>
      <div class="form-group">
        <%= label_tag "表头名称：" %>
        <%= hidden_field_tag "main_head_name",@main_stuff_head %>
        <%= text_field_tag "head_name"  %>
      </div>

      <div class="form-group">
        <span>
          <%= label_tag "期末人数" %>
          <%= check_box_tag "final_period","yes" %>
        </span>
        <span>
          <%= label_tag "平均人数" %>
          <%= check_box_tag "average","yes" %>
        </span>
      </div>
      <%= render "common/new_head"%>
      <% end %>
    </div>
</div>




<script type="text/javascript">

  function selCity()
          {
            var arr = gon.main_arry;
            var textarr = gon.main_key;
            var selNode = document.getElementById("selid");
            var subselNode = document.getElementById("subselid");
            var index = selNode.selectedIndex;
            var citys = arr[index];
            var keys = textarr[index];

            var selectNode = document.createElement("select");
            subselNode.appendChild(selectNode);
            selectNode.name = citys[0]+"[]";
            selectNode.id = citys[0];

            var selectBlock = document.getElementById(citys[0]);

            for(var i=0; i<citys[1].length; i++)
            {
              var optionNode = document.createElement("option");
              optionNode.value = citys[1][i];
              optionNode.innerText = citys[1][i];
              selectBlock.appendChild(optionNode);
            };

            selectBlock.multiple = true;
            selectBlock.setAttribute("style", "width: 80%;");

            var newDiv = document.createElement("div");
            var newContent = document.createTextNode(keys);
            newDiv.appendChild(newContent); //add the text node to the newly created div.
            // add the newly created element and its content into the DOM
            $("#"+citys[0]).before(newDiv);

            $("#"+citys[0]).select2( {
              theme: "bootstrap"
            });
          };

          $("#selid").select2();
</script>
