<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">
  <div class="back-btn">
    <%= link_to "返回", rectification_awards_path(:year => @year,:month => @month) %>
  </div>

  <div class="panel panel-body">
    <header>
      <h4 class="text-center"><%= @year %>年
                                            <% if @month.count == 0 %>
                                            <% elsif @month.count == 1 %>
                                              <%= @month.first %>月
                                            <% else %>
                                              <%= @month %>月
                                            <% end %>
                                            班组长返奖明细表
      </h4>
    </header>
    <div class="content-body">
      <%= form_tag middle_awards_path,method: :get do %>
        <select class="" style="display:inline-block;" name="year">
          <% @years.each do |year| %>
            <% if @year == year %>
              <option value="<%= year %>" selected><%= year %></option>
            <% else %>
              <option value="<%= year %>"><%= year %></option>
            <% end %>
          <% end %>
        </select>年
        ~
        <span style="display:inline-block;width:200px;position:relative;top:5px;">
          <select class="form-control" name="month[]" multiple="multiple" id="month-multiple">
            <% @months.each do |month| %>
              <% if @month.include?(month) %>
                <option value="<%= month %>" selected><%= month %></option>
              <% else %>
                <option value="<%= month %>"><%= month %></option>
              <% end %>
            <% end %>
          </select>
        </span>月
        <%= submit_tag :筛选,:data => {:disable_with => "筛选中..."}%>
      <% end %>
      <%= link_to("删除表格",delete_teamleader_awards_teamleader_awards_path(:year => @year,:month => @month),method: :delete,:data => {confirm: "您确定要删除#{@year}年#{@month}月班组长返奖明细表吗？"},class:"btn btn-primary-upload pull-right") %>
      <%= link_to("导出表格",teamleader_awards_path(:year => @year,:month => @month,format: "xls"),class:"btn btn-primary-upload pull-right") %>
      <%= link_to("上传班组长返奖明细表",show_modal_teamleader_awards_path, remote: true,class:"btn btn-primary-upload pull-right", "data-toggle" => "modal", "data-target" => "#myModal") %>

      <div  class="content-table" style="clear:both;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>序号</th>
              <th>车间</th>
              <th>班组</th>
              <th>工资号</th>
              <th>姓名</th>
              <th>性别</th>
              <th>金额</th>
            </tr>
          </thead>
          <tbody>
            <% @teamleader_awards.each do |item| %>
              <tr>
                <td><%= item.序号 %></td>
                <td><%= item.车间 %></td>
                <td><%= item.班组 %></td>
                <td><%= item.工资号 %></td>
                <td><%= item.姓名 %></td>
                <td><%= item.性别 %></td>
                <td><%= item.金额 %></td>
              </tr>
            <% end %>
         </tbody>
        </table>
      </div>
      <div class="text-center">
        <%= paginate @teamleader_awards %>
      </div>
    </div>
    <div id="showModal"></div>
  </div>
</div>

<script>
  $("#month-multiple").select2( { theme: "bootstrap"} );
</script>
