<div class="modal fade" id="HolidayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">填写<%= Employee.find(@employee).name %><%= @month %>月份休假天数</h4>
      </div>
      <div class="modal-body">
        <%= form_tag create_holiday_annual_holidays_path do %>
          <%= label_tag :请输入休假天数： %>
        	<%= text_field_tag :holiday_days %>
          <%= hidden_field_tag :employee, @employee %>
          <%= hidden_field_tag :month, @month %>
        	<%= submit_tag :提交 %>
        <% end %>
      </div>
    </div> 
  </div>
</div>