<div class="modal fade" id="HolidayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">填写<%= current_user.name %>的年休假计划</h4>
      </div>
      <div class="modal-body">
        <%= form_tag create_holiday_plan_annual_holidays_path do %>
          <%= hidden_field_tag :year,@year %>
          <%= text_field_tag :number %>
          <%= hidden_field_tag :work_type, @work_type %>
          <%= hidden_field_tag :input_name, @number %>
          <%= hidden_field_tag :workshop, @id %>
          <%= submit_tag :点击填入,:data => {:disable_with => "提交中... "} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
