<div class="contentpanel">
	

<% if (current_user.has_role? :attendance_admin) or  (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin)|| (current_user.has_role? :depudy_leaderadmin) %>
	<div class="col-md-12" style="height: 100%">
	    <div class="col-md-2" id="menu" style="background-color: white;overflow: auto;height: 100%;">
	      <h5><%= link_to "北京供电段", duan_holiday_plan_annual_holidays_path(duan: "北京供电段") %></h5>
	      <ul style="list-style: none;">
	      	<% @organizations.each do |organization| %>
		        <li>
		          <a href='/annual_holidays/duan_holiday_plan?organization=<%= organization.id %>'><%= organization.name %></a>
		        </li>
	        <% end %>
	        <% @workshops.each do |workshop| %>
		        <li>
		          <a href='/annual_holidays/duan_holiday_plan?workshop=<%= workshop.id %>'><%= workshop.name %></a>
		        </li>
	        <% end %>
	      </ul>
				<!-- ##这个是table左边的下拉菜单 -->
	    </div>
    <h4 class="text-center"><%= @year%>年休假计划</h4>

		<div class="card">

		    <div style="overflow: auto;" class="col-md-10">
		    	<%= form_tag duan_holiday_plan_annual_holidays_path  do %>
				  <select name="year">
				  	<% @years.each do |year| %>
				  	  <% if year == Time.now.year %>
				  	    <option value="<%=year%>" selected><%= year %></option>
				  	  <% else %>
				  	    <option value="<%=year%>"><%= year %></option>
				  	  <% end %>
				  	<% end %>
				  </select>年
				  <%= submit_tag "筛选",:data => {:disable_with => "计算中..."} %>
				<% end %>
		      <table id="example" class="table table-bordered">
		        <thead>
		        	<tr>
		        		<th>工种</th>
		        		<th>上年末部门人数</th>
		        		<th>可休年休假人数</th>
		        		<th>休5天人数</th>
		        		<th>休10天人数</th>
		        		<th>休15天人数</th>
		        		<th>应休假天数</th>
		        		<% (1..12).each do |i| %>
		        			<th><%= i %>月份安排人数</th>
		        			<th><%= i %>月份休假天数</th>
		        		<% end %>
		        	</tr>
		        </thead>
			        <tbody>
		        		<% @worktypes.each do |type| %>
		        			<tr>
		        				<td><%= type.work_type %></td>
									<% @columns.each do |column| %>
				        				<td>
											<%= @annual_holidays.where(:work_type => type).sum(column) %>
				        				</td>
									<% end %>
		        			</tr>
		        		<% end %>
			        </tbody>
		      </table>
		    </div>
		</div>
	</div>
<% end %>
</div>
