<div class="contentpanel">
<% if (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :leaderadmin)|| (current_user.has_role? :depudy_leaderadmin)%>

 <div class="card">
			 <div style="overflow: auto;" class="col-md-10">
				 <table id="example" class="table table-bordered">
					 <thead>
						 <tr>
							 <th>姓名</th>
							 <% (1..12).each do |i| %>
								 <th><%= i %></th>
							 <% end %>
							 <th>工龄</th>
							 <th>应休</th>
							 <th>实休</th>
						 </tr>
					 </thead>
          					 <tbody>
          						 <% @employees.each do |employee| %>
          							 <tr>
          								 <td><%= employee.name %></td>
          								 <td><%= working_years(employee) %></td>
          								 <td><%= group_holiday_fulfill(employee) %></td>
          								 <td><%= group_holiday_year(employee) %></td>
          						     <td><%= group_holiday_day(employee) %></td>
          							 </tr>
          						 <% end %>
          					 </tbody>
				 </table>
		 </div>
  </div>
<% end %>
</div>
