<div class="contentpanel">

  <% if (current_user.has_role? :attendance_admin) or  (current_user.has_role? :superadmin) or (current_user.has_role? :leaderadmin)|| (current_user.has_role? :depudy_leaderadmin)%>
    <h4 class="text-center"><%= @year %>年年休假完成率</h4>
	<div class="card">

		<div style="overflow: auto;" class="col-md-12">
		    <table id="example" class="table table-bordered">
		        <thead>
		        	<tr>
		        		<th>车间</th>
		        		<th>季度</th>
						<th>本季度完成人数</th>
		        		<th>累计完成率</th>
		        		<th>本季度完成天数</th>
		        		<th>累计完成率</th>
		        	</tr>
		        </thead>
		        <tbody>

	        		<% @workshops.each do |workshop_id, type| %>
	        		    <% sum_complete_day_count = 0 %>
	        		    <!-- 每个季度累计完成人数的数组集合： -->
	        		    <% sum_complete_employee_count_array = [] %>
	        		    <!-- 第x季度时累计月份： -->
	        		    <% sum_months = [] %>
	        		    <!-- 本车间全部职工年休假计划： -->
	        		    <% if type == "group" %>
	        		      <% holiday_plan = AnnualHolidayPlan.find_by(orgnization_id: workshop_id, year: @year,:status => "yes",:work_type => "全部职工") %>
	        		    <% elsif type == "workshop" %>
	        		      <% holiday_plan = AnnualHolidayPlan.find_by(workshop_id: workshop_id, year: @year,:status => "yes",:work_type => "全部职工") %>
	        		    <% end  %>
        				
        				
		        		<% (1..4).each do |i| %>
		        		    <% if holiday_plan.present? %>
	        				    <!-- 本车间计划年休假天数： -->
		        				<% plan_sum_days = holiday_plan.send(@quarter_hash[i][2][0]).to_i + holiday_plan.send(@quarter_hash[i][2][1]).to_i + holiday_plan.send(@quarter_hash[i][2][2]).to_i %>
		        				<!-- 本车间计划年休假人数： -->
		        				<% plan_all_employee_count = holiday_plan.send(@quarter_hash[i][1][0]).to_i + holiday_plan.send(@quarter_hash[i][1][1]).to_i + holiday_plan.send(@quarter_hash[i][1][2]).to_i  %>
        				    <% end %>
		        		    <% sum_months = sum_months + @quarter_hash[i][0] %>
		        			<tr>
		        				<td>
		        					<% if type == "group" %>
				        		      <%= Group.find_by(:id => workshop_id).name %>
				        		    <% elsif type == "workshop" %>
		        					  <%= Workshop.find_by(:id => workshop_id).name %>
		        					<% end %>
		        				</td>
		        				<td><%= i %></td>
		        				<!-- 根据工龄计算年休假分别为5天、10天、15天的人员id: -->
		        				<% should_holiday_hash = {5 => [],10 => [],15 => []} %>
		        				<% if type == "group" %>
			        		      <% employees = @employees.where(group: workshop_id) %>
			        		    <% elsif type == "workshop" %>
                                  <% employees = @employees.where(workshop: workshop_id) %>
                                <% end %>
                                <% employees.each do |employee| %>
                                  <% if group_holiday_year(employee) == 5 %>
                                    <% should_holiday_hash[5] << employee.id %>
                                  <% elsif group_holiday_year(employee) == 10 %>
                                    <% should_holiday_hash[10] << employee.id %>
                                  <% elsif group_holiday_year(employee) == 15 %>
                                    <% should_holiday_hash[15] << employee.id %>
                                  <% end %>
                                <% end %>
                                <!-- 计算完成！ -->
                                
                                <!-- 累计分别完成5、10、15天年休假的人数计算： -->
                                <% complete_five_employees_count = AnnualHoliday.where(:year => @year,:month => sum_months,:employee_id => should_holiday_hash[5]).group(:employee_id).sum(:holiday_days).delete_if{|key,value| value < 5 }.count %>
                                <% complete_ten_employees_count = AnnualHoliday.where(:year => @year,:month => sum_months,:employee_id => should_holiday_hash[10]).group(:employee_id).sum(:holiday_days).delete_if{|key,value| value < 10 }.count %>
                                 <% complete_fifteen_employees_count = AnnualHoliday.where(:year => @year,:month => sum_months,:employee_id => should_holiday_hash[15]).group(:employee_id).sum(:holiday_days).delete_if{|key,value| value < 15 }.count %>

                                 <!-- 当前季度累计完成休假人数： -->
                                 <% complete_all_employees_count = complete_five_employees_count + complete_ten_employees_count + complete_fifteen_employees_count %>
                                 <!-- 当前季度累计完成休假人数： -->
                                 <% sum_complete_employee_count_array << complete_all_employees_count %>
                                 
                                 <!-- 当前季度完成年休假天数： -->
								<% employee_ids = employees.pluck("id") %>
								<% complete_quarter_daysnumber = AnnualHoliday.where(year: @year, employee_id: employee_ids, month: @quarter_hash[i][0]).sum(:holiday_days) %>
								

                                <% if  complete_all_employees_count > 0 %>
                                    <!-- 当前季度完成年休假人数： -->
	                                <td>
	                                	<% current_quarter_completed_employees =  sum_complete_employee_count_array[i-1] - sum_complete_employee_count_array[i-2] %>
	                                	<%= current_quarter_completed_employees %>
	                                </td>

	                                <!-- 当前季度累计完成年休假的人数占比： -->
									<td>
										<% if holiday_plan.present? %>
										  <%= (current_quarter_completed_employees.to_f*100/plan_all_employee_count).round(1) %>%
										<% end %>
									</td>
								<% else %>	
								  <td></td>
								  <td></td>
								<% end %>
								
								<!-- 当前季度累计完成天数： -->
		        				<td><%= complete_quarter_daysnumber %></td>
						
								<!-- 当前季度年休假累计完成率 -->
								<% if holiday_plan.present? %>
									<% if complete_quarter_daysnumber != 0 %>
										<td><%= (sum_complete_day_count.to_f/complete_quarter_daysnumber)*100 %>%</td>
									<% else %>
										<td>0</td>
									<% end %>
							    <% else %>
							      <td><span style="color:red;">车间未上报年休假计划！</span></td>
							    <% end %>
		        			</tr>
		        		<% end %>
	        		<% end %>
	        	</tbody>
	        </table>
	    </div>
	</div>
  <% end %>
</div>
