<%= render "annual_holiday_sidebar"%>
<% if (current_user.has_role? :workshopadmin) or (current_user.has_role? :organsadmin) or (current_user.has_role? :attendance_admin) or  (current_user.has_role? :superadmin) %>
	<div class="card">
	    <div style="overflow: auto;" class="col-md-10">
	      <table id="example" class="table table-bordered">
	        <thead>
	        	<tr>
	        		<th>工号</th>
	        		<th>档案号</th>
	        		<th>车间</th>
	        		<th>班组</th>
	        		<th>姓名</th>
	        		<th>性别</th>
	        		<th>出生日期</th>
	        		<th>工作时间</th>
	        		<th>职务</th>
	        		<th>级别</th>
	        		<th>工龄</th>
	        		<th>应休假天数</th>
	        		<% (1..12).each do |i| %>
	        			<th><%= i %>月</th>
	        		<% end %>
	        	</tr>
	        </thead>
	        <tbody>
	        	<% @employees.each do |employee| %>
		        	<tr>
		        		<td><%= employee.job_number %></td>
		        		<td><%= employee.record_number %></td>
		        		<td><%= Workshop.find(employee.workshop).name %></td>
		        		<td><%= Group.find(employee.group).name %></td>
		        		<td><%= employee.name %></td>
		        		<td><%= employee.sex %></td>
		        		<td><%= employee.birth_date %></td>
		        		<td><%= employee.working_time %></td>
		        		<td><%= employee.duty %></td>
		        		<td><%= employee.grade %></td>
		        		<td><%= employee.working_years %></td>
		        		<% if employee.working_years <= 10 %>
		        			<% holidays = 5 %>
		        		<% elsif (employee.working_years >= 11) && (employee.working_years <= 20) %>
		        			<% holidays = 10 %>
		        		<% elsif employee.working_years > 21 %>
		        			<% holidays = 15 %>
		        		<% end %>
		        		<td><%= holidays %></td>
		        		<% (1..12).each do |i| %>
		        			<% annual_holiday = AnnualHoliday.find_by(:employee_id => employee.id, :month => i) %>
		        			<% if current_user.has_role? :superadmin %>
		        				<% if annual_holiday.present? %>
			        				<td><%= annual_holiday.holiday_days %></td>
			        			<% else %>
			        				<td></td>
			        			<% end %>
		        			<% else %>
			        			<% if annual_holiday.present? %>
			        				<td><%= link_to annual_holiday.holiday_days, holiday_modal_annual_holidays_path(employee: employee, month: i), remote: true, class: "btn btn-primary", "data-toggle" => "modal", "data-target" => "#HolidayModal"  %></td>
			        			<% else %>
			        				<td><%= link_to "未填写", holiday_modal_annual_holidays_path(employee: employee, month: i), remote: true, class: "btn btn-primary", "data-toggle" => "modal", "data-target" => "#HolidayModal" %></td>
			        			<% end %>
		        			<% end %>
		        		<% end %>
		        	</tr>
	        	<% end %>
	        </tbody>
	      </table>
	    </div>
	</div>
	<div class="text-center">
		<%= paginate @employees%>
	</div>
	<div id="showHolidayModal"></div>
<% end %>
