<% if (current_user.has_role? :workshopadmin) or (current_user.has_role? :organsadmin)  %>
	<%= render 'annual_holiday_sidebar' %>

	<div class="col-md-12">
	  <%= link_to "确认完成", create_holiday_plan_annual_holidays_path(status: "true"), method: :post, class: "btn btn-primary" %>
	</div>
	<% if (current_user.has_role? :workshopadmin) or (current_user.has_role? :organsadmin) or (current_user.has_role? :attendance_admin) or  (current_user.has_role? :superadmin) %>
		<div class="card">
		    <div style="overflow: auto;" class="col-md-10">
		      <table id="example" class="table table-bordered">
		        <thead>
		        	<tr>
		        		<th>工种</th>
		        		<th>上年末单位人数</th>
		        		<th>休年休假人数</th>
		        		<th>休5天人数</th>
		        		<th>休10天人数</th>
		        		<th>休15天人数</th>
		        		<th>应休假天数</th>
		        		<% (1..12).each do |i| %>
		        			<th><%= i %>月份安排人数</th>
		        			<th><%= i %>月份休假天数</th>
		        		<% end %>
		        	</tr>
		        </thead>
		        					<tbody>
	        		<% AnnualHolidayWorkType.all.each do |type| %>
	        			<tr>
	        				<td><%= type.work_type %></td>
	        				<% useless_columns = ["id", "workshop_id", "work_type","created_at", "updated_at", "year", "status"] %>
	        				<% columns = AnnualHolidayPlan.column_names - useless_columns %>
	        				<% columns.each do |column| %>
		        				<td>
		        					<% if current_user.has_role? :workshopadmin %>
	        							<% id = Workshop.current.find(current_user.workshop_id) %>
	        						<% elsif current_user.has_role? :organsadmin %>
	        							<% id = Group.current.find(current_user.group_id) %>
	        						<% end  %>
		        					<%= link_to holiday_modal_annual_holidays_path(work_type: type, number: column, id: id), remote: true, class: "btn btn-primary", "data-toggle" => "modal", "data-target" => "#holidayModal" do %>
		        						<% holiday = AnnualHolidayPlan.find_by(workshop_id: id, year: Time.now.year, work_type: type) %>
		        						<% if holiday.present? %>
		        						  <% holiday_attribute = holiday.attributes %>
			        						<% if holiday_attribute[column].present? %>
			        							<%= holiday_attribute[column] %>
			        						<% else %>
			        							<%= "点击填写" %>
			        						<% end %>
			        					<% else %>
			        						<%= "点击填写" %>
			        					<% end %>
		        					<% end %>
		        				</td>
	        				<% end %>
	        			</tr>
	        		<% end %>
		        </tbody>
		      </table>
		    </div>
		</div>
		<div id="showHolidayModal"></div>
	<% end %>

<% end %>
