<div class="headerbar">
  <a class="menutoggle"><i class="fa fa-bars"></i></a>

    <% if @attendance_marquee == 1 && @shenhe_day === (Time.now.day) %>
      <span style="line-height: 50px;height: 50px;width:50%;margin-left:20%;">
        <% if (current_user.has_role? :attendance_admin) %>
          <% if (1..15)  === (Time.now.day) %>
            <span style="font-size:16px;">【最新通知】您有未审核的车间/班组  <%= link_to "前往查看 >> ", duan_verify_index_attendances_path,data: {disable_with: "正在前往，请稍候... "},style:"color:red;" %></span>
          <% end %>
        <% elsif current_user.has_role? :workshopadmin %>
           <span style="font-size:16px;">【最新通知】您有未审核的车间/班组  <%= link_to "前往查看 >> ", workshop_verify_index_attendances_path,data: {disable_with: "正在前往，请稍候... "},style:"color:red;" %></span>
        <% end %>
      </span>
    <% elsif Announcement.last.present? %>
      <span style="line-height: 50px;height: 50px;width:50%;margin-left:20%;">
        <marquee loop="2" onMouseOut="this.start()"onMouseOver="this.stop()" style="font-size: 12pt; height: 30px">【最新通知】<%= link_to "#{Announcement.last.title}", announcement_path(Announcement.last) %></marquee>
      </span>
    <% end %>

    <% if @group_export_permission == 1 %>
      <div style="padding-left: 40px;line-height: 40px;height: 40px;width:50%;margin-left:20%;margin-top:5px;font-size:14px;color:white;background-color:#FF6600;display:inline-block;">
         <%= @shenhe_month%>月考勤可以导出了，请于15日前完成导出并上交给劳资！
         <%= link_to group_attendances_path(:year => @shenhe_year,:month => @shenhe_month,format: "xls") do  %>
           <span style="color:blue;"> 点击导出 > > </span>
         <% end %>
      </div>
    <% end %>
    <div class="header-right">
      <ul class="headermenu">

        <li>
          <% if !current_user %>
            <li><%= link_to("注册", new_user_registration_path) %> </li>
            <li><%= link_to("登入", new_user_session_path) %></li>
          <% else %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
              <% if current_user.has_role? :awardadmin %>
                <!-- <li><%= link_to '用户管理', users_path %></li> -->
                <li><%= link_to "公告系统", announcements_path %></li>
              <% end %>
              <li><%= link_to "修改密码", edit_user_registration_path %></li>
              <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> 帮助 </a></li>
              <li><%= link_to "退出", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
          <% end %>
        </li>
      </ul>
    </div><!-- header-right -->
  </div><!-- headerbar -->
