<div class="headerbar">
  <a class="menutoggle"><i class="fa fa-bars"></i></a>

    <% if @attendance_marquee == 1 && @shenhe_day === (Time.now.day) %>
      <span style="line-height: 50px;height: 50px;width:50%;margin-left:10%;">
        <% if (current_user.has_role? :attendance_admin) %>
          <% if (1..15)  === (Time.now.day) %>
            <span style="font-size:16px;">【最新通知】您有未审核的车间/班组  <%= link_to "前往查看 >> ", duan_verify_index_attendances_path,data: {disable_with: "正在前往，请稍候... "},style:"color:red;" %></span>
          <% end %>
        <% elsif current_user.has_role? :workshopadmin %>
           <span style="font-size:16px;">【最新通知】您有未审核的车间/班组  <%= link_to "前往查看 >> ", workshop_verify_index_attendances_path,data: {disable_with: "正在前往，请稍候... "},style:"color:red;" %></span>
        <% end %>
      </span>
    <% end %>

    <% if @group_export_permission == 1 %>
      <span style="line-height: 50px;height: 50px;width:50%;margin-left:10%;font-size:14px;color:white;background-color:#FF6600;display:inline-block;">
         <%= @shenhe_month%>月考勤可以导出了，请于15日前完成导出并上交给劳资！
         <%= link_to group_attendances_path(:year => @shenhe_year,:month => @shenhe_month,format: "xls") do  %>
           <span style="color:blue;"> 点击导出 > > </span>
         <% end %>
      </span>
    <% end %>
    <% if Announcement.last.present?  && ((Time.now - Announcement.last.created_at) < 604800) %>
      <span style="line-height: 50px;height: 50px;width:30%;"><%= link_to("【最新通知】"+Announcement.last.title,announcement_path(:id => Announcement.last.id))%> </span>
    <% end %>
    <div class="header-right">
      <ul class="headermenu">
        <li>
          <% if !current_user %>
            <li><%= link_to("注册", new_user_registration_path) %> </li>
            <li><%= link_to("登入", new_user_session_path) %></li>
          <% else %>
          <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
              <% if current_user.has_role? :awardadmin %>
                <li><%= link_to '用户管理', users_path %></li>
                <li><%= link_to "公告系统", announcements_path %></li>
              <% end %>
              <% if current_user.has_role? :attendance_admin %>
                <li><%= link_to '校准本月考勤' , attendance_count_compute_attendances_path(:year => Time.now.year, :month => Time.now.month),method: :post,data: {confirm: "校准过程大概需要十分钟，确定校准吗？"} %></li>
                <li><%= link_to "校准上月考勤", attendance_count_compute_attendances_path(:year => render_year_month_of_lastmonth[:year], :month => render_year_month_of_lastmonth[:month]), method: :post, data: {confirm: "校准过程大概需要十分钟，确定校准吗？"} %></li>
              <% end %>
              <li><%= link_to "模板下载",download_table_template_announcements_path%></li>
              <li><%= link_to "修改密码", edit_user_registration_path %></li>
              <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> 帮助 </a></li>
              <li><%= link_to "退出", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
          <% end %>
        </li>
      </ul>
    </div><!-- header-right -->
  </div><!-- headerbar -->
