
            <div class="leftpanel" >
                <div class="logopanel">
                  <h5>北京供电段人力资源管理系统</h5>
                </div>

              <div class="leftpanelinner">
                <ul class="nav nav-pills nav-stacked nav-bracket">

                  <% if (current_user.has_role? :empadmin) || (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin) || (current_user.has_role? :depudy_leaderadmin) %>
                    <li class="nav-parent"><a href="/"><i class="fa fa-home"></i> <span>现员管理 <span class="glyphicon glyphicon-chevron-down" style="float:right;"></span></span></a>
                      <% if url_for.split("/").second == "employees" %>
                        <ul class="children" style="display:block;">
                      <% else %>
                        <ul class="children">
                      <% end %>
                         <% if url_for == "/employees" %>
                          <li style="background-color:white;">
                         <% else %>
                          <li>
                         <% end %>
                           <a  href="/employees">
                             员工信息
                           </a>
                         </li>
                         <% if url_for == "/employees/organization_structure" %>
                          <li style="background-color:white;">
                         <% else %>
                          <li>
                         <% end %>
                           <a href="/employees/organization_structure">
                             组织架构
                           </a>
                         </li>
                         <li class="nav-parent">
                           <a class="dropdown-toggle" data-toggle="dropdown">
                             统计分析
                             <b class="caret"></b>
                           </a>

                           <% if ["age_statistical_analysis","working_years_statistical_analysis","rali_years_statistical_analysis","education_statistical_analysis","worktype_statistical_analysis","compsite_statistical_analysis"].include?(url_for.split("/").last) %>
                             <ul class="children" style="display:block;">
                           <% else %>
                             <ul class="children">
                           <% end %>
                             <% if url_for == "/employees/age_statistical_analysis" %>
                              <li style="background-color:white;">
                             <% else %>
                              <li>
                             <% end %>
                             <%= link_to "年龄分析", age_statistical_analysis_employees_path(data_source: "全员") %></li>
                             <% if url_for == "/employees/working_years_statistical_analysis" %>
                              <li style="background-color:white;">
                             <% else %>
                              <li>
                             <% end %>
                             <%= link_to "工龄分析", working_years_statistical_analysis_employees_path(data_source: "全员") %></li>
                             <% if url_for == "/employees/rali_years_statistical_analysis" %>
                              <li style="background-color:white;">
                             <% else %>
                              <li>
                             <% end %>
                             <%= link_to"路龄分析", rali_years_statistical_analysis_employees_path(data_source: "全员") %></li>
                             <% if url_for == "/employees/education_statistical_analysis" %>
                              <li style="background-color:white;">
                             <% else %>
                              <li>
                             <% end %>
                             <%= link_to"学历分析", education_statistical_analysis_employees_path(data_source: "全员") %></li>
                             <% if url_for == "/employees/worktype_statistical_analysis" %>
                              <li style="background-color:white;">
                             <% else %>
                              <li>
                             <% end %>
                             <%= link_to"工种分析", worktype_statistical_analysis_employees_path(data_source: "全员") %></li>
                             <% if url_for == "/employees/compsite_statistical_analysis" %>
                              <li style="background-color:white;">
                             <% else %>
                              <li>
                             <% end %>
                             <%= link_to "综合分析", compsite_statistical_analysis_employees_path(data_source: "全员") %></li>

                           </ul>
                         </li>
                       </ul>
                     </li>
                  <% else %>
                    <% if url_for.split("/").second == "employees" %>
                      <li style="background-color:white;"><a href="/employees"><i class="fa fa-home"></i><span>现员管理</span></a></li>
                    <% else %>
                      <li><a href="/employees"><i class="fa fa-home"></i><span>现员管理</span></a></li>
                    <% end %>
                  <% end %>







                    <li onclick="openModule(event, 'Attendance')">
                      <!--班组管理员、科室管理员、班组重名管理员-->
                      <% if current_user.has_role? :organsadmin %>
                          <li class="nav-parent"><a href=""><i class="fa fa-envelope-o"></i> <span>考勤管理 <span class="glyphicon glyphicon-chevron-down" style="float:right;"></span></span></a>
                            <% if (url_for.split("/").second == "attendances") || (url_for == "/annual_holidays/workshop_holiday_plan") %>
                              <ul class="children" style="display:block;">
                            <% else %>
                              <ul class="children">
                            <% end %>
                              <% if url_for.split("?").first == "/attendances/group" %>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <a href="/attendances/group">
                                  考勤管理
                                </a>
                              </li>
                              <% if url_for == "/annual_holidays/workshop_holiday_plan" %>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <a href="/annual_holidays/workshop_holiday_plan">
                                  年休假计划填写
                                </a>
                              </li>
                            </ul>
                          </li>
                        <!--车间管理员-->
                      <% elsif current_user.has_role? :workshopadmin%>
                        <% groups = Group.current.where(:workshop_id => current_user.workshop_id)%>

                          <li class="nav-parent"><a href=""><i class="fa fa-envelope-o"></i> <span>考勤管理 <span class="glyphicon glyphicon-chevron-down" style="float:right;"></span></span></a>
                            <% if (url_for.split("/").second == "attendances") || (url_for.split("/").second == "annual_holidays") %>
                              <ul class="children" style="display:block;">
                            <% else %>
                              <ul class="children">
                            <% end %>
                              <% if url_for.split("?").first == "/attendances/group_current_time_info" %>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <%= link_to "考勤填写情况", group_current_time_info_attendances_path%>
                              </li>
                              <% if url_for.split("?").first == "/attendances/workshop_verify_index" %>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <%= link_to "考勤审核", workshop_verify_index_attendances_path%>
                              </li>
                              <% if url_for.split("?").first == "/attendances/workshop"  ||  url_for.split("?").first == "/attendances/filter" %>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <%= link_to "考勤统计", workshop_attendances_path%>
                              </li>
                              <% if url_for.split("?").first == "/annual_holidays/workshop_holiday_plan" %>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <a href="/annual_holidays/workshop_holiday_plan">
                                  年休假计划填写
                                </a>
                              </li>
                            </ul>
                          </li>


                      <% elsif (current_user.has_role? :attendance_admin) || (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin) || (current_user.has_role? :depudy_leaderadmin) %>



                          <li class="nav-parent"><a href=""><i class="fa fa-envelope-o"></i> <span>考勤管理 <span class="glyphicon glyphicon-chevron-down" style="float:right;"></span></span></a>
                            <% if ["attendances","annual_holidays"].include?(url_for.split("/").second) %>
                              <ul class="children" style="display:block;">
                            <% else %>
                              <ul class="children">
                            <% end %>
                              <% if url_for.split("?").first == "/attendances/group_current_time_info" %>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <a href="/attendances/group_current_time_info?group=593">考勤填写情况</a>
                              </li>

                              <% if url_for.split("?").first == "/attendances/duan_verify_index" %>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <a href="/attendances/duan_verify_index">考勤审核</a>
                              </li>

                              <% if url_for == "/attendances/duan"%>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <a href="/attendances/duan">
                                  段考勤统计
                                </a>
                              </li>

                              <% if url_for == "/attendances/annual_statistic"%>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <a href="/attendances/annual_statistic">
                                  年考勤统计
                                </a>
                              </li>

                              <% if url_for == "/attendances/caiwu"%>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <a href="/attendances/caiwu">
                                  给财务的表-1
                                </a>
                              </li>

                              <% if url_for == "/attendances/caiwu2"%>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <a href="/attendances/caiwu2">
                                  给财务的表-2
                                </a>
                              </li>

                              <% if url_for == "/attendances/setting"%>
                               <li style="background-color:white;">
                              <% else %>
                                <li>
                              <% end %>
                                <a href="/attendances/setting">
                                  考勤设置
                                </a>
                              </li>


                              <li class="nav-parent"><a href=""><i class="fa fa-envelope-o"></i> <span>年休假管理 <span class="glyphicon glyphicon-chevron-down" style="float:right;"></span></span></a>
                              <% if ["holiday_fulfill_detail","holiday_fulfillment_rate","duan_holiday_plan","holiday_fulfill"].include?(url_for.split("/").last) %>
                                <ul class="children" style="display:block;">
                              <% else %>
                                <ul class="children">
                              <% end %>
                                <% if url_for == "/annual_holidays/holiday_fulfill_detail"%>
                                 <li style="background-color:white;">
                                <% else %>
                                  <li>
                                <% end %>
                                  <a href="/annual_holidays/holiday_fulfill_detail">
                                    年休假管理
                                  </a>
                                </li>

                                <% if url_for == "/annual_holidays/holiday_fulfillment_rate"%>
                                 <li style="background-color:white;">
                                <% else %>
                                  <li>
                                <% end %>
                                  <a href="/annual_holidays/holiday_fulfillment_rate">
                                    年休假完成率页
                                  </a>
                                </li>

                                <% if url_for == "/annual_holidays/duan_holiday_plan"%>
                                 <li style="background-color:white;">
                                <% else %>
                                  <li>
                                <% end %>
                                  <a href="/annual_holidays/duan_holiday_plan">
                                    年休假计划页
                                  </a>
                                </li>


                                <% if url_for == "/annual_holidays/holiday_fulfill"%>
                                 <li style="background-color:white;">
                                <% else %>
                                  <li>
                                <% end %>
                                  <a href="/annual_holidays/holiday_fulfill">
                                    年休假落实页
                                  </a>
                                </li>
                                </ul>
                              </li>
                            </ul>
                          </li>

                      <% elsif (current_user.has_role? :groupadmin) or (current_user.has_role? :organsadmin) or (current_user.has_role? :wgadmin) %>

                            <li class="nav-parent"><a href=""><i class="fa fa-envelope-o"></i> <span>考勤管理 <span class="glyphicon glyphicon-chevron-down" style="float:right;"></span></span></a>
                              <% if url_for.split("/").second == "attendances" %>
                                <ul class="children" style="display:block;">
                              <% else %>
                                <ul class="children">
                              <% end %>
                                <% if url_for.split("?").first == "/attendances/group" %>
                                 <li style="background-color:white;">
                                <% else %>
                                  <li>
                                <% end %>
                                  <a href="/attendances/group">
                                    填写考勤
                                  </a>
                                </li>
                                <% if url_for.split("?").first == "/attendances/group_statistics" %>
                                 <li style="background-color:white;">
                                <% else %>
                                  <li>
                                <% end %>
                                  <a href="/attendances/group_statistics?year=<%=Time.now.year%>&month=<%=Time.now.month%>">
                                    考勤统计
                                  </a>
                                </li>
                              </ul>
                            </li>
                      <% end %>
                    </li>






                   <% if (current_user.has_role? :saleradmin)  || (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin)%>
                     <li class="nav-parent"><a href=""><i class="fa fa-suitcase"></i> <span>工资管理 <span class="glyphicon glyphicon-chevron-down" style="float:right;"></span></span></a>
                        <% if ["wages","bonus","high_speed_rail_stuffs","main_driving_stuffs","production_stuff_wages","divide_level_wages"].include?(url_for.split("/").second) %>
                          <ul class="children" style="display:block;">
                        <% else %>
                          <ul class="children">
                        <% end %>
                        <% if ["wages"].include?(url_for.split("/").second) %>
                          <li style="background-color:white;"><a href="/wages/import_wage"> 工资表</a></li>
                        <% else %>
                          <li><a href="/wages/import_wage"> 工资表</a></li>
                        <% end %>
                        <% if ["bonus"].include?(url_for.split("/").second) %>
                          <li  style="background-color:white;"><a href="/bonus/import_bonus"> 奖金表</a></li>
                        <% else %>
                          <li><a href="/bonus/import_bonus"> 奖金表</a></li>
                        <% end %>
                        <% if ["high_speed_rail_stuffs"].include?(url_for.split("/").second) %>
                          <li style="background-color:white;"><a href="/high_speed_rail_stuffs"> 高铁岗位人员情况统计 </a></li>
                        <% else %>
                          <li><a href="/high_speed_rail_stuffs"> 高铁岗位人员情况统计 </a></li>
                        <% end %>
                        <% if ["main_driving_stuffs"].include?(url_for.split("/").second) %>
                          <li style="background-color:white;"><a href="/main_driving_stuffs"> 主要行车工种情况统计 </a></li>
                        <% else %>
                          <li><a href="/main_driving_stuffs"> 主要行车工种情况统计 </a></li>
                        <% end %>
                        <% if ["production_stuff_wages"].include?(url_for.split("/").second) %>
                          <li style="background-color:white;"><a href="/production_stuff_wages"> 运输站段生产人员人数和报酬 </a></li>
                        <% else %>
                          <li><a href="/production_stuff_wages"> 运输站段生产人员人数和报酬 </a></li>
                        <% end %>
                        <% if ["divide_level_wages"].include?(url_for.split("/").second) %>
                          <li style="background-color:white;"><a href="/divide_level_wages"> 铁路企业分层次人员工资情况 </a></li>
                        <% else %>
                          <li><a href="/divide_level_wages"> 铁路企业分层次人员工资情况 </a></li>
                        <% end %>
                        <li><a href="/home/notfound"> 工资图表分析</a></li>
                      </ul>
                     </li>
                   <% end %>

                   <% if (current_user.has_role? :awardadmin)  || (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin) || (current_user.has_role? :depudy_leaderadmin)%>
                     <% if ["divide_level_wages"].include?(url_for.split("/").second) %>
                      <li style="background-color:white;">
                     <% else %>
                      <li>
                     <% end %>
                       <a  href="/relative_salers">
                         <i class="fa fa-th-list"></i> <span>奖惩管理</span>
                       </a>
                     </li>
                   <% end %>


                 <% if (current_user.has_role? :incomeadmin )  || (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin)%>
                   <li class="nav-parent"><a href=""><i class="fa fa-suitcase"></i> <span>收入管理 <span class="glyphicon glyphicon-chevron-down" style="float:right;"></span></span></a>
                      <% if ["wages","bonus"].include?(url_for.split("/").second) %>
                        <ul class="children" style="display:block;">
                      <% else %>
                        <ul class="children">
                      <% end %>
                      <% if ["wages"].include?(url_for.split("/").second) %>
                        <li style="background-color:white;"><a href="/wages/import_wage"> 主业工资 </a></li>
                      <% else %>
                        <li><a href="/wages/import_wage"> 主业工资</a></li>
                      <% end %>
                      <% if ["bonus"].include?(url_for.split("/").second) %>
                        <li  style="background-color:white;"><a href="/bonus/import_bonus"> 主业奖金</a></li>
                      <% else %>
                        <li><a href="/bonus/import_bonus"> 主业奖金</a></li>
                      <% end %>
                      <% if ["high_speed_rail_stuffs"].include?(url_for.split("/").second) %>
                        <li style="background-color:white;"><a href="/high_speed_rail_stuffs"> 多经工资 </a></li>
                      <% else %>
                        <li><a href="/high_speed_rail_stuffs"> 多经工资 </a></li>
                      <% end %>
                      <% if ["main_driving_stuffs"].include?(url_for.split("/").second) %>
                        <li style="background-color:white;"><a href="/main_driving_stuffs"> 多经奖金 </a></li>
                      <% else %>
                        <li><a href="/main_driving_stuffs"> 多经奖金 </a></li>
                      <% end %>
                      <% if ["production_stuff_wages"].include?(url_for.split("/").second) %>
                        <li style="background-color:white;"><a href="/production_stuff_wages"> 图表展示 </a></li>
                      <% else %>
                        <li><a href="/production_stuff_wages"> 图表展示 </a></li>
                      <% end %>
                    </ul>
                   </li>
                 <% end %>

                 <% if (current_user.has_role? :limitadmin) || (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin) || (current_user.has_role? :depudy_leaderadmin)%>
                    <li>
                     <a href="/home/notfound">
                       <i class="fa fa-edit"></i> <span>定额管理</span>
                     </a>
                   </li>
                 <% end %>


                </ul>
              </div>
          </div>
