<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="col-md-12" style="margin-right: 5px;">
      <div class="col-md-6 col-md-offset-2" style="padding-top: 20px" >
        <% if Announcement.last.present? %>
          <marquee loop="2" onMouseOut="this.start()"onMouseOver="this.stop()" style="font-size: 12pt; height: 30px">【最新通知】<%= link_to "#{Announcement.last.title}", announcement_path(Announcement.last) %></marquee>
        <% end %>
      </div>

        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if (current_user.has_role? :empadmin) || (current_user.has_role? :superadmin) || (current_user.has_role? :attendance_admin) %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-no-turbolink="true">
                   <i class="fa fa-bell-o fa-lg"></i>

                   <ul class="dropdown-menu" style="overflow: auto; font-size: 4px;">
                    <% if (current_user.has_role? :empadmin) || (current_user.has_role? :attendance_admin) %>
                      <% Message.where(user_id: current_user.id, have_read: false).each do |m| %>
                        <li><%= link_to m.message, "#"%></li>
                      <% end %>
                    <% elsif current_user.has_role? :superadmin %>
                      <% Message.where(have_read: false).each do |m| %>
                        <li><%= link_to m.message, "#"%></li>
                      <% end %>
                      <li><%= link_to "查看全部", messages_path %></li>
                    <% end %>
                   </ul>
                  </a>
                </li>
              <% elsif (current_user.has_role? :organsadmin) || (current_user.has_role? :workshopadmin) %>
                <li>
                  <!-- <%= link_to "近期公告", announcements_path %> -->
                </li>
              <% elsif (current_user.has_role? :organsadmin) || (current_user.has_role? :workshopadmin) || (current_user.has_role? :awardadmin) %>
                  <!-- <%= link_to "表模板下载入口", download_table_template_announcements_path %> -->
              <% end %>
                <li>
                <% if !current_user %>
                  <li><%= link_to("注册", new_user_registration_path) %> </li>
                  <li><%= link_to("登入", new_user_session_path) %></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-no-turbolink="true">
                        用户: <%= current_user.name %>
                        <b class="caret"></b>
                        <ul class="dropdown-menu">
                          <% if current_user.has_role? :awardadmin %>
                            <!-- <li><%= link_to '用户管理', users_path %></li> -->
                            <li><%= link_to "公告系统", announcements_path %></li>
                          <% end %>
                          <li><%= link_to "修改密码", edit_user_registration_path %></li>
                          <li><%= link_to "退出", destroy_user_session_path, method: :delete %></li>
                        </ul>
                    </a>
                  </li>
                <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>
