<% if @employee_group.present? && (@employee_group.group != employee.group) %>
  <% if (params_year.to_i == shenhe_year) && (params_month.to_i == shenhe_month) && (shenhe_day === Time.now.day) %>
    <tr>
      <td colspan=36>
        <span class="pull-left" style="margin-left:20%;" id = "shenhe-<%= @employee_group.group %>">
          <%= render :partial => "shenhe_button", :locals => { :params_year => params_year,:params_month => params_month,:employee => @employee_group, :shenhe_year => shenhe_year,:shenhe_month => shenhe_month } %>
        </span>
      </td>
    </tr>
  <% end %>
<% end %>
<tr>
  <th><%= employee.sal_number %></th>
  <th>
    <%= employee.name %>
  </th>
  <td><%= employee.duty %></td>
  <td><%= Workshop.current.find(employee.workshop).name %></td>
  <td><%= Group.current.find(employee.group).name %></td>
  <!-- 捞出当前员工的考勤数据，数据可以为多个，可以为空 -->
  <% attendance = Attendance.find_by(employee_id: employee.id, year: params_year, month: params_month) %>
  <% attendance_status = AttendanceStatus.find_by(:year => params_year , :month => params_month,:group_id => employee.group,:status => ["班组已上报","班组/科室填写中"])%>
  <!-- 将现员的考勤数据（字符串格式）拆分成数组，赋值给attendance_ary -->

  <% if attendance.present? %>
    <% attendance_ary = attendance.month_attendances.split('') %>
    <!-- 将attendance_ary进行迭代，每一个就是一个员工每天的考勤数据 -->
    <% day_number = 1%>
    <% attendance_ary.each do |day_attendance| %>
      <!-- 在维表VacationCategory中通过vacation_code找到对应的考勤简写名称，放入表格 -->
      <td>
        <% if current_user.has_role? :attendance_admin %>
            <% if day_attendance == "x" %>
              <%= link_to "-", show_modal_attendances_path(employee_id: employee.id, month: params_month, year: params_year, day_number: day_number, type: "duan"), remote: true, class: "btn btn-text-green", "data-toggle" => "modal", "data-target" => "#myModal" %>
            <% else %>
              <%= link_to VacationCategory.find_by(:vacation_code => day_attendance).vacation_shortening, show_modal_attendances_path(employee_id: employee.id, month: params_month, year: params_year, day_number: day_number, type: "duan"), remote: true, class: "btn btn-text-green", "data-toggle" => "modal", "data-target" => "#myModal" %>
            <% end %>

        <% elsif (current_user.has_role? :workshopadmin) && attendance_status.present? %>
          <% if day_attendance == "x" %>
            <%= link_to "-", show_modal_attendances_path(employee_id: employee.id, month: params_month, year: params_year, day_number: day_number, type: "workshop"), remote: true, class: "btn btn-text-green", "data-toggle" => "modal", "data-target" => "#myModal" %>
          <% else %>
            <%= link_to VacationCategory.find_by(:vacation_code => day_attendance).vacation_shortening, show_modal_attendances_path(employee_id: employee.id, month: params_month, year: params_year, day_number: day_number, type: "workshop"), remote: true, class: "btn btn-text-green", "data-toggle" => "modal", "data-target" => "#myModal" %>
          <% end %>
        <% else %>
          <% if day_attendance == "x" %>
            -
          <% else %>
            <%= VacationCategory.find_by(:vacation_code => day_attendance).vacation_shortening %>
          <% end %>
        <% end %>
      </td>
      <% day_number += 1%>
    <% end %>
  <% end %>
</tr>
<% @employee_group = employee %>
