<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top:100px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">选择考勤</h4>
      </div>
      <div class="modal-body">
        <%= form_tag create_attendance_attendances_path, method: 'post' do %>
          <% if @type == "duan" %>
            <% @vacation.each do |vacation| %>
              <span class="" style= "display:inline-block;width:90px;height: 30px;">
                <% group = Employee.current.find_by(id: @employee_id).group %>
                <%= radio_button_tag(:code, vacation[1]) %>
                <%= hidden_field_tag :employee_id , @employee_id %>
                <%= hidden_field_tag :month , @month %>
                <%= hidden_field_tag :year , @year %>
                <%= hidden_field_tag :day , @day_number.to_i - 1 %>
                <%= label_tag :"#{vacation[0]}" %>
              </span>


            <% end %>
            <br><br>
          <% else %>
            <% @vacation.each do |vacation| %>
              <span class="" style= "display:inline-block;width:80px;height: 30px;">
                <% group = Employee.current.find_by(id: @employee_id).group %>
                  <%= radio_button_tag(:code, vacation[1]) %>
                  <%= hidden_field_tag :employee_id , @employee_id %>
                  <%= hidden_field_tag :employee , @employee %>
                  <%= hidden_field_tag :month , @month %>
                  <%= hidden_field_tag :year , @year %>
                  <%= hidden_field_tag :day , @day_number.to_i - 1 %>
                  <%= label_tag :"#{vacation[0]}" %>
              </span>

            <% end %>
            <br>
            <br>
          <% end %>
          <div class="" style="text-align:right;">

             <%= submit_tag :点击确定 %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
