<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">选择考勤</h4>
      </div>
      <div class="modal-body">
        <%= form_tag create_attendance_attendances_path, method: 'post' do %>
            <% @vacation.each do |vacation| %>
              <% group = Employee.find_by(id: @employee_id).group %>
              <% if AttendanceSetting.find_by(:vacation => "加班").present? %>
                <% if vacation[0] == "加班" && AttendanceCount.where(:group_id => group, :vacation_code => vacation[1]).sum(:count) >= AttendanceSetting.find_by(:vacation => "加班").count %>
                  <%= label_tag :"#{vacation[0]}" %><br><br>
                  <% else %>
                    <%= radio_button_tag(:code, vacation[1]) %>
                    <%= hidden_field_tag :employee_id , @employee_id %>
                    <%= hidden_field_tag :employee , @employee %>
                    <%= hidden_field_tag :day , @day_number.to_i - 1 %>
                    <%= label_tag :"#{vacation[0]}" %><br><br>
                <% end %>
              <% elsif AttendanceSetting.find_by(:vacation => "轮夜").present? %>
                <% if vacation[0] == "轮夜" && AttendanceCount.where(:group_id => group, :vacation_code => vacation[1]).sum(:count) >= attendance_setting.count %>
                  <%= label_tag :"#{vacation[0]}" %><br><br>
                <% else %>
                  <%= radio_button_tag(:code, vacation[1]) %>
                  <%= hidden_field_tag :employee_id , @employee_id %>
                  <%= hidden_field_tag :employee , @employee %>
                  <%= hidden_field_tag :day , @day_number.to_i - 1 %>
                  <%= label_tag :"#{vacation[0]}" %><br><br>
                <% end %>      
              <% end %>








              

            <% end %>
          <%= submit_tag :点击确定 %>
        <% end %>
      </div>
    </div> 
  </div>
</div>