<%= render "attendance_sidebar"%>
<div class="col-md-12">
  <div class="card">
    <div style="overflow: auto;" class="col-md-12">
      <table id="example" class="table table-bordered">
        <thead>
          <tr>
            <th>顺号</th>
            <th>车间</th>
            <% @vacation_codes.each do |code| %>
              <th><%= VacationCategory.find_by(:vacation_code => code).vacation_name %></th>
            <% end %>
          </tr>
        </thead>
          <tbody data-behavior='sortable'>
  	      <% @workshops.each do |workshop| %>
          <tr>
            <td><%= workshop.id %></td>
  	        <td><%= workshop.name %></td>
            <% @vacation_codes.each do |code| %>
              <td><%= AttendanceCount.where(:vacation_code => code, :workshop_id => workshop.id).sum(:count) %></td>
            <% end %>
  	      </tr>
          <% end %>
         </tbody>
      </table>
    </div>
  </div>
</div>
