<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">车间</Data></Cell>
        <Cell><Data ss:Type="String">班组</Data></Cell>
        <Cell><Data ss:Type="String">姓名</Data></Cell>
        <Cell><Data ss:Type="String">工资号</Data></Cell>
        <Cell><Data ss:Type="String">职务</Data></Cell>
        <Cell><Data ss:Type="String">病假</Data></Cell>
        <Cell><Data ss:Type="String">事假</Data></Cell>
        <Cell><Data ss:Type="String">婚假</Data></Cell>
        <Cell><Data ss:Type="String">产假</Data></Cell>
        <Cell><Data ss:Type="String">探亲假</Data></Cell>
        <Cell><Data ss:Type="String">丧假</Data></Cell>
        <Cell><Data ss:Type="String">育儿假</Data></Cell>
        <Cell><Data ss:Type="String">陪产假</Data></Cell>
        <Cell><Data ss:Type="String">工伤假</Data></Cell>
        <Cell><Data ss:Type="String">旷工</Data></Cell>
      </Row>
    <% @export_employees.each do |employee| %>
      <Row>
        <Cell><Data ss:Type="String"><%= Workshop.current.find(employee.workshop).name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Group.find(employee.group).name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= employee.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= employee.sal_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= employee.duty %></Data></Cell>
        <% @vacation_codes.each do |code| %>
            <Cell><Data ss:Type="String"><%= AttendanceCount.where(:employee_id => employee.id, :vacation_code => code, :month => Time.now.month, :year => Time.now.year).count %></Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
