<div class="contentpanel">
<div class="col-md-12">
  <div class="pulll-left" style="display:inline-block;">
    <%= form_tag caiwu2_attendances_path,method: :get do %>
      <%= label_tag "时间搜索"%>
      <select class="" name="year">
        <% @years.each do |year| %>
          <% if @year == year %>
            <option value="<%= year%>" selected><%=year%></option>
          <% else %>
            <option value="<%= year%>"><%=year%></option>
          <% end %>
        <% end %>
      </select>年 ～
      <select class="" name="month">
        <% @months.each do |month| %>
          <% if @month == month %>
            <option value="<%= month%>" selected><%=month%></option>
          <% else %>
            <option value="<%= month%>"><%=month%></option>
          <% end %>
        <% end %>
      </select>月
      <%= submit_tag "搜索",:data => {:disable_with => "搜索中 ..."}%>
    <% end %>
  </div>
  <div class="ivu-tooltip-rel pull-right" style="margin-left: 15px; margin-bottom: 10px">
    <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
      <%= link_to caiwu2_attendances_path(:year => params[:year],:month => params[:month],format: "xls") do  %>
         <span style="color: #269Eff;">导出记录</span>
      <% end %>
    </button>
  </div>

  <div class="card">
    <div style="overflow: auto;" class="col-md-12">
      <h4 style = "text-align:center"><%= @year%>年<%= @month%>月财务表-2</h4>
      <table id="example" class="table table-bordered">
        <thead>
        	<tr>
            <th>序号</th>
        		<th>车间</th>
            <th>班组</th>
            <th>姓名</th>
            <th>工资号</th>
            <th>职务</th>
        		<th>日勤夜班数</th>
        		<th>节日加班</th>
        		<th>轮流夜班天数</th>
        	</tr>
        </thead>
        <tbody>
          <% n = 0 %>
        	<% @employees.each do |employee| %>
            <% n += 1 %>
        		<tr>
              <td><%= n %></td>
              <td><%= Workshop.current.find(employee.workshop).name %></td>
              <td><%= Group.current.find(employee.group).name %></td>
              <td><%= employee.name %></td>
	        		<td><%= employee.sal_number %></td>
              <td><%= employee.duty %></td>
	        		<% attendance_count = AttendanceCount.find_by(employee_id: employee.id, month: @month, year: @year) %>
              <% attendance = Attendance.find_by(:employee_id => employee.id, :month => @month, :year => @year)%>
              <% if attendance_count.present? %>
                <td><%= attendance_count.attributes["b"]%></td>
                <td>
                  <% if attendance_count.attributes["d"].to_i == 0%>
                    <% if  (attendance.add_overtime.to_i > 0) %>
                      <%= attendance.add_overtime.to_i %>
                    <% else %>

                    <% end %>
                  <% else %>
                    <% if  (attendance.add_overtime.to_i > 0) %>
                      <%= attendance.add_overtime.to_i + attendance_count.attributes["d"].to_i %>
                    <% else %>
                      <%= attendance_count.attributes["d"].to_i %>
                    <% end %>
                  <% end %>
                </td>
                <td><%= attendance_count.attributes["c"]%></td>
              <% end %>
	        	</tr>
        	<% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="text-center">
    <%= paginate @employees %>
  </div>
</div>
</div>
