<?xml version="1.0" encoding='UTF-8'?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Title">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Font ss:Bold="1" ss:FontName="sans-serif" ss:Size="36"/>
      <Borders>
      <Border ss:Position="Bottom"/>
      <Border ss:Position="Top"/>
      <Border ss:Position="Left"/>
      <Border ss:Position="Right"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="End">
      <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
      <Font ss:FontName="sans-serif" ss:Size="16"/>
      <Borders>
      <Border ss:Position="Bottom"/>
      <Border ss:Position="Top"/>
      <Border ss:Position="Left"/>
      <Border ss:Position="Right"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="Titlelittle">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Font ss:FontName="SimSun" ss:Size="16"/>
      <Borders>
      <Border ss:Position="Bottom" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="Titleright">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Borders>
      <Border ss:Position="Left" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Right" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
      <Font ss:FontName="SimSun" ss:Size="16"/>
    </Style>
    <Style ss:ID="Description">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1" ss:ShrinkToFit="1"/>
      <Borders>
      <Border ss:Position="Top" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Bottom" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Left" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Right" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="Description"><Data ss:Type="String">序号</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">车间</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">班组</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">姓名</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">工资号</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">职务</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">日勤夜班数</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">节日加班</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">轮流夜班天数</Data></Cell>
      </Row>
      <% n = 0 %>
      <% sum_hash = Hash.new %>
    <% @export_employees.each do |employee| %>
      <% if sum_hash["b"].blank? %>
        <% sum_hash["b"] = Array.new %>
      <% end %>
      <% if sum_hash["d"].blank? %>
        <% sum_hash["d"] = Array.new %>
      <% end %>
      <% if sum_hash["c"].blank? %>
        <% sum_hash["c"] = Array.new %>
      <% end %>
      <% n += 1 %>
      <Row>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= n %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= Workshop.current.find(employee.workshop).name %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= Group.current.find(employee.group).name %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= employee.name %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= employee.sal_number %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= employee.duty %></Data></Cell>
        <% attendance_count = AttendanceCount.find_by(:employee_id => employee.id, :month => @month, :year => @year)%>
        <% attendance = Attendance.find_by(:employee_id => employee.id, :month => @month, :year => @year)%>
        <% if attendance_count.present? %>
            <% value_b = attendance_count.attributes["b"].to_i %>
            <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= value_b %></Data></Cell>
            <% sum_hash["b"] << value_b %>
            <% if attendance_count.attributes["d"].to_i == 0%>
              <% if  (attendance.add_overtime.to_i > 0) %>
                <% value_d = attendance.add_overtime.to_i %>
                <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= value_d %></Data></Cell>
              <% else %>
                <% value_d = 0 %>
                <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= 0 %></Data></Cell>
              <% end %>
            <% else %>
              <% if  (attendance.add_overtime.to_i > 0) %>
                <% value_d = attendance.add_overtime.to_i + attendance_count.attributes["d"].to_i %>
                <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= value_d %></Data></Cell>
              <% else %>
                <% value_d = attendance_count.attributes["d"].to_i %>
                <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= value_d %></Data></Cell>
              <% end %>
            <% end %>
            <% sum_hash["d"] << value_d %>
            <% value_c = attendance_count.attributes["c"].to_i %>
            <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= value_c %></Data></Cell>
            <% sum_hash["c"] << value_c %>
        <% else %>
          <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= 0 %></Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= 0 %></Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= 0 %></Data></Cell>
        <% end %>
      </Row>
    <% end %>
    <Row>
      <Cell  ss:StyleID="Description" ss:MergeAcross="5"><Data ss:Type="String">合计</Data></Cell>
      <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= sum_hash["b"].sum %></Data></Cell>
      <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= sum_hash["d"].sum %></Data></Cell>
      <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= sum_hash["c"].sum %></Data></Cell>
    </Row>
    </Table>
  </Worksheet>
</Workbook>
