<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">车间</Data></Cell>
        <Cell><Data ss:Type="String">班组</Data></Cell>
        <Cell><Data ss:Type="String">姓名</Data></Cell>
        <Cell><Data ss:Type="String">工资号</Data></Cell>
        <Cell><Data ss:Type="String">职务</Data></Cell>
        <Cell><Data ss:Type="String">日勤夜班数</Data></Cell>
        <Cell><Data ss:Type="String">节日加班</Data></Cell>
        <Cell><Data ss:Type="String">轮流夜班天数</Data></Cell>
      </Row>
    <% @export_employees.each do |employee| %>
      <Row>
        <Cell><Data ss:Type="String"><%= Workshop.current.find(employee.workshop).name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Group.current.find(employee.group).name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= employee.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= employee.sal_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= employee.duty %></Data></Cell>
        <% attendance_count = AttendanceCount.find_by(:employee_id => employee.id, :month => @month, :year => @year)%>
        <% if attendance_count.present? %>
            <Cell><Data ss:Type="String"><%= attendance_count.attributes["b"]%></Data></Cell>
            <Cell><Data ss:Type="String"><%= attendance_count.attributes["d"]%></Data></Cell>
            <Cell><Data ss:Type="String"><%= attendance_count.attributes["c"]%></Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
