
<%= render "attendance_sidebar"%>

<div class="col-md-12">
  <div class="ivu-tooltip-rel" style="margin-left: 15px; margin-bottom: 10px">
    <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
      <%= link_to caiwu2_attendances_path(format: "xls") do  %>
         <span style="color: #269Eff;">导出记录</span>
      <% end %>
    </button>
  </div>

  <div class="card">
    <div style="overflow: auto;" class="col-md-12">
      <table id="example" class="table table-bordered">
        <thead>
        	<tr>
        		<th>工资号</th>
        		<th>部门名称</th>
        		<th>姓名</th>
        		<th>日勤夜班数</th>
        		<th>节日加班</th>
        		<th>轮流夜班天数</th>
        	</tr>
        </thead>
        <tbody>
        	<% @employees.each do |employee| %>
        		<tr>
	        		<td><%= employee.sal_number %></td>
	        		<td><%= Group.find_by(:id => employee.group).name %></td>
	        		<td><%= employee.name %></td>
	        		<% attendance_counts = AttendanceCount.where(employee_id: employee.id, month: Time.now.month, year: Time.now.year) %>
              <% if attendance_counts.find_by(vacation_code: "a").present? %>
  	        		<td><%= attendance_counts.find_by(vacation_code: "a").count %></td>
              <% else %>
                <td></td>
              <% end %>
              <% if attendance_counts.find_by(vacation_code: "c").present? %>
  	        		<td><%= attendance_counts.find_by(vacation_code: "c").count %></td>
              <% else %>
                <td></td>
              <% end %>
              <% if attendance_counts.find_by(vacation_code: "b").present? %>
  	        		<td><%= attendance_counts.find_by(vacation_code: "b").count %></td>
              <% else %>
                <td></td>
              <% end %>
	        	</tr>
        	<% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="text-center">
    <%= paginate @employees %>
  </div>
</div>
