<?xml version="1.0" encoding='UTF-8'?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Title">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Font ss:Bold="1" ss:FontName="sans-serif" ss:Size="36"/>
      <Borders>
      <Border ss:Position="Bottom"/>
      <Border ss:Position="Top"/>
      <Border ss:Position="Left"/>
      <Border ss:Position="Right"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="End">
      <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
      <Font ss:FontName="sans-serif" ss:Size="16"/>
      <Borders>
      <Border ss:Position="Bottom"/>
      <Border ss:Position="Top"/>
      <Border ss:Position="Left"/>
      <Border ss:Position="Right"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="Titlelittle">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Font ss:FontName="SimSun" ss:Size="16"/>
      <Borders>
      <Border ss:Position="Bottom" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="Titleright">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Borders>
      <Border ss:Position="Left" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Right" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
      <Font ss:FontName="SimSun" ss:Size="16"/>
    </Style>
    <Style ss:ID="Description">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1" ss:ShrinkToFit="1"/>
      <Borders>
      <Border ss:Position="Top" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Bottom" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Left" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Right" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="Description"><Data ss:Type="String">序号</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">车间</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">班组</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">姓名</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">工资号</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">职务</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">病假</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">事假</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">婚假</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">产假</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">探亲假</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">丧假</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">育儿假</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">陪产假</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">工伤假</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">旷工</Data></Cell>
      </Row>
     
      <% employee_ids = []%>
      <% @export_employees.each do |employee|%>
        <%attendance_count = AttendanceCount.find_by(:employee_id => employee.id, :month => @month, :year => @year)%>
        <%  have_count = 0%>
        <%if attendance_count.present?%>
          <%  @vacation_codes.each do |code|%>
            <%    have_count += attendance_count.attributes[code].to_i%>
          <%  end%>
          <%  if have_count > 0%>
          <%    employee_ids << employee.id%>
          <%  end%>
        <%  end%>
      <%  end%>
      <% n = 0%>
      <% sum_hash = Hash.new %>
      <% @export_employees.where(:id => employee_ids).each do |employee| %>
        <% n += 1%>
        <Row>
          <Cell ss:StyleID="Description"><Data ss:Type="String"><%= n %></Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String"><%= Workshop.current.find(employee.workshop).name %></Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String"><%= Group.current.find(employee.group).name %></Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String"><%= employee.name %></Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String"><%= (employee.sal_number).to_i %></Data></Cell>
          <Cell ss:StyleID="Description"><Data ss:Type="String"><%= employee.duty %></Data></Cell>
          <% attendance_count = AttendanceCount.find_by(:employee_id => employee.id, :month => @month, :year => @year)%>
          <% if attendance_count.present? %>
            <% @vacation_codes.each do |code| %>
                <% if sum_hash[code].blank? %>
                  <% sum_hash[code] = Array.new %>
                <% end %>
                <% value = attendance_count.attributes[code].to_i %>
                <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= value %></Data></Cell>
                <%  sum_hash[code] << value %>
            <% end %>
          <% else %>
            <% @vacation_codes.each do |code| %>
              <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= 0 %></Data></Cell>
            <% end %>
          <% end %>
        </Row>
      <% end %>
      <Row>
        <Cell  ss:StyleID="Description" ss:MergeAcross="5"><Data ss:Type="String">合计</Data></Cell>
        <% @vacation_codes.each do |code| %>
          <Cell ss:StyleID="Description"><Data ss:Type="Number"><%= sum_hash[code].sum %></Data></Cell>
        <% end %>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
