<%= render "attendance_sidebar"%>
<% application_id = [] %>
<% applications = Application.where(:status => "车间通过申请" ) %>
<% applications.each do |application| %>
  <% application_id << application.id %>
<% end %>
<div class="col-md-12">
  <h5>您有<%= link_to applications.count, show_application_attendances_path(applications: application_id, type: "duan") %>条修改申请需要处理</h5>
</div>

<div class="col-md-12">
  <%= form_tag filter_attendances_path, method: 'get' do %>
    <%= label_tag :请输入时间段搜索 %>
    <%= select_tag(:year, options_for_select(@years.collect{ |u| u }), {:required => "true"}) %> ~
    <%= select_tag(:month, options_for_select(@months.collect{ |u| u }), {:required => "true"}) %>
    <%= hidden_field_tag :type, "duan" %>
    <%= submit_tag :筛选 %>
  <% end %>
</div>
<!-- 主体部分-开始 -->
<div class="col-md-12" style="height: 100%">
  <!-- 组织结构树状图-开始 -->
  <% if @year.present? && @month.present? %>
    <h4><%= @year %>年<%= @month %>月考勤表</h4>
    <div class="col-md-2" id="menu" style="background-color: white;overflow: auto;height: 100%;">
      <h5><%= link_to "北京供电段", duan_attendances_path(duan: "北京供电段", month: @month, year: @year) %></h5>
      <ul>
        <% @workshops.each do |workshop| %>
        <li>
          <em></em><a href='/attendances/duan?workshop=<%= workshop.id %>&month=<%= @month %>&year=<%= @year %>'><%= workshop.name %></a>
          <ul>
            <% @groups = workshop.groups %>
            <% @groups.each do |group| %>
              <li><a href='/attendances/duan?group=<%= group.id %>&month=<%= @month %>&year=<%= @year %>'><%= group.name %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <h4><%= Time.now.year %>年<%= Time.now.month %>月考勤表</h4>
    <div class="col-md-2" id="menu" style="background-color: white;overflow: auto;height: 100%;">
      <h5><%= link_to "北京供电段", duan_attendances_path(duan: "北京供电段", month: Time.now.month, year: Time.now.year) %></h5>
      <ul>
        <% @workshops.each do |workshop| %>
        <li>
          <em></em><a href='/attendances/duan?workshop=<%= workshop.id %>&month=<%= Time.now.month %>&year=<%= Time.now.year %>'><%= workshop.name %></a>
          <ul>
            <% @groups = workshop.groups %>
            <% @groups.each do |group| %>
              <li><a href='/attendances/duan?group=<%= group.id %>&month=<%= Time.now.month %>&year=<%= Time.now.year %>'><%= group.name %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- 组织结构树状图-结束 -->
  <!-- 表格-开始 -->
  <div class="card">
    <div style="overflow: auto;" class="col-md-10">
      <table id="example" class="table table-bordered">
        <thead>
          <tr>
            <% if @workshop.present? %>
              <th>班组</th>
            <% elsif @group.present? %>
              <th>姓名</th>
              <th>工资号</th>
              <th>车间</th>
              <th>班组</th>
            <% else %>
              <th>车间</th>
            <% end %>
            <% @vacation_codes.each do |code| %>
              <th><%= VacationCategory.find_by(:vacation_code => code).vacation_name %></th>
            <% end %>
            <th>修改次数</th>
          </tr>
        </thead>
          <tbody data-behavior='sortable'>
            <% if @workshop.present? %>
              <% Group.where(:workshop_id => @workshop).each do |group| %>
                <tr>
                  <td><%= group.name %></td>
                  <% @vacation_codes.each do |code| %>
                    <% if (@year.nil? && @month.nil?) or (@year.to_i == Time.now.year && @month.to_i == Time.now.month) %>
                      <% count = AttendanceCount.where(:group_id => group.id, :vacation_code => code, :month => Time.now.month, :year => Time.now.year).sum(:count) %>
                      <% if count == 0 %>
                        <td><%= count %></td>
                      <% else %>
                        <td><%= link_to count, duan_detail_attendances_path(code: code, group: group.id, :month => Time.now.month, :year => Time.now.year), class: "btn btn-primary" %></td>
                      <% end %>
                    <% else %>
                      <% count = AttendanceCount.where(:group_id => group.id, :vacation_code => code, :month => @month, :year => @year).sum(:count) %>
                      <% if count == 0 %>
                        <td><%= count %></td>
                      <% else %>
                        <td><%= link_to count, duan_detail_attendances_path(code: code, group: group.id, month: @month, year: @year), class: "btn btn-primary" %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% employees = Employee.where(:group => group.id).pluck("id") %>
                  <% attendances = Attendance.where(:employee_id => employees, :month => Time.now.month, :year => Time.now.year).pluck("id") %>
                  <% if (@year.nil? && @month.nil?) or (@year.to_i == Time.now.year && @month.to_i == Time.now.month) %>
                    <td><%= link_to AttendanceRecord.where(:attendance_id => attendances).count, show_record_attendances_path(employee: employees, month: Time.now.month, year: Time.now.year) %></td>
                  <% else %>
                    <td><%= link_to AttendanceRecord.where(:attendance_id => attendances).count, show_record_attendances_path(employee: employees, month: @month, year: @year) %></td>
                  <% end %>
                </tr>
              <% end %>
            <% elsif @group.present? %>
              <% Employee.where(:group => @group).each do |employee| %>
                <tr>
                  <td><%= employee.name %></td>
                  <td><%= employee.sal_number %></td>
                  <td><%= Workshop.find(employee.workshop).name %></td>
                  <td><%= Group.find(employee.group).name %></td>
                  <% @vacation_codes.each do |code| %>
                    <% if (@year.nil? && @month.nil?) or (@year.to_i == Time.now.year && @month.to_i == Time.now.month) %>
                      <td><%= AttendanceCount.where(:employee_id => employee.id, :vacation_code => code, month: Time.now.month, year: Time.now.year).sum(:count) %></td>
                    <% else %>
                      <td><%= AttendanceCount.where(:employee_id => employee.id, :vacation_code => code, month: @month, year: @year).sum(:count) %></td>
                    <% end %>
                  <% end %>
                  <% if (@year.nil? && @month.nil?) or (@year.to_i == Time.now.year && @month.to_i == Time.now.month) %>
                    <td><%= link_to AttendanceRecord.where(:attendance_id => "#{Attendance.find_by(:employee_id => employee.id, :month => Time.now.month, :year => Time.now.year).id}").count, show_record_attendances_path(employee: employee, month: Time.now.month, year: Time.now.year) %></td>
                  <% else %>
                    <td><%= link_to AttendanceRecord.where(:attendance_id => "#{Attendance.find_by(:employee_id => employee.id, :month => Time.now.month, :year => Time.now.year).id}").count, show_record_attendances_path(employee: employee, month: @month, year: @year) %></td>
                  <% end %>
                </tr>
              <% end %>
            <% else %>
              <% @workshops.each do |workshop| %>
                <tr>
                  <td><%= workshop.name %></td>
                  <% @vacation_codes.each do |code| %>
                    <% if (@year.nil? && @month.nil?) or (@year.to_i == Time.now.year && @month.to_i == Time.now.month) %>
                      <td><%= AttendanceCount.where(:workshop_id => workshop.id, :vacation_code => code, :month => Time.now.month, :year => Time.now.year).sum(:count) %></td>
                    <% else %>
                      <td><%= AttendanceCount.where(:workshop_id => workshop.id, :vacation_code => code, :month => @month, :year => @year).sum(:count) %></td>
                    <% end %>
                  <% end %>
                  <% employees = Employee.where(:workshop => workshop.id).pluck("id") %>
                  <% attendances = Attendance.where(:employee_id => employees).pluck("id") %>
                  <% records = AttendanceRecord.where(:attendance_id => attendances).count %>
                      <td><%= link_to records, show_record_attendances_path(employee: employees, month: Time.now.month, year: Time.now.year), class: "btn btn-primary" %></td>
                </tr>
              <% end %>
            <% end %>
         </tbody>
      </table>
    </div>
  </div>
  <!-- 表格-结束 -->
</div>
<!-- 主体部分-结束 -->
<!-- 弹框代码(使用ajax呼叫，所以没有render)-开始 -->

<!-- 弹框代码(使用ajax呼叫，所以没有render)-结束 -->
<!-- 进度条引用的库-开始 -->
<!-- <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<!-- 进度条引用的库-结束 -->
<!-- 组织结构树状图的js代码-开始 -->
<script type="text/javascript">
  (function(e) {
    for(var _obj=document.getElementById(e.id).getElementsByTagName(e.tag),i=-1,em;em=_obj[++i];){
      em.onclick = function(){ //onmouseover
        var ul = this.nextSibling;
        if(!ul){
          return false;
        }
        ul = ul.nextSibling;
        if(!ul) {
          return false;
        }
        if(e.tag != 'a') {
          ul = ul.nextSibling;
          if(!ul){
            return false;
          }
        } //a 标签控制 隐藏或删除该行
        for(var _li=this.parentNode.parentNode.childNodes,n=-1,li;li=_li[++n];) {
          if(li.tagName=="LI"){
            for(var _ul=li.childNodes,t=-1,$ul;$ul=_ul[++t];){
              switch($ul.tagName){
                case "UL": $ul.className = $ul!=ul?"" : ul.className?"":"off";
                break;
                case "EM": $ul.className = $ul!=this?"" : this.className?"":"off";
                break;
              }
            }
          }
        }
      }
    }
  })({id:'menu',tag:'em'});
</script>
<!-- 组织结构树状图的js代码-结束 -->
