<div class="contentpanel">
  <div class="col-md-12">
    <%= form_tag duan_attendances_path, method: 'get' do %>
      <%= label_tag :请输入时间段搜索 %>
        <select class="" name="year">
          <% @years.each do |year| %>
            <% if year == @year %>
              <option value="<%= year %>" selected ><%= year %></option>
            <% else %>
              <option value="<%= year %>" ><%= year %> </option>
            <% end %>
          <% end %>
        </select>
    ～
        <select class="" name="month">
          <% @months.each do |month| %>
            <% if month == @month %>
              <option value="<%= month%>" selected ><%= month%></option>
            <% else %>
              <option value="<%= month%>" ><%= month %></option>
            <% end %>
          <% end %>
        </select>
      <%= submit_tag :筛选 %>
    <% end %>
    <!-- <div class="ivu-tooltip-rel" style="text-align: right;">
      <button type="button" class="ivu-btn ivu-btn-primary2 btn-oaG3J_0">
        <%= link_to create_default_attendance_attendances_path, method: 'post' do  %>
           <span style="color: #269Eff;">新建下月考勤</span>
        <% end %>
      </button>
    </div> -->
  </div>


  <!-- 主体部分-开始 -->
  <div class="col-md-12" style="height: 100%">
    <!-- 组织结构树状图-开始 -->
      <h4><%= @year %>年<%= @month %>月考勤统计表</h4>
      <div class="col-md-2" id="menu" style="background-color: white;overflow: auto;height: 100%;">
        <h5><%= link_to "北京供电段", duan_attendances_path(type:"duan",duan: "北京供电段", month: @month, year: @year) %></h5>
        <ul>
          <% @workshops.each do |workshop| %>
            <li>
              <i class="fa fa-plus-square-o" aria-hidden="true" style= "margin-right: 10px;"></i><a style="color:red" href='/attendances/duan?workshop=<%= workshop.id %>&month=<%= @month %>&year=<%= @year %>'><%= workshop.name %></a>
              <ul>
                <% groups = Group.current.where(:workshop_id => workshop.id) %>
                <% groups.each do |group| %>
                  <li><a style="color:green" href='/attendances/duan?group=<%= group.id %>&month=<%= @month %>&year=<%= @year %>'><%= group.name %></a></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul><br>
      </div>
    <!-- 组织结构树状图-结束 -->
    <!-- 表格-开始 -->
    <div class="card">
      <div style="overflow: auto;" class="col-md-10">
        <table id="example" class="table table-bordered">
          <thead>
            <tr>

                <th>姓名</th>
                <th>工资号</th>
                <th>车间</th>
                <th>班组</th>
              <% @vacation_name_hash.values.each do |name| %>
                <th><%= name %></th>
              <% end %>
              <th>修改次数</th>
            </tr>
          </thead>
             <tbody data-behavior='sortable'>

                <% @employees.each do |employee| %>
                  <% attendance_count = AttendanceCount.find_by(:employee_id => employee.id, month: @month, year: @year)%>
                  <% attendance = Attendance.find_by(:employee_id => employee.id, :month => @month, :year => @year)%>
                  <tr>
                    <td><%= employee.name %></td>
                    <td><%= employee.sal_number %></td>
                    <td><%= Workshop.find(employee.workshop).name %></td>
                    <td><%= Group.find(employee.group).name %></td>
                    <% @vacation_name_hash.keys.each do |code| %>
                      <% if attendance_count.present? %>
                        <% if attendance_count.attributes[code] == 0%>
                          <% if (code == "d" )&& (attendance.add_overtime.to_i > 0) %>
                            <td><%= attendance.add_overtime.to_i%> </td>
                          <% else %>
                            <td></td>
                          <% end %>
                        <% else %>
                          <% if (code == "d" )&& (attendance.add_overtime.to_i > 0) %>
                            <td><%= attendance.add_overtime.to_i + attendance_count.attributes[code]%> </td>
                          <% else %>
                            <td><%= attendance_count.attributes[code]%></td>
                          <% end %>
                        <% end %>
                      <% else %>
                       <td></td>
                      <% end %>
                    <% end %>
                    <% attendancerecords = AttendanceRecord.where(:attendance_id => attendance.id).count%>
                    <% if attendance.present? && (attendancerecords > 0) %>
                      <td><%= link_to attendancerecords, show_record_attendances_path(employee: employee, month: @month, year: @year), class: 'btn btn-primary2' %></td>
                    <% else %>
                      <td>0</td>
                    <% end %>
                  </tr>
                <% end %>

             </tbody>
        </table>
      </div>
    </div>
    <!-- 表格-结束 -->
  </div>
  <!-- 主体部分-结束 -->
  <!-- 进度条引用的库-开始 -->
  <!-- <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <!-- 进度条引用的库-结束 -->
  <!-- 组织结构树状图的js代码-开始 -->
</div>



<!-- 筛选 -->

<script type="text/javascript">
  (function(e) {
    for(var _obj=document.getElementById(e.id).getElementsByTagName(e.tag),i=-1,em;em=_obj[++i];){
      em.onclick = function(){ //onmouseover
        var ul = this.nextSibling;
        if(!ul){
          return false;
        }
        ul = ul.nextSibling;
        if(!ul) {
          return false;
        }
        if(e.tag != 'a') {
          ul = ul.nextSibling;
          if(!ul){
            return false;
          }
        } //a 标签控制 隐藏或删除该行
        for(var _li=this.parentNode.parentNode.childNodes,n=-1,li;li=_li[++n];) {
          if(li.tagName=="LI"){
            for(var _ul=li.childNodes,t=-1,$ul;$ul=_ul[++t];){
              switch($ul.tagName){
                case "UL": $ul.className = $ul!=ul?"" : ul.className?"":"off";
                break;
                case "EM": $ul.className = $ul!=this?"" : this.className?"":"off";
                break;
              }
            }
          }
        }
      }
    }
  })({id:'menu',tag:'i'});
</script>
<!-- 组织结构树状图的js代码-结束 -->
