  <%= render "attendance_sidebar"%>
  <%= @before_code %>
  <%= @after_code %>
  <div class="card">
    <div style="overflow: auto; width: 100%;">
      <table id="example" class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>职名</th>
            <!-- 生成每月1-31号的数字-开始 -->
            <% (1..31).each do |i| %>
              <th><%= i %></th>
            <% end %>
            <!-- 生成每月1-31号的数字-结束 -->
            <!-- <% @vacation_codes.each do |code| %>
              <th><%= VacationCategory.find_by(:vacation_code => code).vacation_name %></th>
            <% end %> -->
          </tr>
        </thead>
          <tbody>
          <!-- 配置表格数据-开始 -->
            <% @employees.each do |employee| %>
              <!-- 声明后面需要用到的hash -->
              <% attendance_hash = {} %>
              <!-- 将维表中存放的代表每种考勤名称的字母赋值给attendance_codes -->
              <tr>
                <td><%= employee.id %></td>
                <td><%= employee.name %></td>
                <td><%= employee.duty %></td>
                <!-- 捞出当前员工的考勤数据，数据可以为多个，可以为空 -->
                <% attendance = Attendance.find_by(employee_id: employee.id) %>
                <!-- 将现员的考勤数据（字符串格式）拆分成数组，赋值给attendance_ary -->
                <% attendance_ary = attendance.month_attendances.split('') %>
                <!-- 将attendance_ary进行迭代，每一个就是一个员工每天的考勤数据 -->
                <% day_number = 1%>
                <% attendance_ary.each do |day_attendance| %>
                  <!-- 在维表VacationCategory中通过vacation_code找到对应的考勤简写名称，放入表格 -->
                <td>
                    <% if day_attendance == "x" %>
                      <%= " " %>
                    <% else %>
                      <%= VacationCategory.find_by(:vacation_code => day_attendance).vacation_shortening %>
                    <% end %>
                </td>
                  <% day_number += 1%>
                <% end %>
              </tr>
            <% end %>
            <!-- 配置表格数据-开始 -->
         </tbody>
        </table>
       <div id="showModal">
      </div>
     </div>
    </div>
   </div>
  </div>
