<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <% 31.times do %>
        <Column ss:Width="80"/>
      <% end %>
      <% 20.times do %>
        <Column ss:Width="100"/>
      <% end %>
      <Row ss:AutoFitHeight="0">
        <Cell><Data ss:Type="String">顺号</Data></Cell>
        <Cell><Data ss:Type="String">姓名</Data></Cell>
        <Cell><Data ss:Type="String">职名</Data></Cell>
          <%(1..31).each do |i|%>
            <Cell><Data ss:Type="Number"><%= i.to_i %></Data></Cell>
          <% end %>

          <% @vacation_name_hash.values.each do |name| %>
          <Cell><Data ss:Type="String">
            <%= name %>
          </Data></Cell>
          <% end %>

      </Row>
    <% @employees.each do |employee| %>
      <Row ss:AutoFitHeight="0">
        <Cell><Data ss:Type="String"><%= employee.sal_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= employee.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= employee.duty %></Data></Cell>
        <% if @year.present? && @month.present? %>
          <% attendance = Attendance.find_by(employee_id: employee.id, month: @month, year: @year) %>
        <% else %>
          <% attendance = Attendance.find_by(employee_id: employee.id, month: Time.now.month, year: Time.now.year) %>
        <% end %>
        <% attendance_ary = attendance.month_attendances.split('') %>
        <% attendance_ary.each do |day_attendance| %>
          <Cell><Data ss:Type="String">
            <% if day_attendance == "x" %>
              <%= " " %>
            <% else %>
              <%= VacationCategory.find_by(:vacation_code => day_attendance).vacation_shortening %>
            <% end %>
          </Data></Cell>
        <% end %>

          <% @vacation_name_hash.keys.each do |code| %>
            <Cell><Data ss:Type="String">
              <%= AttendanceCount.where(:vacation_code => code, :employee_id => employee.id).sum(:count) %>
            </Data></Cell>
          <% end %>

      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
