<div class="pageheader">
<h2>当前位置 <span> 班组考勤统计 </span></h2>
</div>

<div class="contentpanel">
  <div class="panel panel-default">
    <%= render "attendance_sidebar"%>
  </div>

<div class="col-md-12" style="margin-top: -10px;">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>我的申请</th>
          <th>详情</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% applications = Application.where(group_id: current_user.group_id) %>
          <td><%= applications.count %></td>
          <td><%= link_to "查看详情", show_application_attendances_path(applications: applications.pluck("id")), class: "btn btn-primary2" %></td>
        </tr>
      </tbody>
    </table>

  <% if AttendanceStatus.find_by(:group_id => @group.id).present? %>
    <h5>考勤表状态：<%= AttendanceStatus.find_by(:group_id => @group.id,:year => @year,:month => @month).status %></h5>
  <% end %>
  <% if (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :wgadmin) %>

      <div class="btn_group-2MSRh_0">
              <div class="ivu-tooltip">
            <div class="ivu-tooltip-rel" style="margin-right: 5px;">
              <% if @year.present? && @month.present? %>
                <%= link_to "点击申请",group_application_attendances_path(:year => @year,:month => @month),class:"btn btn-primary" %>
              <% else %>
                <%= link_to "点击申请",group_application_attendances_path,class:"btn btn-primary" %>
              <% end %>


            </div>
            <div class="ivu-tooltip-rel" style="text-align: right; margin-right: -18px;">
              <%= link_to group_attendances_path(:year => @year,:month => @month,format: "xls") do  %>
              <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">

                   <span style="color: #269Eff;">导出记录</span>

              </button>
              <% end %>
            </div>
        </div>
      </div>

    <%= form_tag group_attendances_path, method: 'get' do %>
      <%= label_tag :请输入时间段搜索 %>
      <select class="" name="year">
        <% @years.each do |year| %>
          <% if year == @year %>
            <option value="<%= year%>" selected><%= year %></option>
          <% else %>
            <option value="<%= year%>"><%= year %></option>
          <% end %>
        <% end %>
      </select>年～
      <select class="" name="month">
        <% @months.each do |month| %>
          <% if month == @month %>
            <option value="<%= month%>" selected><%= month %></option>
          <% else %>
            <option value="<%= month%>"><%= month %></option>
          <% end %>
        <% end %>
      </select>月

      <%= hidden_field_tag :type, "group" %>
      <%= submit_tag :筛选 %>
     <% end %>
   <% end %>
   <div class="" style = "padding-top:10px;">
     <%= link_to(' << 查看考勤统计',group_statistics_attendances_path(:year => @year ,:month => @month))%>
   </div>
</div>


<div class="col-md-12 col-lg-12 col-sm-12" style="margin-top: 20px;">
<% if @year.present? && @month.present?%>
  <h3 class="text-center"><%= @year %>年<%= @month %>月考勤数据</h3>
<% else %>
  <h3 class="text-center"><%= Time.now.year %>年<%= Time.now.month %>月考勤数据</h3>
<% end %>
<p style="color:red;"><b style="font-size:15px;">【温馨提示】</b>1、多选填写入口：点击表头首行的绿色日期；2、查看个人考勤统计：点击人员姓名</p>
<div class="panel">
  <div class ="table-responsive">
    <table class="table overflow-y">
      <thead>
        <tr>
          <th>工资号</th>
          <th>姓名 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="点击查看统计"></span> </th>
          <th>职名</th>
          <!-- 生成每月1-31号的数字-开始 -->
          <% (1..31).each do |i| %>
            <% if @time_range === i %>
              <th>
                <%if @year.present? && @month.present? &&  (@month.to_i != Time.now.month) %>
                  <%= i %>
                <% else %>
                  <%= link_to i,simple_input_attendance_attendances_path(:group_id => current_user.group_id,:year =>Time.now.year , :month =>Time.now.month,:day => i-1),style: "font-weight:900;color: #00D396"%>
                <% end %>
              </th>
            <% else %>
              <th><%= i %></th>
            <% end %>
          <% end %>
          <!-- 生成每月1-31号的数字-结束 -->
        </tr>
      </thead>
        <tbody>
        <!-- 配置表格数据-开始 -->
          <% @employees.each do |employee| %>
            <!-- 将维表中存放的代表每种考勤名称的字母赋值给attendance_codes -->
            <tr>
              <td><%= employee.sal_number %></td>
              <td>
                <%if @year.present? && @month.present? %>
                  <%= link_to group_employee_detail_attendances_path(:id => employee.id, month: @month, year: @year) do %>
                    <%= employee.name %>
                  <% end %>
                <% else %>
                  <%= link_to group_employee_detail_attendances_path(:id => employee.id) do %>
                    <%= employee.name %>
                  <% end %>
                <% end %>
              </td>
              <td><%= employee.duty %></td>
              <!-- 捞出当前员工的考勤数据，数据可以为多个，可以为空 -->
              <% if @year.present? && @month.present? %>
                <% attendance = Attendance.find_by(employee_id: employee.id, month: @month, year: @year) %>
              <% else %>
                <% attendance = Attendance.find_by(employee_id: employee.id, month: Time.now.month, year: Time.now.year) %>
              <% end %>
              <!-- 将现员的考勤数据（字符串格式）拆分成数组，赋值给attendance_ary -->
              <% if attendance.present? %>
                <% attendance = attendance.month_attendances %>
                <!-- 将attendance_ary进行迭代，每一个就是一个员工每天的考勤数据 -->
                <% day_number = 1 %>
                <% (0..30).each do |day| %>
                  <!-- 在维表VacationCategory中通过vacation_code找到对应的考勤简写名称，放入表格 -->
                    <% if @time_range === day_number %>
                      <td>
                        <% if (@year.nil? && @month.nil?) or (@year.to_i == Time.now.year && @month.to_i == Time.now.month) %>
                          <%= link_to show_modal_attendances_path(employee_id: employee.id, month: Time.now.month, year: Time.now.year, day_number: day_number), remote: true, class: "btn btn-text-green", "data-toggle" => "modal", "data-target" => "#myModal" do %>
                            <% if attendance[day] == "x" %>
                              <%= day_number %>
                            <% else %>
                              <%= @vacation_code_hash[attendance[day]] %>
                            <% end %>
                          <% end %>
                        <% else %>
                          <% if attendance[day] == "x" %>
                             <div>
                               <%= "-" %>
                             </div>
                          <% else %>
                            <%= @vacation_code_hash[attendance[day]] %>
                          <% end %>
                        <% end %>
                      </td>
                    <% else %>
                      <td>
                        <% if attendance[day] == "x" %>
                          <%= "-"%>
                        <% else %>
                          <%= @vacation_code_hash[attendance[day]] %>
                        <% end %>
                      </td>
                    <% end %>
                  <% day_number += 1%>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          <!-- 配置表格数据-结束 -->
       </tbody>
    </table>
    <div id="showModal"></div>
   </div>
  </div>


  <div class="pull-right" style= "margin:20px;">
    <%= link_to "#",data: {confirm: "确定要上报考勤吗？"} do %>
        <button type="button" name="button">上报考勤</button>
    <% end %>
  </div>
 </div>
</div>

<!-- 一键计算本月所有考勤统计： -->
<div class="">
  <%=  link_to("一键计算考勤统计", attendance_count_compute_attendances_path(:year => @year,:month => @month),method: :post,data: {confirm: "确定计算吗？"})%>
</div>

<%= render 'application_modal' %>
