<?xml version="1.0" encoding='UTF-8'?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="HyperlinkId">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <% 31.times do %>
        <Column ss:Width="100"/>
      <% end %>
      <% 20.times do %>
        <Column ss:Width="100"/>
      <% end %>
      <Row ss:AutoFitHeight="0">
        <Cell ss:StyleID="HyperlinkId"><Data ss:Type="String">顺号</Data></Cell>
        <Cell ss:StyleID="HyperlinkId"><Data ss:Type="String">姓名</Data></Cell>
        <Cell ss:StyleID="HyperlinkId"><Data ss:Type="String">职名</Data></Cell>
          <%(1..31).each do |i|%>
            <Cell ss:StyleID="HyperlinkId"><Data ss:Type="Number"><%= i.to_i %></Data></Cell>
          <% end %>

          <% @vacation_codes.each do |code| %>
          <Cell ss:StyleID="HyperlinkId"><Data ss:Type="String">
            <%= VacationCategory.find_by(:vacation_code => code).vacation_name.strip %>
          </Data></Cell>
          <% end %>

      </Row>
    <% @employees.each do |employee| %>
      <Row ss:AutoFitHeight="0">
        <Cell ss:StyleID="HyperlinkId"><Data ss:Type="String"><%= employee.sal_number %></Data></Cell>
        <Cell ss:StyleID="HyperlinkId"><Data ss:Type="String"><%= employee.name %></Data></Cell>
        <Cell ss:StyleID="HyperlinkId"><Data ss:Type="String"><%= employee.duty %></Data></Cell>
        <% attendance = Attendance.find_by(employee_id: employee.id) %>
        <% attendance_ary = attendance.month_attendances.split('') %>
        <% attendance_ary.each do |day_attendance| %>
          <Cell ss:StyleID="HyperlinkId"><Data ss:Type="String">
            <% if day_attendance == "x" %>
              <%= " " %>
            <% else %>
              <%= VacationCategory.find_by(:vacation_code => day_attendance).vacation_shortening.strip %>
            <% end %>
          </Data></Cell>
        <% end %>

          <% @vacation_codes.each do |code| %>
            <Cell ss:StyleID="HyperlinkId"><Data ss:Type="String">
              <%= AttendanceCount.where(:vacation_code => code, :employee_id => employee.id).sum(:count) %>
            </Data></Cell>
          <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
