
<div class="" style= "margin-bottom:50px;">
  <% if (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :wgadmin) %>
    <% if params[:year].present? %>
      <%= link_to("返回 >>",group_attendances_path(:year => params[:year],:month => params[:month],:type => "group"))%>
    <% else %>
      <%= link_to("返回 >>",group_attendances_path) %>
    <% end %>
  <% elsif (current_user.has_role? :attendance_admin) || (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin) %>
    <% if params[:year].present? %>
      <%= link_to("返回 >>",group_current_time_info_attendances_path(:year => params[:year],:month => params[:month],:type => "group"))%>
    <% else %>
      <%= link_to("返回 >>",group_current_time_info_attendances_path) %>
    <% end %>
  <% end %>
</div>



<h3>这是日历列表：</h3>
<% (0..30).each do |day| %>
  <%= day + 1 %>天
  （<%= @vacation_name_hash[@attendance.month_attendances[day]] %>） &nbsp &nbsp
<% end %>

<h3>这是统计：</h3>
<%= @attendance_statistics %>
