
  <div class="pageheader">
        <h2>
          <% if (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :wgadmin) %>
            <a href="/attendances/group?year=<%= @year%>&month=<%= @month %>">返回 <span> 考勤修改申请 </span></a>
          <% else %>
            <a href="/attendances/group_current_time_info?year=<%= @year%>&month=<%= @month %>">返回 <span> 考勤修改申请 </span></a>
          <% end %>
        </h2>
  </div>
  <div class="contentpanel">

      <div class="col-md-12 col-lg-12 col-sm-12" style="margin-top: 20px;">
        <h3 class="text-center"><%= @year %>年<%= @month %>月考勤修改申请</h3>
        <div class="col-md-12 col-lg-12 col-sm-12 card" style="margin-top: 20px;">
      <!-- 固定前三列： -->


            <div class ="col-md-3 col-lg-3 col-sm-3" style="margin-right:-16px;margin-left:-5px;">
              <table class="table table-bordered">
                <thead>
                  <tr style= "height:35px;">
                    <th>工资号</th>
                    <th>姓名</th>
                    <th>职名</th>
                  </tr>
                </thead>
                  <tbody data-behavior='sortable'>
                  <!-- 配置表格数据-开始 -->
                    <% @employees.each do |employee| %>

                      <!-- 将维表中存放的代表每种考勤名称的字母赋值给attendance_codes -->
                      <tr style= "height:55px;">
                        <td><%= employee.sal_number %></td>
                        <td><%= employee.name %></td>
                        <td><%= employee.duty %></td>
                      </tr>
                    <% end %>
                    <!-- 配置表格数据-结束 -->
                 </tbody>
              </table>


            </div>

          <!-- 考勤填写部分： -->

            <div  class ="col-md-9 col-lg-9 col-sm-9" style="margin-left:-16px;overflow: auto; ">
              <table id="example" class="table table-bordered">
                <thead>
                  <tr style= "height:35px;">

                    <!-- 生成每月1-31号的数字-开始 -->
                    <% (1..31).each do |i| %>

                        <th>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-no-turbolink="true">
                                  <%= i %>
                                  <b class="caret"></b>
                                  <ul class="dropdown-menu">
                                    <li><%= link_to "一键考勤申请：", "#" %></li>
                                      <li><%= link_to "日", group_application_form_attendances_path(:type => "一键申请",:group_id =>params[:group_id] ,:year => @year, :month => @month,:day => i-1,:code => @vacation_hash["日"])  %></li>
                                      <li><%= link_to "星", group_application_form_attendances_path(:type => "一键申请",:group_id =>params[:group_id] ,:year => @year, :month => @month,:day => i-1,:code => @vacation_hash["星"])  %></li>
                                      <li><%= link_to "节", group_application_form_attendances_path(:type => "一键申请",:group_id =>params[:group_id] ,:year => @year, :month => @month,:day => i-1,:code => @vacation_hash["节"])  %></li>
                                      <li><%= link_to "日勤夜班", group_application_form_attendances_path(:type => "一键申请",:group_id =>params[:group_id] ,:year => @year, :month => @month,:day => i-1,:code => @vacation_hash["日勤夜班"])  %></li>
                                      <li><%= link_to "轮流夜班", group_application_form_attendances_path(:type => "一键申请",:group_id =>params[:group_id] ,:year => @year, :month => @month,:day => i-1,:code => @vacation_hash["轮流夜班"])  %></li>
                                      <li><%= link_to "休", group_application_form_attendances_path(:type => "一键申请",:group_id =>params[:group_id] ,:year => @year, :month => @month,:day => i-1,:code => @vacation_hash["休"])  %></li>
                                  </ul>
                              </a>
                            </li>
                        </th>

                    <% end %>
                    <!-- 生成每月1-31号的数字-结束 -->

                  </tr>
                </thead>
                <tbody data-behavior='sortable'>
                  <!-- 配置表格数据-开始 -->
                    <% @employees.each do |employee| %>
                      <!-- 将维表中存放的代表每种考勤名称的字母赋值给attendance_codes -->
                      <tr style= "height:55px;">
                        <!-- 捞出当前员工的考勤数据，数据可以为多个，可以为空 -->
                        <% attendance = Attendance.find_by(employee_id: employee.id, month: @month, year: @year) %>
                        <!-- 将现员的考勤数据（字符串格式）拆分成数组，赋值给attendance_ary -->
                        <% if attendance.present? %>
                          <% attendance = attendance.month_attendances %>
                          <!-- 将attendance_ary进行迭代，每一个就是一个员工每天的考勤数据 -->
                          <% day_number = 1 %>
                          <% (0..30).each do |day| %>
                            <!-- 在维表VacationCategory中通过vacation_code找到对应的考勤简写名称，放入表格 -->
                            <% application = Application.where(:employee_id => employee.id,:year => @year,:month => @month,:day => (day+1)) %>
                            <% if !application.present? %>
                              <td>
                                <span style = "background-color:#E8F5E9;">
                                  <%= link_to group_application_form_attendances_path(:group_id =>params[:group_id] ,employee_id: employee.id, year: @year, month: @month, day: day)  do %>
                                    <% if attendance[day] == "x" %>
                                      <%= day_number %>
                                    <% else %>
                                      <%= @vacation_code_hash[attendance[day]] %>
                                    <% end %>
                                  <% end %>
                                </span>
                              </td>
                            <% elsif application.present? && (application.last.application_pass == 1) %>
                              <td style = "background-color: #2196F3;">
                                <%= link_to group_application_form_attendances_path(:group_id =>params[:group_id] ,employee_id: employee.id, year: @year, month: @month, day: day) do %>
                                  <% if attendance[day] == "x" %>
                                    <%= day_number %>
                                  <% else %>
                                    <%= @vacation_code_hash[attendance[day]] %>
                                  <% end %>
                                <% end %>
                              </td>
                            <!-- <% elsif application.present? && (application.last.status == "车间通过申请") %>
                              <td style = "background-color: #FF5722;">
                                    <%= @vacation_code_hash[application.last.application_after] %>
                              </td> -->
                            <% elsif application.present? && ((application.last.status == "班组发起申请") || (application.last.status == "科室发起申请") || (application.last.status == "车间发起申请")) %>
                              <td style = "background-color:#FFD54F;">
                                  <%= link_to group_application_form_attendances_path(:type => "更新",:group_id =>params[:group_id] ,employee_id: employee.id, year: @year, month: @month, day: day)  do %>
                                      <%= @vacation_code_hash[application.last.application_after] %>
                                  <% end %>
                              </td>
                            <% end %>
                            <% day_number += 1%>

                          <% end %>
                        <% end %>
                      </tr>
                    <% end %>
                    <!-- 配置表格数据-结束 -->
                 </tbody>
              </table>

            </div>


        </div>


        <div class="col-md-12 col-lg-12 col-sm-12" style= "text-align: center;margin:30px;">
          <button type="button" name="button" style= "height:20px;width:20px;background-color:#2196F3;border-radius: 10px;margin-right: 20px;"></button><span style="margin-right:80px;">通过审核</span>
          <button type="button" name="button" style= "height:20px;width:20px;background-color:#FF5722;border-radius: 10px;margin-right: 20px;"></button><span style="margin-right:80px;">正在审核中</span>
          <button type="button" name="button" style= "height:20px;width:20px;background-color:#FFD54F;border-radius: 10px;margin-right: 20px;"></button><span style="margin-right:80px;">已发起申请</span>

        </div>
      </div>



  </div>
