<%= render "attendance_sidebar"%>
<% if current_user.has_role? :attendance_admin %>
  <!-- 进度条部分-开始 -->
  <!-- 总数统计，呼叫弹窗 -->
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>已审核车间</th>
          <th>未审核车间</th>
          <th>详情</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @workshops.count%></td>
          <td><%= "#{Workshop.current.count.to_i - @workshops.count.to_i}" %></td>
          <td><%= link_to "点击查看", processbar_detail_attendances_path(workshops: @workshops), remote: true, "data-toggle" => "modal", "data-target" => "#verifyModal" %></td>
        </tr>
      </tbody>
    </table>
    <!-- 进度条 -->
    <% percent = (@workshops.count.to_f) / (Workshop.current.count.to_f) * 100 %>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60"
            aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;">
            <span class="sr-only">40% 完成</span>
        </div>
    </div>
    <!-- 进度条部分-结束 -->
    <% if @workshop.present? %>
      <% if AttendanceStatus.find_by(:workshop_id => @workshop).present? %>
        <h4>当前车间考勤表状态：<%= AttendanceStatus.find_by(:workshop_id => @workshop).status %></h4>
      <% end %>
    <% elsif @group.present? %>
      <% if AttendanceStatus.find_by(:group_id => @group).present? %>
        <h4>当前班组考勤表状态：<%= AttendanceStatus.find_by(:group_id => @group).status %></h4>
      <% end %>
    <% end %>

  </div>

  <% if @workshop.present? %>
    <h4><%= Workshop.current.find(@workshop).name %><%= @year %>年<%= @month %>月考勤情况</h4>
  <% elsif @group.present? %>
    <h4><%= Group.current.find(@group).name %><%= @year %>年<%= @month %>月考勤情况</h4>
  <% else @duan.present? %>
    <h4>供电段<%= @year %>年<%= @month %>月考勤情况</h4>
  <% end %>
<% end %>

<% if current_user.has_role? :workshopadmin %>

  <% if @workshop.present? %>
    <% if AttendanceStatus.find_by(:workshop_id => @workshop).present? %>
      <h4>当前车间考勤表状态：<%= AttendanceStatus.find_by(:workshop_id => @workshop).status %></h4>
    <% end %>
    <h4><%= current_user.name %><%= @year %>年<%= @month %>月考勤情况</h4>
  <% elsif @group.present? %>
    <% if AttendanceStatus.find_by(:group_id => @group).present? %>
      <h4>当前班组考勤表状态：<%= AttendanceStatus.find_by(:group_id => @group).status %></h4>
    <% end %>
      <h4><%= Group.current.find(@group).name %><%= @year %>年<%= @month %>月考勤情况</h4>
  <% else %>
    <% if AttendanceStatus.find_by(:workshop_id => Workshop.current.find_by(name: current_user.name).id).present? %>
      <h4>当前车间考勤表状态：<%= AttendanceStatus.find_by(:workshop_id => Workshop.current.find_by(name: current_user.name).id).status %></h4>
    <% end %>
    <h4><%= current_user.name %><%= @year %>年<%= @month %>月考勤情况</h4>
  <% end %>
<% end %>

  <div class="col-md-12 col-lg-12 col-sm-12"  style="height: 100%">
    <!-- 组织结构树状图-开始 -->
    <% if current_user.has_role? :workshopadmin %>
      <div class="col-md-2 col-lg-2 col-sm-2" id="menu" style="background-color: white;height: 100%;">
        <% workshop = Workshop.current.find_by(name: current_user.name) %>
        <% if params[:year].present? %>
          <h5><a href='/attendances/group_current_time_info?workshop=<%= workshop.id %>&year=<%=params[:year]%>&month=<%=params[:month]%>'><%= workshop.name %></a></h5>
        <% else %>
          <h5><a href='/attendances/group_current_time_info?workshop=<%= workshop.id %>'><%= workshop.name %></a></h5>
        <% end %>
        <ul>
          <% Group.current.where(:workshop_id => workshop.id).each do |group| %>
            <% if params[:year].present? %>
              <li><a href='/attendances/group_current_time_info?group=<%= group.id %>&year=<%=params[:year]%>&month=<%=params[:month]%>'><%= group.name %></a></li>
            <% else%>
              <li><a href='/attendances/group_current_time_info?group=<%= group.id %>'><%= group.name %></a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="col-md-2 col-lg-2 col-sm-2" id="menu" style="background-color: white;height: 100%;">
        <h5>
          <% if params[:year].present? %>
            <%= link_to "北京供电段", group_current_time_info_attendances_path(duan: "北京供电段",year: params[:year],month: params[:month]) %>
          <% else %>
            <%= link_to "北京供电段", group_current_time_info_attendances_path(duan: "北京供电段") %>
          <% end %>
        </h5>
        <ul>
          <% @workshops.each do |verify_workshop| %>
            <li>

              <% if params[:year].present? %>
                <i class="fa fa-plus-square-o" aria-hidden="true" style= "margin-right: 10px;"></i><a style="color:green" href='/attendances/group_current_time_info?workshop=<%= verify_workshop.id %>&year=<%=params[:year]%>&month=<%=params[:month]%>'>
                  <%= verify_workshop.name %>
                </a>
              <% else %>
                <i class="fa fa-plus-square-o" aria-hidden="true" style= "margin-right: 10px;"></i><a style="color:green" href='/attendances/group_current_time_info?workshop=<%= verify_workshop.id %>'>
                  <%= verify_workshop.name %>
                </a>
              <% end %>
              <ul>
                <% groups = Group.current.where(:workshop_id => verify_workshop.id) %>
                <% groups.each do |group| %>

                  <% if params[:year].present? %>
                    <li><a style="color:green" href='/attendances/group_current_time_info?group=<%= group.id %>&year=<%=params[:year]%>&month=<%=params[:month]%>'>
                      <%= group.name %>
                    </a></li>
                  <% else %>
                    <li><a style="color:green" href='/attendances/group_current_time_info?group=<%= group.id %>'>
                      <%= group.name %>
                    </a></li>
                  <% end %>

                <% end %>
              </ul>
            </li>
          <% end %>
          <% @workshops_not_varify.each do |no_verify_workshop| %>
            <li>

              <% if params[:year].present? %>
                <i class="fa fa-plus-square-o" aria-hidden="true" style= "margin-right: 10px;"></i><a style="color:red" href='/attendances/group_current_time_info?workshop=<%= no_verify_workshop.id %>&year=<%=params[:year]%>&month=<%=params[:month]%>'>
                  <%= no_verify_workshop.name %>
                </a>
              <% else %>
                <i class="fa fa-plus-square-o" aria-hidden="true" style= "margin-right: 10px;"></i><a style="color:red" href='/attendances/group_current_time_info?workshop=<%= no_verify_workshop.id %>'>
                  <%= no_verify_workshop.name %>
                </a>
              <% end %>
              <ul>
                <% no_verify_groups = Group.current.where(:workshop_id => no_verify_workshop.id) %>
                <% no_verify_groups.each do |group| %>
                  <li>
                    <% if params[:year].present? %>
                      <a style="color:red" href='/attendances/group_current_time_info?group=<%= group.id %>&year=<%=params[:year]%>&month=<%=params[:month]%>'>
                        <%= group.name %>
                      </a>
                    <% else %>
                      <a style="color:red" href='/attendances/group_current_time_info?group=<%= group.id %>'>
                        <%= group.name %>
                      </a>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
        <br>
        <p>注意：绿色字体为已审核车间，红色为未审核车间</p>
      </div>
    <% end %>
  <!-- 组织结构树状图-结束 -->

  <div class="col-md-10 col-lg-10 col-sm-10 pull-right" style = "margin-bottom: 5px;-webkit-box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);box-shadow: 1px 1px 15px 1px rgba(39,39,39,.1);background-color: #fff;">
    <div class ="col-md-6 col-lg-5 col-sm-6" style="margin-right:-16px;margin-left:-5px;">
      <table class="table table-bordered">
        <thead>
          <tr style= "height:35px;">
            <th>工资号</th>
            <th>姓名</th>
            <th>职名</th>
            <th>车间</th>
            <th>班组</th>

          </tr>
        </thead>
          <tbody>
          <!-- 配置表格数据-开始 -->
            <% if @employees.present? %>
              <% @employees.each do |employee| %>
                <tr style= "height:55px;">
                  <td><%= employee.sal_number %></td>
                  <td>
                    <%if params[:year].present? && params[:month].present? %>
                      <%= link_to group_employee_detail_attendances_path(:id => employee.id, month: params[:month], year: params[:year]) do %>
                        <%= employee.name %>
                      <% end %>
                    <% else %>
                      <%= link_to group_employee_detail_attendances_path(:id => employee.id) do %>
                        <%= employee.name %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= employee.duty %></td>
                  <td><%= Workshop.current.find(employee.workshop).name %></td>
                  <td><%= Group.current.find(employee.group).name %></td>
                </tr>
              <% end %>

            <% end %>
          </tbody>
        </table>


    </div>


    <div  class ="col-md-6 col-lg-7 col-sm-6" style="margin-left:-16px;overflow: auto; ">
      <table id="example" class="table table-bordered">
        <thead>
          <tr style= "height:35px;">

            <!-- 生成每月1-31号的数字-开始 -->
            <% (1..31).each do |i| %>
              <th><%= i %></th>
            <% end %>
            <!-- 生成每月1-31号的数字-结束 -->
          <!--   <% @vacation_codes.each do |code| %>
              <th><%= VacationCategory.find_by(:vacation_code => code).vacation_name %></th>
            <% end %> -->
          </tr>
        </thead>
          <tbody>
          <!-- 配置表格数据-开始 -->
            <% if @employees.present? %>
              <% @employees.each do |employee| %>
                <% if params[:year].present? %>
                  <%= render :partial => "group_current_time_employee", :locals => {:employee => employee,:params_year => params[:year],:params_month =>params[:month],:shenhe_year =>@shenhe_year,:shenhe_month => @shenhe_month,:shenhe_day => @shenhe_day } %>
                <% else %>
                  <%= render :partial => "group_current_time_employee", :locals => {:employee => employee,:params_year => [],:params_month => [],:shenhe_year =>@shenhe_year,:shenhe_month => @shenhe_month,:shenhe_day => @shenhe_day } %>
                <% end %>

              <% end %>

            <!-- 配置表格数据-开始 -->
            <% end %>
          </tbody>
        </table>
        <% if params[:year].present? && (params[:year].to_i ==@shenhe_year) && (params[:month].to_i == @shenhe_month)&&(@shenhe_day === Time.now.day) %>
          <div class="" style = "margin-bottom: 50px;">
            <% if (current_user.has_role? :workshopadmin) && (!params[:group].present?) %>
              <%= link_to batch_verify_attendances_path(authority: "workshop",year: @shenhe_year,month: @shenhe_month), method: :post do %>
                 <span style="color: #269Eff;">一键审核</span>
              <% end %>

            <% elsif (current_user.has_role? :attendance_admin) && (@workshop.present?)  %>
              <div class="pull-right">
                <% if @workshops_not_varify.present? %>
                  <%= link_to("前往下一个未审完车间  >>",group_current_time_info_attendances_path(:workshop => @workshops_not_varify.first.id,:year =>params[:year] ,:month => params[:month]))%>
                <% else %>
                  <span style= "color: green;">车间全部审核完毕！</span>
                <% end %>
              </div>
              <% if @duan_yijian_permission == 1%>
                <%= link_to batch_verify_attendances_path(authority: "duan",:workshop_id =>@workshop, year: @shenhe_year,month: @shenhe_month), method: :post do %>
                   <span style="color: #269Eff;">一键审核(<%= Workshop.current.find(@workshop).name%>)</span>
                <% end %>
              <% end %>
            <% end %>
          </div>

        <% end %>
        <div id="showModal">
        </div>
    </div>
  </div>



</div>

<div id="show_processbar_detail">
</div>

<!-- 组织结构树状图的js代码-开始 -->
<script type="text/javascript">
  (function(e) {
    for(var _obj=document.getElementById(e.id).getElementsByTagName(e.tag),i=-1,em;em=_obj[++i];){
      em.onclick = function(){ //onmouseover
        var ul = this.nextSibling;
        if(!ul){
          return false;
        }
        ul = ul.nextSibling;
        if(!ul) {
          return false;
        }
        if(e.tag != 'a') {
          ul = ul.nextSibling;
          if(!ul){
            return false;
          }
        } //a 标签控制 隐藏或删除该行
        for(var _li=this.parentNode.parentNode.childNodes,n=-1,li;li=_li[++n];) {
          if(li.tagName=="LI"){
            for(var _ul=li.childNodes,t=-1,$ul;$ul=_ul[++t];){
              switch($ul.tagName){
                case "UL": $ul.className = $ul!=ul?"" : ul.className?"":"off";
                break;
                case "EM": $ul.className = $ul!=this?"" : this.className?"":"off";
                break;
              }
            }
          }
        }
      }
    }
  })({id:'menu',tag:'i'});
</script>
<!-- 组织结构树状图的js代码-结束 -->
