<%= render "attendance_sidebar"%>
<div class="col-md-12" style="margin-top: -10px;">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>我的申请</th>
          <th>详情</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% applications = Application.where(group_id: current_user.group_id) %>
          <td><%= applications.count %></td>
          <td><%= link_to "查看详情", show_application_attendances_path(applications: applications.pluck("id")), class: "btn btn-primary2" %></td>
        </tr>
      </tbody>
    </table>

  <% if AttendanceStatus.find_by(:workshop_id => @workshop).present? %>
    <h5>考勤表状态：<%= AttendanceStatus.find_by(:workshop_id => @workshop).status %></h5>
  <% end %>
  <% if (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :wgadmin) %>
      <div class="btn_group-2MSRh_0">
        <div class="ivu-tooltip">
            <div class="ivu-tooltip-rel">
              <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
                <%= link_to "#", "data-toggle" => "modal", "data-target" => "#applicationModal" do %>
                   <span style="color: #269Eff;">点击申请</span>
                <% end %>
              </button>
            </div>
            <div class="ivu-tooltip-rel" style="text-align: right; margin-right: -18px;">
              <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
                <%= link_to group_attendances_path(format: "xls") do  %>
                   <span style="color: #269Eff;">导出记录</span>
                <% end %>
              </button>
            </div>
        </div>
      </div>

  <!-- <h5><%= link_to "导出表格", group_attendances_path(format: "xls")%></h5> -->
  <!-- <%= link_to "点击申请", "#", "data-toggle" => "modal", "data-target" => "#applicationModal" %> -->
    <%= form_tag filter_attendances_path, method: 'get' do %>
      <%= label_tag :请输入时间段搜索 %>
      <%= select_tag(:year, options_for_select(@years.collect{ |u| u }), {:required => "true"}) %> ~
      <%= select_tag(:month, options_for_select(@months.collect{ |u| u }), {:required => "true"}) %>
      <%= hidden_field_tag :type, "group" %>
      <%= submit_tag :筛选 %>
     <% end %>
   <% end %>
</div>

<div class="col-md-12" style="margin-top: 20px;">
<% if @year.present? && @month.present?%>
  <h3 class="text-center"><%= @year %>年<%= @month %>考勤数据</h3>
<% else %>
  <h3 class="text-center"><%= Time.now.year %>年<%= Time.now.month %>考勤数据</h3>
<% end %>
<a href="#">考勤汇总统计 >></a>
<div class="card" style="margin-top: 20px;">
  <div style="overflow: auto; width: 100%;">
    <table id="example" class="table table-bordered">
      <thead>
        <tr>
          <th>工资号</th>
          <th>姓名</th>
          <th>职名</th>
          <!-- 生成每月1-31号的数字-开始 -->
          <% (1..31).each do |i| %>

            <% if @time_range === i %>
              <th>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-no-turbolink="true">
                      <%= i %>
                      <b class="caret"></b>
                      <ul class="dropdown-menu">
                        <li><%= link_to "一键设置考勤：", "#" %></li>
                        <%if params[:year].present? && params[:month].present? %>
                          <li><%= link_to "日勤", group_yijian_create_attendances_path(:group_id =>current_user.group_id ,:workshop_id =>current_user.workshop_id ,:year => params[:year], :month => params[:month],:day => i-1,:code =>"日勤" ),method: :post  %></li>
                          <li><%= link_to "节",group_yijian_create_attendances_path(:group_id =>current_user.group_id  ,:workshop_id =>current_user.workshop_id ,:year => params[:year], :month =>params[:month],:day =>i-1 ,:code =>"节" ),method: :post  %></li>
                        <% else %>
                        <li><%= link_to "日勤", group_yijian_create_attendances_path(:group_id =>current_user.group_id ,:workshop_id =>current_user.workshop_id ,:year =>Time.now.year , :month =>Time.now.month,:day => i-1,:code => "日勤"),method: :post  %></li>
                        <li><%= link_to "节",group_yijian_create_attendances_path(:group_id =>current_user.group_id  ,:workshop_id =>current_user.workshop_id ,:year => Time.now.year, :month =>Time.now.month,:day =>i-1 ,:code =>"节" ),method: :post  %></li>
                        <% end %>
                      </ul>
                  </a>
                </li>

              </th>
            <% else %>
              <th><%= i %></th>
            <% end %>
          <% end %>
          <!-- 生成每月1-31号的数字-结束 -->

        </tr>
      </thead>
        <tbody data-behavior='sortable'>
        <!-- 配置表格数据-开始 -->
          <% @employees.each do |employee| %>

            <!-- 将维表中存放的代表每种考勤名称的字母赋值给attendance_codes -->
            <tr>
              <td><%= employee.sal_number %></td>
              <td>
                <%if params[:year].present? && params[:month].present? %>
                  <%= link_to group_employee_detail_attendances_path(:id => employee.id, month: params[:month], year: params[:year]) do %>
                    <%= employee.name %>
                  <% end %>
                <% else %>
                  <%= link_to group_employee_detail_attendances_path(:id => employee.id) do %>
                    <%= employee.name %>
                  <% end %>
                <% end %>
              </td>

              <td><%= employee.duty %></td>
              <!-- 捞出当前员工的考勤数据，数据可以为多个，可以为空 -->
              <% if @year.present? && @month.present? %>
                <% attendance = Attendance.find_by(employee_id: employee.id, month: @month, year: @year) %>
              <% else %>
                <% attendance = Attendance.find_by(employee_id: employee.id, month: Time.now.month, year: Time.now.year) %>
              <% end %>
              <!-- 将现员的考勤数据（字符串格式）拆分成数组，赋值给attendance_ary -->
              <% if attendance.present? %>
                <% attendance = attendance.month_attendances %>
                <!-- 将attendance_ary进行迭代，每一个就是一个员工每天的考勤数据 -->
                <% day_number = 1 %>
                <% (0..30).each do |day| %>
                  <!-- 在维表VacationCategory中通过vacation_code找到对应的考勤简写名称，放入表格 -->

                    <% if @time_range === day_number %>
                      <td>
                        <% if (@year.nil? && @month.nil?) or (@year.to_i == Time.now.year && @month.to_i == Time.now.month) %>
                          <%= link_to show_modal_attendances_path(employee_id: employee.id, month: Time.now.month, year: Time.now.year, day_number: day_number), remote: true, class: "btn btn-primary", "data-toggle" => "modal", "data-target" => "#myModal" do %>
                            <% if attendance[day] == "x" %>
                              <%= day_number %>
                            <% else %>
                              <%= @vacation_code_hash[attendance[day]] %>
                            <% end %>
                          <% end %>
                        <% else %>
                          <% if attendance[day] == "x" %>
                             <div class="btn btn-primary" style="background: white; color: black;">
                               <%= "-" %>
                             </div>
                          <% else %>
                            <%= @vacation_code_hash[attendance[day]] %>
                          <% end %>
                        <% end %>
                      </td>
                    <% else %>
                      <td>
                        <% if attendance[day] == "x" %>
                          <%= "-"%>
                        <% else %>
                          <%= @vacation_code_hash[attendance[day]] %>
                        <% end %>
                      </td>
                    <% end %>
                  <% day_number += 1%>
                <% end %>

              <% end %>
            </tr>
          <% end %>
          <!-- 配置表格数据-结束 -->
       </tbody>
    </table>
    <div id="showModal">
    </div>
   </div>
  </div>
 </div>
</div>
</div>
<%= render 'application_modal' %>
