<%= render "attendance_sidebar"%>
<div class="col-md-12" style="margin-top: -10px;">
  <% if AttendanceStatus.find_by(:workshop_id => @workshop).present? %>
    <h5>考勤表状态：<%= AttendanceStatus.find_by(:workshop_id => @workshop).status %></h5>
  <% end %>
  <% if (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) %>
      <div class="btn_group-2MSRh_0">
        <div class="ivu-tooltip">
            <div class="ivu-tooltip-rel">
              <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
                <%= link_to "#", "data-toggle" => "modal", "data-target" => "#applicationModal" do %>
                   <span style="color: #269Eff;">点击申请</span>
                <% end %>
              </button>
            </div>
            <div class="ivu-tooltip-rel" style="text-align: right; margin-right: -18px;">
              <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
                <%= link_to group_attendances_path(format: "xls") do  %>
                   <span style="color: #269Eff;">导出记录</span>
                <% end %>
              </button>
            </div>
        </div>
      </div>

  <!-- <h5><%= link_to "导出表格", group_attendances_path(format: "xls")%></h5> -->
  <!-- <%= link_to "点击申请", "#", "data-toggle" => "modal", "data-target" => "#applicationModal" %> -->
    <%= form_tag filter_attendances_path, method: 'get' do %>
      <%= label_tag :请输入时间段搜索 %>
      <%= select_tag(:year, options_for_select(@years.collect{ |u| u }), {:required => "true"}) %> ~
      <%= select_tag(:month, options_for_select(@months.collect{ |u| u }), {:required => "true"}) %>
      <%= hidden_field_tag :type, "group" %>
      <%= submit_tag :筛选 %>
     <% end %>
   <% end %>
</div>
<div class="col-md-12" style="margin-top: 20px;">
<% if @year.present? && @month.present?%>
  <h3 class="text-center"><%= @year %>年<%= @month %>考勤数据</h3>
<% else %>
  <h3 class="text-center"><%= Time.now.year %>年<%= Time.now.month %>考勤数据</h3>
<% end %>
<div class="card" style="margin-top: 20px;">
  <div style="overflow: auto; width: 100%;">
    <table id="example" class="table table-bordered">
      <thead>
        <tr>
          <th>工资号</th>
          <th>姓名</th>
          <th>职名</th>
          <!-- 生成每月1-31号的数字-开始 -->
          <% (1..31).each do |i| %>
            <th><%= i %></th>
          <% end %>
          <!-- 生成每月1-31号的数字-结束 -->
          <% @vacation_codes.each do |code| %>
            <th><%= VacationCategory.find_by(:vacation_code => code).vacation_name %></th>
          <% end %>
        </tr>
      </thead>
        <tbody data-behavior='sortable'>
        <!-- 配置表格数据-开始 -->
          <% @employees.each do |employee| %>
            <!-- 声明后面需要用到的hash -->
            <% attendance_hash = {} %>
            <!-- 将维表中存放的代表每种考勤名称的字母赋值给attendance_codes -->
            <tr>
              <td><%= employee.sal_number %></td>
              <td><%= employee.name %></td>
              <td><%= employee.duty %></td>
              <!-- 捞出当前员工的考勤数据，数据可以为多个，可以为空 -->
              <% if @year.present? && @month.present? %>
                <% attendance = Attendance.find_by(employee_id: employee.id, month: @month, year: @year) %>
              <% else %>
                <% attendance = Attendance.find_by(employee_id: employee.id, month: Time.now.month, year: Time.now.year) %>
              <% end %>
              <!-- 将现员的考勤数据（字符串格式）拆分成数组，赋值给attendance_ary -->
              <% if attendance.present? %>
                <% attendance_ary = attendance.month_attendances.split('') %>
                <!-- 将attendance_ary进行迭代，每一个就是一个员工每天的考勤数据 -->
                <% day_number = 1%>
                <% attendance_ary.each do |day_attendance| %>
                  <!-- 在维表VacationCategory中通过vacation_code找到对应的考勤简写名称，放入表格 -->
                  <% if Time.now.day >= 4 %>
                    <% time_range = (Time.now.day - 3)..(Time.now.day) %>
                  <% else %>
                    <% time_range = 1..(Time.now.day) %>
                  <% end %>
                    <% if time_range === day_number %>
                      <td>
                        <% if (@year.nil? && @month.nil?) or (@year.to_i == Time.now.year && @month.to_i == Time.now.month) %>
                          <%= link_to show_modal_attendances_path(employee_id: employee.id, month: Time.now.month, year: Time.now.year, day_number: day_number), remote: true, class: "btn btn-primary", "data-toggle" => "modal", "data-target" => "#myModal" do %>
                            <% if day_attendance == "x" %>
                              <%= day_number %>
                            <% else %>
                              <% if VacationCategory.find_by(:vacation_code => day_attendance).nil? %>
                                <%= "" %>
                              <% else %>
                                <%= VacationCategory.find_by(:vacation_code => day_attendance).vacation_shortening %>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% else %>
                          <% if day_attendance == "x" %>
                             <div class="btn btn-primary" style="background: white; color: black;">
                               <%= "-" %>
                             </div>
                          <% else %>
                           <% if VacationCategory.find_by(:vacation_code => day_attendance).nil? %>
                              <%= "" %>
                            <% else %>
                              <%= VacationCategory.find_by(:vacation_code => day_attendance).vacation_shortening %>
                            <% end %>
                          <% end %>
                        <% end %>
                      </td>
                    <% else %>
                      <td>
                        <% if day_attendance == "x" %>
                          <%= "-"%>
                        <% else %>
                          <% if VacationCategory.find_by(:vacation_code => day_attendance).nil? %>
                            <%= "" %>
                          <% else %>
                            <%= VacationCategory.find_by(:vacation_code => day_attendance).vacation_shortening %>
                          <% end %>
                        <% end %>
                      </td>
                    <% end %>
                  <% day_number += 1%>
                <% end %>
                <% @vacation_codes.each do |code| %>
                  <% if AttendanceCount.where(:vacation_code => code, :employee_id => employee.id).sum(:count) == 0 %>
                    <td></td>
                  <% else %>
                    <td style="color: #269EFF; font-weight: bold; font-size: 16px"><%= AttendanceCount.where(:vacation_code => code, :employee_id => employee.id).sum(:count) %></td>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          <!-- 配置表格数据-结束 -->
       </tbody>
    </table>
    <div id="showModal">
    </div>
   </div>
  </div>
 </div>
</div>
</div>
<%= render 'application_modal' %>
