<%= render "attendance_sidebar"%>
<% if current_user.has_role? :attendance_admin %>
  <!-- 进度条部分-开始 -->
  <!-- 总数统计，呼叫弹窗 -->
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>已审核车间</th>
          <th>未审核车间</th>
          <th>详情</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @workshops.count%></td>
          <td><%= "#{Workshop.all.count.to_i - @workshops.count.to_i}" %></td>
          <td><%= link_to "点击查看", processbar_detail_attendances_path(workshops: @workshops), remote: true, "data-toggle" => "modal", "data-target" => "#verifyModal" %></td>
        </tr>
      </tbody>
    </table>
    <!-- 进度条 -->
    <% percent = (@workshops.count.to_f) / (Workshop.all.count.to_f) * 100 %>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60"
            aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;">
            <span class="sr-only">40% 完成</span>
        </div>
    </div>
    <!-- 进度条部分-结束 -->

    <%= form_tag group_current_time_info_attendances_path, method: 'get' do %>
      <%= select_tag(:workshop, options_for_select(@workshops.collect{|u| u.name})) %>
      <%= submit_tag :点击筛选 %>
    <% end %>

    <%= form_tag %>

    <% if AttendanceStatus.find_by(:workshop_id => @workshop).present? %>
      <h4>当前车间考勤表状态：<%= AttendanceStatus.find_by(:workshop_id => @workshop).status %></h4>
    <% end %>

    <!-- 审核功能-开始 -->
    <% if AttendanceStatus.find_by(:workshop_id => @workshop).present? %>
      <% if !AttendanceStatus.find_by(:workshop_id => @workshop).status == "段已审核" %>
        <div class="btn_group_top-1sKKU_0">
          <div>
            <div class="btn_group-2MSRh_0">
              <div class="ivu-tooltip">
                <div class="ivu-tooltip-rel" style="margin-top:-80px;">
                  <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
                    <%= link_to verify_attendances_path(authority: "duan", workshop: @workshop), method: :post do %>
                       <span style="color: #269Eff;">审核</span>
                    <% end %>
                  </button>
                </div>
                <div class="ivu-tooltip-rel" style="margin-top:-80px;">
                  <button type="button" class="ivu-btn ivu-btn-primary btn-oaG3J_0">
                    <%= link_to batch_verify_attendances_path(authority: "duan"), method: :post do  %>
                       <span style="color: #269Eff;">一键审核</span>
                    <% end %>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>   
      <% end %>
    <% end %>
  </div>
<% end %>

  <!-- 审核功能-结束 -->
<% if @workshop.present? %>
  <h4><%= Workshop.find(@workshop).name %>考勤情况</h4>
<% else %>
  <h4><%= Time.now.year %>年<%= Time.now.month %>月考勤情况</h4>
<% end %>
<div class="col-md-12">
  <div class="card">
    <div style="overflow: auto; width: 100%;">
      <table id="example" class="table table-bordered">
        <thead>
          <tr>
            <th>工资号</th>
            <th>姓名</th>
            <th>职名</th>
            <th>车间</th>
            <th>班组</th>
            <!-- 生成每月1-31号的数字-开始 -->
            <% (1..31).each do |i| %>
              <th><%= i %></th>
            <% end %>
            <!-- 生成每月1-31号的数字-结束 -->
          <!--   <% @vacation_codes.each do |code| %>
              <th><%= VacationCategory.find_by(:vacation_code => code).vacation_name %></th>
            <% end %> -->
          </tr>
        </thead>
          <tbody>
          <!-- 配置表格数据-开始 -->
            <% @employees.each do |employee| %>
              <!-- 声明后面需要用到的hash -->
              <% attendance_hash = {} %>
              <!-- 将维表中存放的代表每种考勤名称的字母赋值给attendance_codes -->
              <tr>
                <td><%= employee.sal_number %></td>
                <td><%= employee.name %></td>
                <td><%= employee.duty %></td>
                <td><%= Workshop.find(employee.workshop).name %></td>
                <td><%= Group.find(employee.group).name %></td>
                <!-- 捞出当前员工的考勤数据，数据可以为多个，可以为空 -->
                <% attendance = Attendance.find_by(employee_id: employee.id) %>
                <!-- 将现员的考勤数据（字符串格式）拆分成数组，赋值给attendance_ary -->
                <% attendance_ary = attendance.month_attendances.split('') %>
                <!-- 将attendance_ary进行迭代，每一个就是一个员工每天的考勤数据 -->
                <% day_number = 1%>
                <% attendance_ary.each do |day_attendance| %>
                  <!-- 在维表VacationCategory中通过vacation_code找到对应的考勤简写名称，放入表格 -->
                <td>
                    <% if day_attendance == "x" %>
                      <%= "" %>
                    <% else %>
                      <%= link_to VacationCategory.find_by(:vacation_code => day_attendance).vacation_shortening, show_modal_attendances_path(employee_id: employee.id, month: Time.now.month, year: Time.now.year, day_number: day_number, type: "duan"), remote: true, class: "btn btn-primary1", "data-toggle" => "modal", "data-target" => "#myModal" %>
                    <% end %>
                </td>
                  <% day_number += 1%>
                <% end %>
              </tr>
            <% end %>
            <!-- 配置表格数据-开始 -->
         </tbody>
        </table>
       <div id="showModal">
      </div>
    </div>
  </div>


  <div class="text-center">
    <%= paginate @employees %>
  </div>
</div>

<div id="show_processbar_detail">
</div>
