<!-- Preloader -->
<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">

  <% if  (current_user.has_role? :attendance_admin) || (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin) || (current_user.has_role? :depudy_leaderadmin)%>

        <% if @shenhe_day === Time.now.day%>
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>已审核车间</th>
                  <th>未审核车间</th>
                  <th>详情</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @workshops_all_varified.count%></td>
                  <td><%= Workshop.current.count - @workshops_all_varified.count %></td>
                  <td><%= link_to "点击查看", processbar_detail_attendances_path(workshops: @workshops_all_varified.pluck(:id)), remote: true, "data-toggle" => "modal", "data-target" => "#verifyModal" %></td>
                </tr>
              </tbody>
            </table>

            <% if @workshop.present? %>
              <% if AttendanceStatus.where(:group_id => @groups.ids,:year => @shenhe_year, :month => @shenhe_month,:status => ["车间已审核","科室已上报"]).present? %>
                <p>当前车间考勤表状态：<span style = "color:green;">有班组待审核</span> </p>
              <% else %>
                <p>当前车间考勤表状态：<span style = "color:red;">暂时没有可以审核的班组</span> </p>
              <% end %>
            <% elsif @group.present? %>
              <% if AttendanceStatus.find_by(:group_id => @group,:year => @year ,:month => @month).present? %>
                <p>当前班组考勤表状态：<span style = "color:blue;"><%= AttendanceStatus.find_by(:group_id => @group,:year => @year,:month => @month).status %></span><p/>
              <% end %>
            <% end %>

          </div>
        <% end %>

        <% if @workshop.present? %>
          <h4><%= Workshop.current.find(@workshop).name %><%= @year %>年<%= @month %>月考勤情况</h4>
        <% elsif @group.present? %>
          <h4><%= Group.current.find(@group).name %><%= @year %>年<%= @month %>月考勤情况</h4>
        <% else %>
          <h4>供电段<%= @year %>年<%= @month %>月考勤情况</h4>
        <% end %>

        <%= link_to show_application_attendances_path(type: "duan"),data: {disable_with: "加载中... "} do %>
          <span class="pull-right btn btn-primary2">查看申请<i style = "color:red;">(<%= @applications.count%>条)</i> </span>
        <% end %>
  <% end %>


  <% if current_user.has_role? :workshopadmin %>
    <% if @workshop.present? %>
      <% if AttendanceStatus.find_by(:group_id => @groups.ids,:year => @year,:month => @month,:status => "班组已上报").present? && (@shenhe_day === Time.now.day)%>
        <p>当前车间考勤表状态：<span style = "color:green;">有班组待审核</span></p>
      <% else %>
        <p>当前车间考勤表状态：<span style = "color:red;">暂时没有可以审核的班组</span> </p>
      <% end %>
      <h4><%= current_user.name %><%= @year %>年<%= @month %>月考勤情况</h4>
    <% elsif @group.present? %>
      <% if AttendanceStatus.find_by(:group_id => @group,:year => @year,:month => @month).present?%>
        <p>当前班组考勤表状态：<span style="color:blue;"><%= AttendanceStatus.find_by(:group_id => @group,:year => @year,:month => @month).status %></span></p>
      <% end %>
        <h4><%= Group.current.find(@group).name %><%= @year %>年<%= @month %>月考勤情况</h4>
    <% else %>
      <% if AttendanceStatus.find_by(:group_id => @groups.ids,:year => @year,:month => @month,:status => "班组已上报").present? && (@shenhe_day === Time.now.day)%>
        <p>当前车间考勤表状态：<span style = "color:green;">有班组待审核</span></p>
      <% else %>
        <p>当前车间考勤表状态：<span style = "color:red;">暂时没有可以审核的班组</span> </p>
      <% end %>
      <h4><%= current_user.name %><%= @year %>年<%= @month %>月考勤情况</h4>
    <% end %>


    <%= link_to show_application_attendances_path(type: current_user.workshop_id),data: {disable_with: "加载中... "} do %>
      <span class="pull-right btn btn-primary2">查看申请<i style = "color:red;">(<%= @applications.count%>条)</i> </span>
    <% end %>
    <div class="ivu-tooltip-rel pull-right" style="margin-right: 5px;">
      <%= link_to "申请修改考勤",group_application_attendances_path(:year => @year,:month => @month,:group_id => params[:group]),:data => {disable_with: "加载中 ... "},class:"btn btn-primary" %>
    </div>
  <% end %>




  <div class="searchform">
    <%= form_tag group_current_time_info_attendances_path, method: 'get' do %>
      <%= label_tag :请输入时间段搜索 %>
        <select class="" name="year">
          <% Attendance.pluck(:year).uniq.each do |year| %>
            <% if year == @year %>
              <option value="<%= year %>" selected ><%= year %></option>
            <% else %>
              <option value="<%= year %>" ><%= year %> </option>
            <% end %>
          <% end %>
        </select>
    ～
        <select class="" name="month">
          <% Attendance.pluck(:month).uniq.each do |month| %>
            <% if month == @month %>
              <option value="<%= month%>" selected ><%= month%></option>
            <% else %>
              <option value="<%= month%>" ><%= month %></option>
            <% end %>
          <% end %>
        </select>
        <%= submit_tag :筛选 %>
    <% end %>
  </div>




  <div class="content-body">

    <p style="color:red;"><b style="font-size:15px;">【温馨提示】</b>1、多选填写入口：点击表头首行的绿色日期；2、查看个人考勤统计：点击人员姓名;</p>
    <% if current_user.has_role? :workshopadmin %>
          <ul class="nav nav-tabs" style="background-color: #FFFFFF">
              <% workshop = Workshop.current.find_by(name: current_user.name) %>
            <li role="presentation"><a href='/attendances/group_current_time_info?workshop=<%= workshop.id %>&year=<%=@year%>&month=<%=@month%>'><%= workshop.name %></a></li>
              <% Group.current.where(:workshop_id => workshop.id).each do |group| %>
              <% if AttendanceStatus.where(:year => @shenhe_year , :month => @shenhe_month,:group_id => group.id,:status => "车间已审核")%>
            <li role="presentation" ><a href='/attendances/group_current_time_info?group=<%= group.id %>&year=<%=@year%>&month=<%=@month%>'>
              <% elsif AttendanceStatus.where(:year => @shenhe_year , :month => @shenhe_month,:group_id => group.id,:status => "班组已上班")%>
            <li role="presentation" ><a href='/attendances/group_current_time_info?group=<%= group.id %>&year=<%=@year%>&month=<%=@month%>'>
              <% else AttendanceStatus.where(:year => @shenhe_year , :month => @shenhe_month,:group_id => group.id,:status => "班组/科室填写中")%>
            <li role="presentation" ><a href='/attendances/group_current_time_info?group=<%= group.id %>&year=<%=@year%>&month=<%=@month%>'>
              <% end %>
              <%= group.name %></a></li>
            <% end %>
          </ul>
    <% else %>





          <li><%= link_to "北京供电段", group_current_time_info_attendances_path(duan: "北京供电段",year: @year,month: @month) %></li>
          <div class="searchform">
            <%= form_tag group_current_time_info_attendances_path,method: :get do %>
            <div class="select" style="float:left;">
              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="workshop" id= "workshop_id">
                <% Workshop.all.each do |workshop| %>
                  <option value="<%= workshop.id%>"><%= workshop.name%></option>
                <% end %>
              </select>
            </div>
              <%= submit_tag "搜索",data: {disable_with: "加载中..."},class: "btn btn-primary" %>
            <% end %>
          </div>
          <ul class="nav nav-tabs" style="background-color: #FFFFFF">
            <% if params[:group].blank? %>
              <% @groups.each do |group| %>
                <li role="presentation"><%= link_to(group.name,group_current_time_info_attendances_path(:group => group.id))%></li>
              <% end %>
            <% else %>
              <% groups = Group.where(:workshop_id => Group.find(params[:group]).workshop_id) %>
              <% groups.each do |group| %>
                <li role="presentation"><%= link_to(group.name,group_current_time_info_attendances_path(:group => group.id))%></li>
              <% end %>
            <% end %>
          <!-- <% @workshops_all_varified.each do |all_verified_workshop| %>
            <% all_verified_groups = Group.current.where(:workshop_id => all_verified_workshop.id) %>
            <li role="presentation">
                <a style="color:black;" href='/attendances/group_current_time_info?workshop=<%= all_verified_workshop.id %>&year=<%=@year%>&month=<%=@month%>'>
                  <%= all_verified_workshop.name %>
                </a>
              <ul>
                <% all_verified_groups.each do |group| %>
                  <li>
                      <a style="color:black;" href='/attendances/group_current_time_info?group=<%= group.id %>&year=<%=@year%>&month=<%=@month%>'>
                        <%= group.name %>
                      </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %> -->

          <!-- <% @workshops.each do |verify_workshop| %>
            <% groups = Group.current.where(:workshop_id => verify_workshop.id) %>
            <li>
                <a style="color:green" href='/attendances/group_current_time_info?workshop=<%= verify_workshop.id %>&year=<%=@year%>&month=<%=@month%>'>
                  <%= verify_workshop.name %>
                </a>
            <ul>
                <% groups.each do |group| %>
                  <li>
                  <% if AttendanceStatus.where(:year => @shenhe_year , :month => @shenhe_month,:group_id => group.id,:status => ["车间已审核","科室已上报"]).present? %>
                    <a style="color:green" href='/attendances/group_current_time_info?group=<%= group.id %>&year=<%=@year%>&month=<%=@month%>'>
                  <% elsif AttendanceStatus.where(:year => @shenhe_year , :month => @shenhe_month,:group_id => group.id,:status => "段已审核").present? %>
                    <a style="color:black;" href='/attendances/group_current_time_info?group=<%= group.id %>year=<%=@year%>&month=<%=@month%>'>
                  <% else %>
                    <a style="color:red;" href='/attendances/group_current_time_info?group=<%= group.id %>year=<%=@year%>&month=<%=@month%>'>
                  <% end %>
                      <%= group.name %>
                    </a></li>
                <% end %>
              </ul>
            </li>
          <% end %> -->


          <!-- <% @workshops_not_varify.each do |no_verify_workshop| %>
            <% no_verify_groups = Group.current.where(:workshop_id => no_verify_workshop.id) %>
            <li>
                <a style="color:red;" href='/attendances/group_current_time_info?workshop=<%= no_verify_workshop.id %>&year=<%=@year%>&month=<%=@month%>'>
                  <%= no_verify_workshop.name %>
                </a>
              <ul>

                <% no_verify_groups.each do |group| %>
                  <li>
                      <a style="color:red" href='/attendances/group_current_time_info?group=<%= group.id %>&year=<%=@year%>&month=<%=@month%>'>
                        <%= group.name %>
                      </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %> -->
        </ul>
    <% end %>

        <div class="panel panel-body">
            <table class="table overflow-y table-bordered table-striped">
              <thead>
                <tr>
                  <th>工资号</th>
                  <th>姓名</th>
                  <th>职名</th>
                  <th>车间</th>
                  <th>班组</th>
                  <!-- 生成每月1-31号的数字-开始 -->
                  <% arry = ["日","一","二","三","四","五","六"]%>
                  <% (1..31).each do |i| %>
                    <th>
                      <% if params[:group].present? && (current_user.has_role? :attendance_admin)%>
                        <%= link_to i,simple_input_attendance_attendances_path(:group_id => params[:group],:year => @year , :month => @month,:day => i-1),style: "font-weight:900;color: #00D396"%>
                      <% elsif params[:group].present? && (current_user.has_role? :workshopadmin) && AttendanceStatus.find_by(:year => @year , :month => @month,:group_id => params[:group],:status => ["班组已上报","班组/科室填写中"]).present?%>
                        <%= link_to i,simple_input_attendance_attendances_path(:group_id => params[:group],:year => @year , :month => @month,:day => i-1),style: "font-weight:900;color: #00D396"%>
                      <% else %>
                        <%= i %>
                      <% end %>
                      <br>
                      <%= arry[Time.local(@year,@month,i).wday]%>
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
              <!-- 配置表格数据-开始 -->
                  <%= render :partial => "group_current_time_employee", :collection => @employees, :as => :employee, :locals => {:params_year => @year,:params_month => @month,:shenhe_year =>@shenhe_year,:shenhe_month => @shenhe_month,:shenhe_day => @shenhe_day}%>
              </tbody>
            </table>
            <div id="showModal"></div>
        </div>
  </div>

  <div class="content-footer">
    <% if (@year ==@shenhe_year) && (@month == @shenhe_month)&&(@shenhe_day === Time.now.day) %>
        <% if (current_user.has_role? :workshopadmin) && (!params[:group].present?) && @workshop_yijian_permission ==1 %>
             <span style="color: #269Eff;"><%= link_to "一键审核",batch_verify_attendances_path(authority: "workshop",year: @shenhe_year,month: @shenhe_month), method: :post,:data => {disable_with: "正在审核中 ..."} %></span>
        <% elsif (current_user.has_role? :attendance_admin) && (@workshop.present?)  %>
            <% if @workshops_not_varify.present? %>
              <%= link_to("前往下一个未审完车间  >>",group_current_time_info_attendances_path(:workshop => @workshops_not_varify.first.id,:year =>@year ,:month => @month))%>
            <% else %>
              <span style= "color: green;">车间全部审核完毕！</span>
            <% end %>
          <% if @duan_yijian_permission == 1%>
               <span style="color: #269Eff;"><%= link_to "一键审核(#{Workshop.current.find(@workshop).name})",batch_verify_attendances_path(authority: "duan",:workshop_id =>@workshop, year: @shenhe_year,month: @shenhe_month), method: :post,:data => {disable_with: "正在审核中 ..."} %></span>
          <% end %>
        <% end %>
    <% end %>
  </div>

</div>


<div id="show_processbar_detail"></div>
<script>
  $("#workshop_id").select2( { theme: "bootstrap"} );
</script>
