<div class="contentpanel">
		<% if current_user.has_role? :attendance_admin %>
			<%= form_tag create_holiday_time_attendances_path do %>
				<%= label_tag :请输入休假员工姓名 %>
				<%= text_field_tag :name %><br><br>
				<%= label_tag :请输入休假员工工资号 %>
				<%= text_field_tag :sal_number %><br><br>
				<%= label_tag :请选择假期类型 %>
				<%= select_tag(:vacation, options_for_select(["产假(顺产)", "产假(剖腹)", "育儿假", "病假"]), {:required => "true"}) %><br><br>
				<%= label_tag :请输入休假起始时间 %>
				<%= text_field_tag :start_time %><br><br>
				<%= submit_tag :点击确定 %>
			<% end %>
		<% end %>

		<% HolidayStartTime.all.each do |holiday_time| %>
			<%= past_time = (Time.now - holiday_time.start_time) / 86400 %>
			<% if (holiday_time.vacation == "病假") or (holiday_time.vacation == "育儿假") %>
				<% if ((180 - past_time) > 59) &&  ((180 - past_time) < 61) %>
					<h4><%= holiday_time.name %>的<%= holiday_time.vacation %>还有两个月到期</h4>
				<% end %>
				<% if ((180 - past_time) > 29) &&  ((180 - past_time) < 31)  %>
					<h4><%= holiday_time.name %>的<%= holiday_time.vacation %>还有一个月到期</h4>
				<% end %>
			<% elsif holiday_time.vacation == "产假(顺产)" %>
				<% if ((218 - past_time) > 59) &&  ((218 - past_time) < 61) %>
					<h4><%= holiday_time.name %>的<%= holiday_time.vacation %>还有两个月到期</h4>
				<% end %>
				<% if ((218 - past_time) > 29) &&  ((218 - past_time) < 31)  %>
					<h4><%= holiday_time.name %>的<%= holiday_time.vacation %>还有一个月到期</h4>
				<% end %>
			<% elsif holiday_time.vacation == "产假(剖腹)" %>
				<% if ((233 - past_time) > 59) &&  ((233 - past_time) < 61) %>
					<h4><%= holiday_time.name %>的<%= holiday_time.vacation %>还有两个月到期</h4>
				<% end %>
				<% if ((233 - past_time) > 29) &&  ((233 - past_time) < 31)  %>
					<h4><%= holiday_time.name %>的<%= holiday_time.vacation %>还有一个月到期</h4>
				<% end %>
			<% end %>
		<% end %>
	</div>
