<div class="contentpanel">
  <div class="panel panel-default">
    <%= render "attendance_sidebar"%>
  </div>
<div class="card">
	<div style="overflow: auto;" class="col-md-10">
		<div class="btn-back" style="margin-bottom: 10px">
      <%= link_to '返回', :back %>
    </div>

	  <table id="example" class="table table-bordered">
	    <thead>
	    	<tr>
	    		<th>修改详情</th>
	    		<th>修改用户</th>
	    		<th>修改时间</th>
	    		<th>有无申请</th>
	    	</tr>
	    </thead>
	    					<tbody>
	    	<% attendances = Attendance.where(:employee_id => params[:employee], :month => params[:month], :year => params[:year]).pluck("id") %>
	    	<% attendance_records = AttendanceRecord.where(:attendance_id => attendances) %>

	    	<% attendance_records.each do |record| %>
		    	<tr>
		    		<% employee_id = Attendance.find(record.attendance_id).employee_id %>
		    		<td>于<%= params[:year] %>年<%= params[:month] %>月<%= record.day %>日，将<%= Employee.current.find(employee_id).name %>的考勤从<%= @category_name_hash[record.edit_before] %>修改为<%= @category_name_hash[record.edit_after] %></td>
		    		<td><%= record.modify_person %></td>
		    		<td><%= record.created_at %></td>
		    		<% attendance = Attendance.find(record.attendance_id) %>
		    		<% application = Application.find_by(:employee_id => attendance.employee_id, :year => params[:year], :month => params[:month], :day => record.day) %>
					<% if application.present? %>
		    			<td><%= link_to "有", show_application_detail_attendances_path(application: application), remote: true, class: "btn btn-primary", "data-toggle" => "modal", "data-target" => "#showApplicationModal" %></td>
		    		<% else %>
		    			<td>无</td>
		    		<% end %>
		    	</tr>
	    	<% end %>
	    </tbody>
	  </table>
	</div>
</div>
<div id="showAppModal">
</div>
</div>
