<%= render "attendance_sidebar"%>

<div class="card">
  <div class="col-md-10" style="overflow: auto">
    <div class="back-btn">
      <%= link_to '<< 返回', group_current_time_info_attendances_path %>
    </div>
    <table id="example" class="table table-bordered">
      <thead>
      	<tr>
      		<% if params[:type] == "duan" %>
      	    	<th>车间</th>
      	    <% end %>
      	    <th>班组</th>
            <th>需修改人员</th>
            <th>需修改考勤日期</th>
      		<th>修改原因</th>
          <th>修改前</th>
          <th>修改后</th>

      		<th>申请提交人</th>
      		<th>提交时间</th>
          <th>申请状态</th>
          <% if (current_user.has_role? :workshopadmin) || (current_user.has_role? :attendance_admin) %>
            <th>操作</th>
          <% end %>
      	</tr>
      </thead>
      <tbody>
        <% if @applications.present? %>
      	<% @applications.each do |application| %>
	      	<tr>
	      		<% if params[:type] == "duan" %>
              <% if Group.find(application.group_id).present? %>
	      			  <% group = Group.find(application.group_id) %>
	      	    	<td><%= Workshop.find("#{group.workshop_id}").name %></td>
              <% end %>
	      	  <% end %>
            <% if Group.find(application.group_id).present? %>
	      		  <td><%= Group.find(application.group_id).name %></td>
            <% end %>
            <td><%= Employee.current.find_by(:id => application.employee_id).name %></td>
            <td><%= application.month %>月<%= application.day %>日</td>

	      		<td><%= application.cause %></td>
            <td>
              <% if (!application.application_before.present?) || (application.application_before == "x") %>
                考勤未填写
              <% else %>
                <%= @vacation_name_hash[(application.application_before)]%>
              <% end %>
            </td>
            <td>
              <% if (!application.application_after.present?) || (application.application_after == "x") %>
                未注明
              <% else %>
                <%= @vacation_name_hash[application.application_after]%>
              <% end %>
            </td>

	      		<td><%= application.apply_person %></td>
	      		<td><%= application.created_at %></td>
            <td><%= application.status %></td>
            <% if (current_user.has_role? :workshopadmin) || (current_user.has_role? :attendance_admin) %>
              <% if params[:type] == "duan" %>
                <% if application.status == "段通过申请" %>
                  <td>已处理</td>
                <% else %>
                  <td><%= link_to "通过申请", update_application_attendances_path(:type => "duan",application_id: application.id, status: "段通过申请"), method: :post, class: "btn btn-primary" %></td>
                <% end %>
              <% else %>
                <% if (application.status == "车间通过申请") or (application.status == "段通过申请") %>
                  <td>已处理</td>
                <% else %>
                  <td><%= link_to "通过申请", update_application_attendances_path(application_id: application.id, status: "车间通过申请"), method: :post, class: "btn btn-primary" %></td>
                <% end %>
              <% end %>
            <% end %>
	      	</tr>
      	<% end %>
        <% end %>
      </tbody>
  </table>
<% if (current_user.has_role? :workshopadmin) || (current_user.has_role? :attendance_admin) %>
  <div class="pull-right" style= "margin-bottom:20px;margin-right:20px;">
    <% if params[:type] == "duan" %>
      <%= link_to("一键通过", update_application_attendances_path(:type => params[:type],:yijian => "duan",:status => "段通过申请"),method: :post,class: "btn btn-primary")%>
    <% else %>
      <%= link_to("一键通过", update_application_attendances_path(:type => params[:type],:yijian => "workshop",:status => "车间通过申请"),method: :post,class: "btn btn-primary")%>
    <% end %>
  </div>
<% end %>
</div>
</div>
