<div class="pageheader">
  <h4>
    <% if (current_user.has_role? :groupadmin) || (current_user.has_role? :organsadmin) || (current_user.has_role? :wgadmin) %>
      <a href="/attendances/group?year=<%= params[:year]%>&month=<%= params[:month]%>">
    <% elsif (current_user.has_role? :attendance_admin) || (current_user.has_role? :workshopadmin) %>
      <a href="/attendances/group_current_time_info?group=<%=params[:group_id]%>&year=<%= params[:year]%>&month=<%= params[:month]%>">
    <% end %>
       <span class="glyphicon glyphicon-share-alt"></span>返回:<span>填写考勤</span>
      </a>
  </h4>
</div>
<div class="contentpanel">
  <header>
    <h4 style = "text-align:center;"><%= @group.name%><%= params[:year]%>年<%= params[:month]%>月<%= params[:day].to_i + 1 %>日填写考勤</h4>
  </header>
    <%= form_tag group_yijian_create_attendances_path,method: :post do %>
      <%= hidden_field_tag "group_id", params[:group_id] %>
      <%= hidden_field_tag "year", params[:year] %>
      <%= hidden_field_tag "month", params[:month] %>
      <%= hidden_field_tag "day", params[:day] %>
      <p style="color:red;"><b style="font-size:15px;">【温馨提示】</b>一键勾选：点击表头首行的考勤名称 </p>
      <div class="panel panel-default">
          <div class="table">
            <table class="table  overflow-y table-bordered table-striped">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>姓名</th>
                  <th>工号</th>
                  <% @vacation_short_code_hash.keys.each do |vacation_short_name| %>
                    <th>
                      <%= link_to simple_input_attendance_attendances_path(:group_id => params[:group_id],:year =>params[:year] , :month =>params[:month],:day => params[:day],:yijian_code => @vacation_short_code_hash[vacation_short_name]) do %>
                        <%= vacation_short_name%>
                      <% end %>
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% n = 0 %>
                <% @employees.each do |employee| %>
                  <% n += 1 %>
                  <% month_attendances = Attendance.find_by(:employee_id => employee.id,:year => params[:year],:month => params[:month]).month_attendances%>
                  <tr>
                    <td><%= n %></td>
                    <td><%= employee.name %></td>
                    <td><%= employee.sal_number %></td>
                    <% @vacation_short_code_hash.values.each do |vacation_code| %>
                        <td>
                        <% if params[:yijian_code].present? && params[:yijian_code]== vacation_code %>
                          <input type="radio" checked="checked" id="rock" name="<%=employee.id%>" value="<%=vacation_code%>" />
                        <% else %>
                          <% if month_attendances[params[:day].to_i] == vacation_code%>
                            <input type="radio" checked="checked" id="rock" name="<%=employee.id%>" value="<%=vacation_code%>" />
                          <% else %>
                            <input type="radio" id="rock" name="<%=employee.id%>" value="<%=vacation_code%>" />
                          <% end %>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

      </div>
      <div class="button-group">
        <%= submit_tag "提交考勤",data: {disable_with: "考勤提交中..."} %>
      </div>
    <% end %>

</div>
