
<a href="/attendances/group" class="col-md-12"> < < 返回</a>
<h4 style = "text-align:center;"><%= @group.name%><%= params[:year]%>年<%= params[:month]%>月<%= params[:day].to_i + 1 %>日填写考勤</h4>
  <%= form_tag group_yijian_create_attendances_path,method: :post do |f|%>
    <%= hidden_field_tag "group_id", params[:group_id] %>
    <%= hidden_field_tag "year", params[:year] %>
    <%= hidden_field_tag "month", params[:month] %>
    <%= hidden_field_tag "day", params[:day] %>

    <div class="" style= "width:95%;">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>工号</th>
            <% @vacation_short_code_hash.keys.each do |vacation_short_name| %>
              <th>
                <%= link_to simple_input_attendance_attendances_path(:group_id => params[:group_id],:year =>params[:year] , :month =>params[:month],:day => params[:day],:yijian_code => @vacation_short_code_hash[vacation_short_name]) do %>
                  <%= vacation_short_name%>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% @employees.each do |employee| %>
            <% n += 1 %>
            <tr>
              <td><%= n %></td>
              <td><%= employee.name %></td>
              <td><%= employee.sal_number %></td>
              <% @vacation_short_code_hash.values.each do |vacation_code| %>
                <td>
                  <% if params[:yijian_code].present? && params[:yijian_code]== vacation_code %>
                    <input id="rock" checked="checked" name="<%=employee.id%>" type="radio" value="<%=vacation_code%>" />

                  <% else %>
                    <input id="rock"  name="<%=employee.id%>" type="radio" value="<%=vacation_code%>" />
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <%= submit_tag "提交考勤",data: {disable_with: "考勤提交中..."} %>
    </div>

  <% end %>
