<div class="card">
  <div style="overflow: auto; width: 100%;">
    <table id="example" class="table table-bordered">
      <thead>
        <tr>
          <th>顺号</th>
          <th>班组</th>
          <th>姓名</th>
          <th>工资号</th>
          <th>年龄</th>
          <% @vacation_names.each do |name| %>
            <th><%= name %></th>
          <% end %>
        </tr>
      </thead>
        <tbody data-behavior='sortable'>
          <% @employees.each do |employee| %>
            <% attendance_hash= {} %>
            <tr>
              <td></td>
              <td><%= employee.group %></td>
              <td><%= employee.name %></td>
              <td><%= employee.sal_number %></td>
              <td><%= employee.age %></td>
              <% a = Attendance.find_by(:employee_id => employee.id, :month => Time.now.month) %>

              <% attendance_ary = a.month_attendances.split('') %> 
              <% @vacation.values.each do |code| %>
                <% attendance_hash[code] = attendance_ary.map{|x| x if x==code}.compact.count %>
              <% end %>
              <% @vacation.values.each do |m| %>
                <td><%= attendance_hash[m] %></td>
              <% end %>
              
            </tr>
          <% end %> 
       </tbody>
    </table>
  </div>
</div>