<h4>本考勤表状态:<%= @status.status %></h4>
<%= link_to "通过审核", verify_attendances_path(:click_group => @click_group), method: :post, class: "btn btn-primary" %>
<div class="col-md-12" style="height: 100%">
    <div class="col-md-2" id="menu" style="background-color: white;overflow: auto;height: 100%;">
      <h5><%= link_to @workshop.name, organization_structure_employees_path(duan: "北京供电段") %></h5>
      <ul>
        <% @groups.each do |group| %>
          <li><a href='/attendances/workshop?group=<%= group.id %>&workshop=<%= @workshop.id %>'><%= group.name %></a></li>
        <% end %>
        <li>
      </ul>
    </div>

<div class="card">
  <div class="col-md-10" style="overflow: auto">
    <table id="example" class="table table-bordered">
      <thead>
        <tr>
          <th>顺号</th>
          <th>班组</th>
          <th>姓名</th>
          <th>工资号</th>
          <th>年龄</th>
          <% @vacation_names.each do |name| %>
            <th><%= name %></th>
          <% end %>
        </tr>
      </thead>
        <tbody data-behavior='sortable'>
          <% @employees.each do |employee| %>
            <% attendance_hash= {} %>
            <% day_number = 1%>
            <tr>
              <td></td>
              <td><%= Group.find_by(:id => employee.group).name %></td>
              <td><%= employee.name %></td>
              <td><%= employee.sal_number %></td>
              <td><%= employee.age %></td>

              <%= render 'attendance_count', :employee => employee, :attendance_hash => attendance_hash, :day_number => day_number %>
              
            </tr> 
          <% end %> 
       </tbody>
    </table>
  </div>
</div>
</div>

<script type="text/javascript">
      (function(e) {
        for(var _obj=document.getElementById(e.id).getElementsByTagName(e.tag),i=-1,em;em=_obj[++i];){
          em.onclick = function(){ //onmouseover
            var ul = this.nextSibling;
            if(!ul){
              return false;
            }
            ul = ul.nextSibling;
            if(!ul) {
              return false;
            }
            if(e.tag != 'a') {
              ul = ul.nextSibling;
              if(!ul){
                return false;
              }
            } //a 标签控制 隐藏或删除该行
            for(var _li=this.parentNode.parentNode.childNodes,n=-1,li;li=_li[++n];) {
              if(li.tagName=="LI"){
                for(var _ul=li.childNodes,t=-1,$ul;$ul=_ul[++t];){
                  switch($ul.tagName){
                    case "UL": $ul.className = $ul!=ul?"" : ul.className?"":"off";
                    break;
                    case "EM": $ul.className = $ul!=this?"" : this.className?"":"off";
                    break;
                  }
                }
              }
            }
          }
        }
      })({id:'menu',tag:'em'});
    </script>