<%= render "attendance_sidebar"%>
<% groups = [] %>
<% application_id = [] %>
<% Workshop.find_by(:name => current_user.name).groups.each do |group| %>
  <% groups << group.id %>
<% end %>
<% applications = Application.where(:group_id => groups, :status => "班组发起申请" ) %>
<% applications.each do |application| %>
  <% application_id << application.id %>
<% end %>
<h4>您有<%= link_to applications.count, show_application_attendances_path(applications: application_id, type: @workshop) %>条修改申请需要处理</h4>
<% if (@year.nil? && @month.nil?) or (@year.to_i == Time.now.year && @month.to_i == Time.now.month) %>
  <h4>本考勤表状态:<%= @status %></h4> 
  <%= link_to "一键审核全部", batch_verify_attendances_path(authority: "workshop"), method: :post, class: "btn btn-primary pull-right" %>
  <%= link_to "通过审核", verify_attendances_path(authority: "workshop", group: @click_group), method: :post, class: "btn btn-primary pull-right" %>
<% end %>
<%= form_tag filter_attendances_path, method: 'get' do %>
  <%= label_tag :请输入时间段搜索 %>
  <%= select_tag(:year, options_for_select(@years.collect{ |u| u }), {:required => "true"}) %> ~
  <%= select_tag(:month, options_for_select(@months.collect{ |u| u }), {:required => "true"}) %>
  <%= hidden_field_tag :type, "workshop" %>
  <%= submit_tag :筛选 %>
<% end %>
<div class="col-md-12" style="height: 100%">
    <div class="col-md-2" id="menu" style="background-color: white;overflow: auto;height: 100%;">
      <h5><%= @workshop.name%></h5>
      <ul>
        <% @groups.each do |group| %>
          <li><a href='/attendances/workshop?group=<%= group.id %>&workshop=<%= @workshop.id %>'><%= group.name %></a></li>
        <% end %>
      </ul>
    </div>

<div class="card">
  <div class="col-md-10" style="overflow: auto">
    <table id="example" class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>班组</th>
          <th>姓名</th>
          <th>工资号</th>
          <th>年龄</th>
          <% @vacation_codes.each do |code| %>
            <th><%= VacationCategory.find_by(:vacation_code => code).vacation_name %></th>
          <% end %>
        </tr>
      </thead>
        <tbody data-behavior='sortable'>
          <% @employees.each do |employee| %>
            <% attendance_hash= {} %>
            <% day_number = 1%>
            <tr>
              <td><%= employee.id %></td>
              <td><%= Group.find_by(:id => employee.group).name %></td>
              <td><%= employee.name %></td>
              <td><%= employee.sal_number %></td>
              <td><%= employee.age %></td>
              <% @vacation_codes.each do |code| %>
                <% if @year.present? && @month.present? %>
                  <td><%= AttendanceCount.where(:vacation_code => code, :employee_id => employee.id, :month => @month, :year => @year).sum(:count) %></td>
                <% else %>
                  <td><%= AttendanceCount.where(:vacation_code => code, :employee_id => employee.id, :month => Time.now.month, :year => Time.now.year).sum(:count) %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
       </tbody>
    </table>
  </div>
</div>
</div>

<script type="text/javascript">
      (function(e) {
        for(var _obj=document.getElementById(e.id).getElementsByTagName(e.tag),i=-1,em;em=_obj[++i];){
          em.onclick = function(){ //onmouseover
            var ul = this.nextSibling;
            if(!ul){
              return false;
            }
            ul = ul.nextSibling;
            if(!ul) {
              return false;
            }
            if(e.tag != 'a') {
              ul = ul.nextSibling;
              if(!ul){
                return false;
              }
            } //a 标签控制 隐藏或删除该行
            for(var _li=this.parentNode.parentNode.childNodes,n=-1,li;li=_li[++n];) {
              if(li.tagName=="LI"){
                for(var _ul=li.childNodes,t=-1,$ul;$ul=_ul[++t];){
                  switch($ul.tagName){
                    case "UL": $ul.className = $ul!=ul?"" : ul.className?"":"off";
                    break;
                    case "EM": $ul.className = $ul!=this?"" : this.className?"":"off";
                    break;
                  }
                }
              }
            }
          }
        }
      })({id:'menu',tag:'em'});
    </script>
