<div class="workshop_verify_index1">
  <div class="workshop_verify_label" id="my-open-click">
    <b style="font-size:20px;margin-left:-30px;margin-right:30px;">+</b>当前已审核班组：<%= @groups_already.count %>个，未审核班组：<%= @groups_can.count + @groups_cannot.count %>个，审核进度<%= ((@groups_already.count.to_f)*100/@groups.count).round(2)%>%
  </div>
  <div class="" id="foo">
    <div class="workshop_verify_label" id="my-hide-click">
      <b style="font-size:20px;margin-left:-30px;margin-right:30px;">-</b>当前已审核班组：<%= @groups_already.count %>个，未审核班组：<%= @groups_can.count + @groups_cannot.count %>个，审核进度<%= ((@groups_already.count.to_f)*100/@groups.count).round(2)%>%
      <% if (current_user.has_role? :attendance_admin) || (current_user.has_role? :superadmin) || (current_user.has_role? :leaderadmin) || (current_user.has_role? :depudy_leaderadmin) %>
        <div style="margin-left:20%;background-color: #00D396;"></div>
        <span>车间已上报</span>
        <div style= "background-color: #FF9900;"></div>
        <span>车间未上报</span>
        <div style ="background-color: #999999"></div>
        <span>段已审核</span>
      <% elsif current_user.has_role? :workshopadmin %>
        <div style="margin-left:20%;background-color: #00D396;"></div>
        <span>班组已上报</span>
        <div style= "background-color: #FF9900;"></div>
        <span>班组未上报</span>
        <div style ="background-color: #999999"></div>
        <span>车间已审核</span>
      <% end %>
    </div>

    <div class="workshop_verify_card">
      <%= link_to workshop_verify_index_attendances_path(:workshop_id => @workshop.id) do %>
        <% if params[:workshop_id].present? %>
          <div class= "group_button" style= "background-color: white;color:black;"><%= @workshop.name%></div>
        <% else %>
          <div class= "group_button" style= "background-color: black;color:white;"><%= @workshop.name%></div>
        <% end %>
      <% end %>
      <% @groups_can.each do |group| %>
        <%= link_to workshop_verify_index_attendances_path(:group_id => group.id) do %>
          <% if params[:workshop_id].blank? && (@group.id == group.id)%>
            <div class= "group_button" style= "background-color: white;"><%= group.name%></div>
          <% else %>
            <div class= "group_button" style= "background-color: #00D396;"><%= group.name%></div>
          <% end %>
        <% end %>
      <% end %>
      <% @groups_cannot.each do |group| %>
        <%= link_to workshop_verify_index_attendances_path(:group_id => group.id) do %>
          <% if params[:workshop_id].blank? && (@group.id == group.id)%>
            <div class= "group_button" style= "background-color: white;"><%= group.name%></div>
          <% else %>
            <div class= "group_button" style= "background-color: #FF9900;"><%= group.name%></div>
          <% end %>
        <% end %>
      <% end %>
      <% @groups_already.each do |group| %>
        <%= link_to workshop_verify_index_attendances_path(:group_id => group.id) do %>
          <% if params[:workshop_id].blank? && (@group.id == group.id)%>
            <div class= "group_button" style= "background-color: white;"><%= group.name%></div>
          <% else %>
            <div class ="group_button" style ="background-color: #999999"><%= group.name%></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<div class="workshop_verify_index2">
  <% if current_user.has_role? :attendance_admin%>
    <div class="pull-left workshop_verify_head" style="margin-left:3%;">
      <a href="/attendances/duan_verify_index" style="text-decoration: none;"><< 返回 </a>
    </div>
    <div class="pull-right workshop_verify_head" style="margin-right:3%;">
      <% if @workshops_not_varify.present? %>
        <%= link_to("前往下一个未审完车间  >>",workshop_verify_index_attendances_path(:workshop => @workshops_not_varify.first.id,:year =>@year ,:month => @month))%>
      <% else %>
        <span style= "color: green;">车间全部审核完毕！</span>
      <% end %>
    </div>
  <% end %>

  <h4>
    <% if params[:workshop_id].present? %>
      <%= @workshop.name%><%= @shenhe_month %>月考勤
    <% else %>
      <%= @group.name%><%= @shenhe_month %>月考勤(<%= @attendance_status.status %>)
    <% end %>
  </h4>



  <div class="workshop_verify_option">
    <% if (current_user.has_role? :attendance_admin)  %>

        <%= link_to batch_verify_attendances_path(authority: "duan",:workshop_id =>@workshop.id, year: @shenhe_year,month: @shenhe_month), method: :post,:data => {confirm: "您确定要一键审核本车间吗？"} do %>
          <span class="pull-right btn btn-primary">一键审核车间</span>
        <% end %>

      <%= link_to verify_attendances_path(authority: "duan", group_id: @group.id,year: @shenhe_year,month: @shenhe_month), method: :post  do %>
        <span class="pull-right btn btn-primary" style="margin-right:10px;">审核班组</span>
      <% end %>

      <%= link_to show_application_attendances_path(type: "duan"),data: {disable_with: "加载中... "} do %>
        <span class="pull-right btn btn-primary2" style="margin-right:10px;">查看申请<i style = "color:red;">(<%= @applications.count%>条)</i> </span>
      <% end %>

    <% elsif (current_user.has_role? :workshopadmin)%>
        <%= link_to batch_verify_attendances_path(authority: "workshop", year: @shenhe_year,month: @shenhe_month), method: :post,:data => {confirm: "您确定要一键审核本车间吗？"} do %>
          <span class="pull-right btn btn-primary">一键审核车间</span>
        <% end %>

      <%= link_to verify_attendances_path(authority: "workshop", group_id: @group.id,year: @shenhe_year,month: @shenhe_month), method: :post  do %>
        <span class="pull-right btn btn-primary" style="margin-right:10px;">审核班组</span>
      <% end %>

      <%= link_to show_application_attendances_path(type: current_user.workshop_id),data: {disable_with: "加载中... "} do %>
        <span class="pull-right btn btn-primary2" style="margin-right:10px;">查看申请<i style = "color:red;">(<%= @applications.count%>条)</i> </span>
      <% end %>

      <%= link_to group_application_attendances_path(:year => @shenhe_year,:month => @shenhe_month,:group_id => @group.id),:data => {disable_with: "加载中 ... "} do %>
        <span class="pull-right btn btn-primary2" style="margin-right:10px;">点击申请</span>
      <% end %>
    <% end %>
  </div>
  <% if params[:workshop_id].blank? %>
    <div class="workshop_verify_group_statistics">
      当前班组统计：
      <% attendance_add_overtime = @attendances.sum(:add_overtime) %>
      <% @vacation_code_hash.keys.each do |code| %>
        <% sum = @attendance_counts.sum(code).to_i %>
        <% if sum == 0%>
          <% if (code == "d" )&& (attendance_add_overtime.to_i > 0) %>
            <%= @vacation_code_hash[code] %>:<%= attendance_add_overtime.to_i%>&nbsp;&nbsp;
          <% end %>
        <% else %>
          <% if (code == "d" )&& (attendance_add_overtime.to_i > 0) %>
            <%= @vacation_code_hash[code] %>:<%= attendance_add_overtime.to_i + sum %>&nbsp;&nbsp;
          <% elsif %>
            <%= @vacation_code_hash[code] %>:<%= sum %>&nbsp;&nbsp;
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="content-table" style="clear:both;width:94%;margin-left:3%;overflow:auto;">
    <table class="table overflow-y table-bordered">
      <thead>
        <tr>
          <th>序列号</th>
          <th>姓名</th>
          <th>工资号</th>
          <th>职名</th>
          <% arry = ["日","一","二","三","四","五","六"]%>
          <% (1..31).each do |i| %>
            <th>
              <%= i %>
              <br><%= arry[Time.local(@shenhe_year, @shenhe_month, i).wday]%>
            </th>
          <% end %>
          <% @vacation_code_hash.values.each do |short_name| %>
            <th><%= short_name%></th>
          <% end %>
        </tr>

      </thead>
        <tbody>
          <% n = 1 %>
          <% @employees.each do |employee| %>
            <tr>
              <th><%= n %></th>
              <th><%= employee.name %></th>
              <th><%= employee.sal_number %></th>
              <th><%= employee.duty %></th>
              <% attendance = Attendance.find_by(employee_id: employee.id, month: @shenhe_month, year: @shenhe_year) %>
              <% attendance_count = AttendanceCount.find_by(employee_id: employee.id, month: @shenhe_month, year: @shenhe_year )%>
              <% if attendance.present? %>
                <% attendance_month_attendances = attendance.month_attendances %>
                <% day_number = 1 %>
                <% (0..30).each do |day| %>
                  <td>
                    <% if attendance_month_attendances[day] == "x" %>
                      <%= "-"%>
                    <% else %>
                      <%= @vacation_code_hash[attendance_month_attendances[day]] %>
                    <% end %>
                  </td>
                  <% day_number += 1%>
                <% end %>
              <% else %>
                <td></td>
              <% end %>
              <% if attendance_count.present? %>
                <% @vacation_code_hash.keys.each do |code| %>
                  <% if attendance_count.attributes[code] == 0%>
                    <% if (code == "d" )&& (attendance.add_overtime.to_i > 0) %>
                      <td><%= attendance.add_overtime.to_i%> </td>
                    <% else %>
                      <td></td>
                    <% end %>
                  <% else %>
                    <% if (code == "d" )&& (attendance.add_overtime.to_i > 0) %>
                      <td><%= attendance.add_overtime.to_i + attendance_count.attributes[code]%> </td>
                    <% else%>
                      <td><%= attendance_count.attributes[code]%></td>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <td></td>
              <% end %>
            </tr>
            <% n += 1 %>
          <% end %>
       </tbody>
    </table>
  </div>
</div>



<script>
  $("#my-open-click").hide();

  $("#my-hide-click").click(function(){
    $("#foo").hide();
    $("#my-open-click").show();
  })

  $("#my-open-click").click(function(){
    $("#foo").show();
    $("#my-open-click").hide();
  })
</script>
