<%= render "attendance_sidebar" %>

<% groups = [] %>
<% application_id = [] %>

<% @groups.each do |group| %>
  <% groups << group.id %>
<% end %>

<% applications = Application.where(:group_id => groups,:status => "班组发起申请") %>
<% applications.each do |application| %>
  <% application_id << application.id %>
<% end %>

<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>待处理申请（条）</th>
        <th>详情</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= Application.where(:group_id => groups, :status => "班组发起申请").count %>条</td>
        <% unless Application.where(:group_id => groups, :status => "班组发起申请").count == 0 %>
          <td><%= link_to "点击查看", show_application_attendances_path(applications: application_id, type: @workshop.id), class: "btn btn-primary2" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <%= form_tag filter_attendances_path, method: 'get' do %>
    <%= label_tag :请输入时间段搜索 %>
    <%= select_tag(:year, options_for_select(@years.collect{ |u| u }), {:required => "true"}) %> ~
    <%= select_tag(:month, options_for_select(@months.collect{ |u| u }), {:required => "true"}) %>
    <%= hidden_field_tag :type, "workshop" %>
    <%= submit_tag :筛选 %>
  <% end %>
</div>

<% if (@choose_workshop.present?) && (@choose_group.present?)  %>
  <h4><%= Workshop.current.find(@choose_workshop).name %>&nbsp<%= Group.current.find(@choose_group).name %>&nbsp
    <% if @year.present? && @month.present? %>
      <%= @month %>
    <% else %>
      <%= Time.now.month %>
    <% end %>月
    考勤汇总
  </h4>
<% else %>
  <h4><%= @workshop.name %>
    <% if @year.present? && @month.present? %>
      <%= @month %>
    <% else %>
      <%= Time.now.month %>
    <% end %>月
    考勤汇总
  </h4>
<% end %>

        <div class="col-md-12" style="height: 100%; margin-top:20px;">
    <div class="col-md-2" id="menu" style="background-color: white;overflow: auto;height: 100%;">
      <% if @year.present? && @month.present? %>
        <h5><%= link_to @workshop.name, filter_attendances_path(type: "workshop", month: @month, year: @year)%></h5>
        <ul>
          <% @groups.each do |group| %>
            <li><a href='/attendances/filter?type=workshop&group=<%= group.id %>&workshop=<%= @workshop.id %>&month=<%= @month %>&year=<%= @year %>'><%= group.name %></a></li>
          <% end %>
        </ul>
      <% else %>
        <h5><%= link_to @workshop.name, workshop_attendances_path(type: "duan")%></h5>
        <ul>
          <% @groups.each do |group| %>
            <li><a href='/attendances/workshop?group=<%= group.id %>&workshop=<%= @workshop.id %>'><%= group.name %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>

<div class="card">
  <div class="col-md-10" style="overflow: auto">
    <table id="example" class="table table-bordered">
      <thead>
        <tr>
          <th>工资号</th>
          <th>班组</th>
          <th>姓名</th>
          <th>年龄</th>
          <% @vacation_name_hash.values.each do |name| %>
            <th><%= name %></th>
          <% end %>
        </tr>
      </thead>
        <tbody data-behavior='sortable'>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.sal_number %></td>
              <td><%= Group.current.find_by(:id => employee.group).name %></td>
              <td><%= employee.name %></td>
              <td><%= employee.age %></td>
              <% @vacation_code_hash.keys.each do |code| %>
                <% if @year.present? && @month.present? %>
                  <td><%= AttendanceCount.where(:vacation_code => code, :employee_id => employee.id, :month => @month, :year => @year).sum(:count) %></td>
                <% else %>
                  <td><%= AttendanceCount.where(:vacation_code => code, :employee_id => employee.id, :month => Time.now.month, :year => Time.now.year).sum(:count) %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
       </tbody>
    </table>
  </div>
</div>
</div>

<script type="text/javascript">
  (function(e) {
    for(var _obj=document.getElementById(e.id).getElementsByTagName(e.tag),i=-1,em;em=_obj[++i];){
      em.onclick = function(){ //onmouseover
        var ul = this.nextSibling;
        if(!ul){
          return false;
        }
        ul = ul.nextSibling;
        if(!ul) {
          return false;
        }
        if(e.tag != 'a') {
          ul = ul.nextSibling;
          if(!ul){
            return false;
          }
        } //a 标签控制 隐藏或删除该行
        for(var _li=this.parentNode.parentNode.childNodes,n=-1,li;li=_li[++n];) {
          if(li.tagName=="LI"){
            for(var _ul=li.childNodes,t=-1,$ul;$ul=_ul[++t];){
              switch($ul.tagName){
                case "UL": $ul.className = $ul!=ul?"" : ul.className?"":"off";
                break;
                case "EM": $ul.className = $ul!=this?"" : this.className?"":"off";
                break;
              }
            }
          }
        }
      }
    }
  })({id:'menu',tag:'em'});
</script>
