<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">
  <%= render "standard_award_totals/award_tap"%>
  <div class="panel panel-body">
    <header>
      <h4 class="text-center"><%= @year %>年
                                            <% if @month.count == 0 %>
                                            <% elsif @month.count == 1 %>
                                              <%= @month.first %>月
                                            <% else %>
                                              <%= @month %>月
                                            <% end %>
                                            星级岗奖励总明细表
      </h4>
    </header>
    <div class="content-body">
      <%= form_tag star_awards_path,method: :get do %>
        <select class="" style="display:inline-block;" name="year">
          <% @years.each do |year| %>
            <% if @year == year %>
              <option value="<%= year %>" selected><%= year %></option>
            <% else %>
              <option value="<%= year %>"><%= year %></option>
            <% end %>
          <% end %>
        </select>年
        ~
        <span style="display:inline-block;width:200px;position:relative;top:5px;">
          <select class="form-control" name="month[]" multiple="multiple" id="month-multiple">
            <% @months.each do |month| %>
              <% if @month.include?(month) %>
                <option value="<%= month %>" selected><%= month %></option>
              <% else %>
                <option value="<%= month %>"><%= month %></option>
              <% end %>
            <% end %>
          </select>
        </span>月
        <%= submit_tag :筛选,:data => {:disable_with => "筛选中..."}%>
      <% end %>
      <%= link_to("删除表格",delete_star_awards_star_awards_path(:year => @year,:month => @month),method: :delete,:data => {confirm: "您确定要删除#{@year}年#{@month}月星级岗奖励总明细表吗？"},class:"btn btn-primary-upload pull-right") %>
      <%= link_to("导出表格",star_awards_path(:year => @year,:month => @month,format: "xls"),class:"btn btn-primary-upload pull-right") %>
      <%= link_to("上传星级岗奖励总明细表",show_modal_star_awards_path, remote: true,class:"btn btn-primary-upload pull-right", "data-toggle" => "modal", "data-target" => "#myModal") %>

      <div  class="content-table" style="clear:both;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>序号</th>
              <th>科室车间</th>
              <th>发放合计</th>
              <th>五星岗</th>
              <th>四星岗</th>
              <th>三星岗</th>
              <th>二星岗</th>
              <th>一星岗</th>
              <th>五星人数</th>
              <th>四星人数</th>
              <th>三星人数</th>
              <th>二星人数</th>
              <th>一星人数</th>
              <th>备注</th>
            </tr>
          </thead>
          <tbody>
            <% @star_awards.each do |item| %>
              <tr>
                <td><%= item.序号 %></td>
                <td><%= item.科室车间 %></td>
                <td><%= item.发放合计 %></td>
                <td><%= item.五星岗 %></td>
                <td><%= item.四星岗 %></td>
                <td><%= item.三星岗 %></td>
                <td><%= item.二星岗 %></td>
                <td><%= item.一星岗 %></td>
                <td><%= item.五星人数 %></td>
                <td><%= item.四星人数 %></td>
                <td><%= item.三星人数 %></td>
                <td><%= item.二星人数 %></td>
                <td><%= item.一星人数 %></td>
                <td><%= item.备注 %></td>
              </tr>
            <% end %>
         </tbody>
        </table>
      </div>
      <div class="text-center">
        <%= paginate @star_awards %>
      </div>
    </div>
    <div id="showModal"></div>
  </div>
</div>

<script>
$("#month-multiple").select2( { theme: "bootstrap"} );
</script>
