<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Description">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1" ss:ShrinkToFit="1"/>
      <Borders>
      <Border ss:Position="Top" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Bottom" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Left" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Right" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="Description"><Data ss:Type="String">序号</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">科室车间</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">发放合计</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">五星岗</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">四星岗</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">三星岗</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">二星岗</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">一星岗</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">五星人数</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">四星人数</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">三星人数</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">二星人数</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">一星人数</Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String">备注</Data></Cell>

      </Row>
    <% @export_star_awards.each do |item| %>
      <Row>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.序号 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.科室车间 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.发放合计 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.五星岗 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.四星岗 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.三星岗 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.二星岗 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.一星岗 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.五星人数 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.四星人数 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.三星人数 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.二星人数 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.一星人数 %></Data></Cell>
        <Cell ss:StyleID="Description"><Data ss:Type="String"><%= item.备注 %></Data></Cell>

      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
