<!DOCTYPE html>
<html>
  <head>
    <title>ManageSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
  	<%= Gon::Base.render_data({}) %>
      <%= render "common/flashes"%>
      <%= yield%>
      
  </body>
</html>
