
<div class="col-md-4 col-md-offset-4">
  <h4 class="text-left">创建新用户</h4>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div style="margin-bottom: 25px" >
        <%= f.input :name, :label => false, placeholder: "用户名", required: true, autofocus: true %>

        <div class="form-group">
          <%= f.label :选择权限 %>
          <%= f.select :roles,  Role.where.not(:name => ["superadmin", "attendance_admin", "awardadmin", "limitadmin", "empadmin", "saleradmin"]).pluck(:translate_role)%>
        </div>
        <!-- <%= f.input :name, :label => false, as: :radio_buttons, collection:  [['一般用户', false], ['企业用户', true]], required: true %> -->
        <!-- <%= f.input :roles, as: :radio_buttons, collection: Role.where.not(:name => ["superadmin", "attendance_admin", "awardadmin", "limitadmin", "empadmin", "saleradmin"]), value_method: :name, required: true %> -->
        <%= f.input :password, :label => false, placeholder: "输入密码", required: true %>
        <%= f.input :password_confirmation, :label => false, placeholder: "请再次输入", required: true %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "点击创建" %>
    </div>
  <% end %>

  <%= link_to "返回", :back %>
</div>
