
<div class="col-md-4 col-md-offset-4">
  <h4 class="text-left">创建新用户</h4>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div style="margin-bottom: 25px" >
        <%= f.input :name, :label => false, placeholder: "用户名", required: true, autofocus: true %>

        <div class="form-group">
          <%= f.label :选择权限 %>
          <!-- <%= f.select :roles,  Role.where.not(:name => ["superadmin", "attendance_admin", "awardadmin", "limitadmin", "empadmin", "saleradmin"]).pluck(:translate_role) %> -->
          <!-- <% @select_roles = Role.where.not(:name => ["superadmin", "attendance_admin", "awardadmin", "limitadmin", "empadmin", "saleradmin"]).pluck(:translate_role) %> -->
          <select  onChange="selectDiv(this.value)">
            <option value="optionID1">班组管理员</option>
            <option value="optionID2">车间管理员</option>
            <option value="optionID3">科室管理员</option>
            <option value="optionID4">领导</option>
          </select>
        </div>

        <div id="optionID1">
          <select name="workshop" id="selid" onchange="selCity(this)">
            <option>--选择车间--</option>
            <% Workshop.pluck("name","id").each do |name| %>
                <option value="<%=name[1]%>"><%= name[0]%></option>
            <% end %>
	         </select>
	         <select name="group" id="subselid">
	             <option>--选择班组--</option>
	          </select>
        </div>


        <div id="optionID2" style="display:none">
          <select>
            <% Workshop.where.not(:name => '机关').pluck(:name).each do |item| %>
              <option><%= item %></option>
            <% end %>
          </select>

        </div>


        <div id="optionID3" style="display:none">
          <select>
            <% Group.where(:workshop_id => Workshop.where(:name => "机关").pluck(:id)).pluck(:name).each do |item| %>
              <option><%= item %></option>
            <% end %>
          </select>
        </div>


        <div id="optionID4" style="display:none">
        </div>


        <%= f.input :password, :label => false, placeholder: "输入密码", required: true %>
        <%= f.input :password_confirmation, :label => false, placeholder: "请再次输入", required: true %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "点击创建" %>
    </div>
  <% end %>

  <%= link_to "返回", :back %>
</div>

<script>
function selectDiv(selectOptionValue) {
    for (var i=1;i<5;i++){
        var currentDivId = "optionID"+i;
        if (selectOptionValue == currentDivId){
            document.getElementById(currentDivId).style.display='';
        } else {
            document.getElementById(currentDivId).style.display='none';
        }
    }
}

function selCity() {
  var arr = gon.group_name;
  var selNode = document.getElementById("selid");
  var subselNode = document.getElementById("subselid");
  var index = selNode.selectedIndex;
  var citys = arr[index];
  subselNode.options.length = 0;

  for(var i=0; i<citys.length; i++) {
      var optionNode = document.createElement("option");
      optionNode.value = citys[i][1];
      optionNode.innerText = citys[i][0];
      subselNode.appendChild(optionNode);
  }
}
</script>
